[2016-11-01 00:22] FeodorFitsner commented on #1141
Yes, please add the issue.

[2016-11-01 04:26] jakirkham commented on #1107
Thanks for the list.

So I deleted the other `python-slugify` (as it had just built). Could you please rename the remaining one back to `python-slugify`?

[2016-11-01 04:34] jakirkham commented on #1107
`bob.ip.color` interestingly never should have been building. However, it seems the CI was building as recently as 9 days ago. I think one of the projects wasn't configured correctly when it got created for some reason. Not sure if that helps at all.

[2016-11-01 04:35] jakirkham commented on #1107
As far as how I do cleanup, I tried a few different things. However, it seems like I can get away with just deleting one of the projects from the web interface. Now it always picks the most recently built project it seems. Still it provides me a way to get rid of the extra one.

[2016-11-01 04:36] jakirkham commented on #1107
Have addressed all of the ones that you provided. Thanks again. 😄

[2016-11-01 08:54] IlyaFinkelshteyn commented on #1144
Hi Patrick,

I believe that problem is that Appveyor treats this script as a single atomic step and therefore considers it as done and do not re-run it after reboot.

What I recommend to do is spread this logic between different stages and make things more straightforward. Try this in `appveyor.yml`:

[code]

Note the following:
- I removed `if-else` for simplicity at least for now.
- I separated

[2016-11-01 13:09] Liryna commented on #1141
I don't know if this is related to this issue changes made but: Appveyor stop now during the build, reboot without reason and restart all the script without cleanup O_O

We can see the `before_build` https://github.com/Liryna/dokany/blob/master/appveyor.yml#L89
here: https://ci.appveyor.com/project/Liryna/dokany/build/1.0.1-3#L98
and here: https://ci.appveyor.com/project/Liryna/dokany/build/1.0.1-

[2016-11-01 15:27] Paebbels commented on #1144
Hello,

I tried your example code. I needed to remove `{current}` from the bcdedit command line. I don't know why, because every website describes the command as you wrote it in your answer ...

**What are my observations?**

Multiple runs are queued in your system. The first line was shown after the second line reached the reboot command:
![image](https://cloud.githubusercontent.com/assets/956109

[2016-11-01 20:10] Rondom opened #1145 "Timestamps are reset to 0:00:00 after reboot"
We are rebooting the build VM like this:

    Write-Host "Before reboot"
    Start-Sleep -s 10
    Restart-Computer -Force
    Start-Sleep -s 10

What happens:
We notice that the build time gets reset to 0:00:00 after the reboot.
https://ci.appveyor.com/project/Rondom/dokany/build/1.0.1-172/job/ubuf4fe6qjvlt7yg#L122

Expectation: The first message after reboot would be wall-clock time relative to

[2016-11-01 20:14] Rondom opened #1146 "Downloading log file while the build is running makes output stop"
To reproduce:

1. Watch running build in console tab
2. Click "Log" button to download the (in-progress) log

What happens:
Log downloads correctly, but output in the browser (FF 50 on Debian Stretch) does no longer update.

Expectation:
Console output continues to be updated

Workaround:
Reload page

[2016-11-01 21:40] pumano commented on #1108
I have some issues with yarn today.
I reported bug to yarn: https://github.com/yarnpkg/yarn/issues/1604

[2016-11-01 23:53] pumano commented on #1108
also I found another yarn issue for windows: https://github.com/yarnpkg/yarn/issues/1606

[2016-11-01 23:56] FeodorFitsner commented on #1108
OK, thanks for reporting the issue. I'm closing this issue though as it was intended for tracking Yarn installation on AppVeyor build workers. Looks like the issue you have is not related to Yarn available in `PATH` as I ran it on previous image and got the same results: https://ci.appveyor.com/project/FeodorFitsner/test-storage

[2016-11-01 23:56] #1108 closed

[2016-11-01 23:58] #1120 closed

[2016-11-01 23:58] #1131 closed

[2016-11-01 23:58] #1133 closed

[2016-11-01 23:58] #1134 closed

[2016-11-02 00:18] GandaG opened #1147 "Input line too long"
Build: https://ci.appveyor.com/project/GandaG/relinker/build/32

After trying to activate a miniconda environment a "The input line is too long." error occurred.

[2016-11-02 01:18] Daniel15 commented on #1108
@pumano  - If you want to install Yarn as part of your AppVeyor build, I suggest using the Chocolatey package. For example:
[code]

We do this for Yarn itself (see https://github.com/yarnpkg/yarn/blob/master/appveyor.yml) 😄

Docs here: https://yarnpkg.com/en/docs/install-ci

@FeodorFitsner  - It would be fantastic to have Yarn preinstalled on the build workers :D

[2016-11-02 01:19] FeodorFitsner commented on #1108
But it is! It is pre-installed already: https://www.appveyor.com/updates/2016/11/01/

[2016-11-02 01:21] Daniel15 commented on #1108
Oh awesome, I didn't even notice! Thank you @FeodorFitsner! ❤️

[2016-11-02 01:30] Daniel15 commented on #1108
Just submitted a PR to update the Yarn docs and mention that Yarn is preinstalled: https://github.com/yarnpkg/website/pull/233

[2016-11-02 08:51] IlyaFinkelshteyn commented on #1144
Below is YAML content I used to show how it should work. I believe it is self-explained with comments

[Build with this YAML](https://ci.appveyor.com/project/IlyaFinkelshteyn/projecta/build/1.0.87) - also I believe self-explainable.

[code]

What about multiple builds, please check that you don't have multiple identical webhooks which start AppVeyor build in your GitLab settings.

--ilya.

[2016-11-02 09:12] jeff-pang commented on #1132
@IlyaFinkelshteyn I have created a public project for this at https://github.com/turnkeyinc/AppveyorTestBuild

[2016-11-02 14:31] xzyfer opened #1148 "Node.js on ChakraCore"
Add support for [node-chakracore](https://github.com/nodejs/node-chakracore). They provide precompiled msi binaries for each [GH release](https://github.com/nodejs/node-chakracore/releases/tag/node-chakracore-7.0.0-pre9).

This will help adoption, and stress testing of node-chakracore.

Related
https://github.com/nodejs/node-chakracore/issues/136
https://github.com/sass/node-sass/issues/1776
https

[2016-11-02 21:43] Liryna commented on #1141
Ok my last message was a bsod on our side 👍

When a BSOD happen, appveyor rerun the full build.

[2016-11-02 21:48] Paebbels commented on #1144
Hello Ilya,

thank you very much. It looks very nice.
I have checked again, but my current working branch has only a local and one remote copy:
![image](https://cloud.githubusercontent.com/assets/956109/19948677/25f324ae-a14e-11e6-9354-9fca918efbfc.png)
but I still see 2 AppVeyor runs per commit hash:
![image](https://cloud.githubusercontent.com/assets/956109/19948698/4202ebd4-a14e-11e6-8dea-e4b55

[2016-11-02 22:03] matthargett opened #1149 "Restore cache after install step so submodule build directories can be cached"
In http://github.com/ReactWindows/react-native-windows , we have ChakraCore as a submodule and we delegate to its build in our project.

Since we don't update the hash of the submodule often, we'd like to cache ChakraCore's Build/VcBuild/bin directory so we don't re-build it unnecessarily.

Currently, we can't do that because the cache restore happens before the install step where we do our 'git s

[2016-11-02 22:06] matthargett opened #1150 "Windows Server 2016"
Right now, we can build our Universal Windows App, but can't run any tests on AppVeyor.

Please add a Windows Server 2016 environment, now that RTM build have been available for a month.

(Note: We use shared code between our WPF and UWP projects, so we still need the older OS environments available as well.)

Updating Docker:

[code]

[2016-11-03 00:38] Rondom commented on #1141
Let's summarize:
* Initial issue (hang right after checkout)
  - Probably cache-related
  - So far we have not been able to reproduce it with the new cache (with the old cache it happened every few builds). I tried running a commit that had failed before multiple times and could not reproduce it
 - I suggest leaving this issue open for a few days and if the problem does not appear again, we can cl

[2016-11-03 01:24] FeodorFitsner commented on #1150
Please look at this thread for Windows Server 2016 status: http://help.appveyor.com/discussions/questions/2652-windows-server-2016

[2016-11-03 03:19] IlyaFinkelshteyn opened #1151 "add MicrosoftStoreServicesSDK to build VM"
Write-Host "Installing MicrosoftStoreServicesSDK..." -ForegroundColor Cyan

Write-Host "Downloading..."
$msiPath = "$env:USERPROFILE\MicrosoftStoreServicesSDK.msi"
(New-Object Net.WebClient).DownloadFile('https://visualstudiogallery.msdn.microsoft.com/229b7858-2c6a-4073-886e-cbb79e851211/file/206533/4/MicrosoftStoreServicesSDK.msi', $msiPath)

Write-Host "Installing..."
cmd /c start /wait msiexec

[2016-11-03 04:29] IlyaFinkelshteyn commented on #1149
Hi Matt,

Could you please try to use custom git clone scriopt (clone_script in YAML, or Settings > Clone script in UI). In this script you can do both git clone and git submodules commands and all will happen before cache is restored.

Please let us know if this helps.

Thank you,
Ilya.

From: Matt Hargett [mailto:notifications@github.com]
Sent: Wednesday, November 2, 2016 3:04 PM
To: appveyor/ci

[2016-11-03 04:35] IlyaFinkelshteyn commented on #1144
Multiple Appveyor builds can be started if multiple webhooks sent. I suspect that somehow more than one webhook is configured for your GitLab repository to start AppVeyor build. More info [here](https://docs.gitlab.com/ce/web_hooks/web_hooks.html).

--ilya.

[2016-11-03 06:22] IlyaFinkelshteyn commented on #1148
Hello, you can install msi you need at `init` stage of AppVeyor build with simple script which takes about 20 seconds and looks like this:

[code]

--ilya.

[2016-11-03 06:52] IlyaFinkelshteyn commented on #1147
Hi Daniel,

This is because `path` environment variable is too long. It is that long because we need to support a lot of scenarios out-of-the-box.  You can make it shorter with PowerShell command like this:

`$env:path = ($env:path -split ";").Where({!($_ -like "*nunit*")}) -join ";"`

Note that in this example I get rid of all `path` entries which contain `nunit` just as example. You need to exam

[2016-11-03 07:24] xzyfer commented on #1148
Thanks @IlyaFinkelshteyn. I've tried something similar but run into an issue with `DownloadFile`.

[code]

[2016-11-03 07:26] IlyaFinkelshteyn commented on #1148
Please try script provided, it was tested with AppVeyor before publishing here,

[2016-11-03 07:27] IlyaFinkelshteyn commented on #1148
Also you can implement retry if network connection appears to be flaky.

[2016-11-03 08:29] XhmikosR opened #1152 "Bundler 1.13.7"

[2016-11-03 08:29] XhmikosR commented on #1030
Git 1.10.2 is out.

[2016-11-03 08:34] xzyfer commented on #1148
I have tried what you have suggested. I'm getting the above error.

https://ci.appveyor.com/project/sass/node-sass/build/2116/job/df741m5revs5eiy6

https://github.com/sass/node-sass/compare/trash/chakra

[2016-11-03 08:41] xzyfer commented on #1148
I can get it installing now but `node` appears to still be executing node 4.

[2016-11-03 09:37] IlyaFinkelshteyn commented on #1148
OK, I am not very familiar with this product, but I see that when you install msi, it creates **Node.js (chakracore) command prompt** shortcut from which commands supposed to be executed. No difference with AppVeyor I believe. This shortcut calls `C:\Windows\System32\cmd.exe /k "C:\Program Files\nodejs (chakracore)\nodevars.bat"`. Please try to add this command before executing you node code and s

[2016-11-03 12:09] Paebbels commented on #1144
Hello Ilya,

I looked into my GitHub account and I can't see any AppVeyor hooks (as expected). Then I looked into my GitLab account. This account has one registered hook:

![image](https://cloud.githubusercontent.com/assets/956109/19965173/0e50ca68-a1c6-11e6-8438-8c0cef642ff1.png)

I'm using GitLab, because I need the Git-LFS feature to "copy" the compiler onto AppVeyor. Google Driver doesn't offe

[2016-11-03 12:37] remojansen commented on #1131
I'm getting an error:

[code]

You can see a build log at:

https://ci.appveyor.com/project/remojansen/inversifyjs/build/254/job/oq4wfttejd4yrjt8#L307

Looks like this is a known issue https://github.com/npm/npm/issues/14438.

[2016-11-03 13:31] XhmikosR commented on #1131
And how this is related to AppVeyor?

[2016-11-03 13:40] remojansen commented on #1131
The following is done by appveyor:
[code]

I'm not sure about the right fix but here are some of the suggestions from the issue that I already linked:

Maybe your node installation script is not working properly?

[2016-11-03 13:42] XhmikosR commented on #1131
I still fail to see how this is an AppVeyor only issue. I mean, there shouldn't be any modules in %APPDATA%\npm.

As for manually deleting the local node_modules folder, that's something the user has to do. Or the AppVeyor cache should be more clever and check for the node version.

/CC @FeodorFitsner

[2016-11-03 13:51] remojansen commented on #1131
The build runs in a few versions of node:
[code]

The build is working fine in all versions of node except `nodejs_version: "stable"`

I also found a second related issue with similar suggestions https://github.com/nodejs/node/issues/9377

[2016-11-03 13:53] XhmikosR commented on #1131
Just clear your node_modules manually. The cache should be more clever and depend on the node version like Travis CI is doing.

[2016-11-03 14:07] remojansen commented on #1131
Looks like I fixed by https://github.com/inversify/InversifyJS/pull/398/commits/6c8b87448b70804a1a5fdd25487c42a26b0a67a2 but I really think this shouldn't be needed as a manual step.

Thanks a lot for helping me out 👍

[2016-11-03 14:11] xzyfer commented on #1148
I have managed to get this working in https://github.com/sass/node-sass/blob/trash/chakra/appveyor.yml.

For reference [node-chakracore](https://github.com/nodejs/node-chakracore) is an experimental new Node.js engine currently primarily targeted at Windows. It's something Node projects on Windows will want to start testing against. It's for this reason I opened this request for an official suppor

[2016-11-03 14:15] XhmikosR commented on #1131
Your so called fix is moot. You are basically disabling the cache. Unless you revert it later that is.

[2016-11-03 14:17] XhmikosR commented on #1131
Have a look at https://github.com/appveyor/website/blob/master/appveyor.yml and especially

[code]

[2016-11-03 16:11] kunalspathak commented on #1148
@IlyaFinkelshteyn . currently https://github.com/sass/node-sass/pull/1777 is fetching the msi from [node-chakracore release page](https://github.com/nodejs/node-chakracore/releases). We are working on getting CI builds from `node-cahkracore` in nodejs org. Once that is done, we should add custom installation in [nodejs-utils.psm1](https://github.com/appveyor/ci/blob/9852368d1a776aa2ecb7621d9182c81

[2016-11-03 16:38] UbaidBashir opened #1153 "Dashboard customization"
I am planning to install big screens in my office. For this i wish appveyor should display all the pushes(currently execution and pushes in the queue) on one side of screen and the full execution of currently executing push on other side. Once this push finishes, appveyor should alert me with sound like push failed or passed. once this is done,then next build will start and will show build executi

[2016-11-03 18:57] jakirkham commented on #946
So I have been playing around and it seems I can do the following.

1. Create a [roll]( https://www.appveyor.com/docs/team-setup/#role ) with no permissions.
2. Set/override [permissions on a project]( https://www.appveyor.com/docs/team-setup/#permissions ) for that roll.
3. [Link]( https://www.appveyor.com/docs/team-setup/#understanding-relationship-between-github-team-and-appveyor-role ) a GitHu

[2016-11-03 19:00] jakirkham commented on #946
Having now done this exercise I have a couple of questions.

1. Can we do this through the AppVeyor API?
  1. If so, how?
  2. If not, can this be added?
2. How well does this scale?
  1. Can we add ~1300 roles like this?
  2. What sort of limitations do we have when adding these? (e.g. rate limiting)
  3. How will the web interface for pages like these behave?
3. Anything else we should be aware

[2016-11-03 19:31] FeodorFitsner commented on #946
1. Everything can be done via API - take a look at "Network" tab of browser Developer Tools to see what's being sent to AppVeyor REST API from UI.
2. You can give it a try, though be careful as it might be close to system abuse 😉

[2016-11-03 21:25] IlyaFinkelshteyn commented on #1144
Yes, we are getting multiple webhooks for the same commit, but what is strange they are not very close to each other in time, but have 4-5 minutes interval between them. What if you completely disable this webhook on GitLab for experiment, what will happen?

From: Patrick Lehmann [mailto:notifications@github.com]
Sent: Thursday, November 3, 2016 5:10 AM
To: appveyor/ci <ci@noreply.github.com>
Cc:

[2016-11-03 21:40] IlyaFinkelshteyn commented on #1132
I created [PR with proposed fix](https://github.com/turnkeyinc/AppveyorTestBuild/pull/1)

[2016-11-03 21:52] IlyaFinkelshteyn commented on #1132
Hmm, it looks like it [works for me](https://ci.appveyor.com/project/IlyaFinkelshteyn/appveyortestbuild/build/1.0.3), but my PR does not work for your repo. Weird. By the way, can you successfully build in VS?

[2016-11-04 03:15] IlyaFinkelshteyn commented on #1153
There are number of tools like http://sirenofshame.com/ and https://catlight.io/ which work with AppVeyor. Also everything is exposed with https://www.appveyor.com/docs/api/ so you can implement this on top of our API or existing tools will work for you.

[2016-11-04 03:25] jeff-pang commented on #1132
Yes, I can successfully build in VS2015.

[2016-11-04 03:32] jeff-pang commented on #1132
I am not sure how AppVeyor is built, but is there a possiblity it could be due to the snapshot of the VM for my repo (I am on Pro plan) being of an older version? I say this because the build log produced from your repo is very difference from mine after "nuget restore"

[2016-11-04 14:18] hovancik commented on #1058
Any update? I have same issue: `Uncaught Error: EPERM: operation not permitted` when I try to `open` or `unlink` file in my test:

[code]

[2016-11-04 14:36] UbaidBashir commented on #1153
i was checking http://sirenofshame.com/ . But it does not have appveyor as one of the options in CI server.  Could you please tell me little bit about how to configure?

[2016-11-04 19:13] IlyaFinkelshteyn commented on #1153
Please look at this https://github.com/appveyor/SirenOfShame fork.

From: UbaidBashir [mailto:notifications@github.com]
Sent: Friday, November 4, 2016 7:36 AM
To: appveyor/ci <ci@noreply.github.com>
Cc: Ilya Finkelshteyn <ilyaf@appveyor.com>; Comment <comment@noreply.github.com>
Subject: Re: [appveyor/ci] Dashboard customization (#1153)

i was checking http://sirenofshame.com/ . But it does not ha

[2016-11-04 19:20] IlyaFinkelshteyn commented on #1058
Hi Jan,

It seems this this error happens due to some race condition in node on Windows we cannot control. However [in a slightly different case](http://help.appveyor.com/discussions/problems/3147-error-eperm-operation-not-permitted-rename-on-npm-install) retry helped. Can you try to implement retry (with some wait between attempts) in your tests and see if it helps?

--ilya.

[2016-11-05 00:40] IlyaFinkelshteyn commented on #1132
Hi Jeff,

Finally I figure out what happened, sorry it took little too long. You are still on `Visual Studio 2013` VHD, which has old nuget. You can do one of the following:
- Opt-in for `Visual Studio 2015` VHD for all your projects
- Set `Visual Studio 2015` image for specific project (see PR history)
- Download nuget simple to current directory and run it (see PR history)

Have a good weekend!

[2016-11-05 01:32] FeodorFitsner commented on #248
That will be implemented before the end of this year.

[2016-11-05 02:29] PureKrome commented on #248
[](http://i.giphy.com/dkGhBWE3SyzXW.gif)

[2016-11-05 05:26] jeff-pang commented on #1132
@IlyaFinkelshteyn Thanks. Can I know how do I opt-in for Visual Studio 2015 VHD for all my projects?

[2016-11-05 07:55] atian25 commented on #1058
@popomore had solve this.

[2016-11-05 08:19] IlyaFinkelshteyn commented on #1132
@jeff-pang You are welcome! Just send email to team at appveyor.com from your work email address and also please add other people who are various projects owners to CC.

[2016-11-05 10:52] fommil commented on #985
can you please create a button for this? I am using github to auth, so trying to figure out all the headers I need to send is a real pain.

[2016-11-05 11:03] hovancik commented on #1058
retry didn't help. I will find another way to make my test.

[2016-11-05 11:21] fommil opened #1154 "please make OpenJDK available"
The builds of OpenJDK from Zulu are free/libre http://www.azul.com/downloads/zulu/zulu-windows/ and contain vital information that the Oracle distribution (e.g. the `src.zip`) often forgets to include in the Windows version.

[2016-11-05 11:25] fommil opened #1155 "please make sbt installed by default"
I use this to install http://www.scala-sbt.org/ but if you installed it system wide it would make it super easy for anybody else to use appveyor for scala development

[code]

[2016-11-06 14:19] gilios commented on #14
my appveyor.yml has "notifications" configuration for events:
on_build_success
on_build_failure
on_build_status_changed
are there any deploy events ?
it seems like the deployment notifications are available only from the environments page

[2016-11-07 02:19] matthargett commented on #1149
That worked! For reference, here's the excerpt from my appveyor.yml:

cache:
- ReactWindows\packages -> ReactWindows\**\packages.config
- '%USERPROFILE%\.nuget\packages -> ReactWindows\**\project.json'
- ChakraCore\Build\VcBuild -> ChakraCore\lib\Common\*.h

clone_script:
- cmd: >-
    git clone -q --branch=%APPVEYOR_REPO_BRANCH% https://github.com/%APPVEYOR_REPO_NAME%.git %APPVEYOR_BUILD_FOLDER%

[2016-11-07 02:20] #1149 closed

[2016-11-07 14:25] Igmat opened #1156 "Node.js stderr of child process"
While working on this issue https://github.com/kulshekhar/ts-jest/issues/53 I faced unexpected problems with AppVeyor.
## What we are doing
We are spawning `Jest` process in watch mode, changing watched files, collecting output and checking it for correctness.
## What is expected
I've tried my tests on 3 different Windows machines and everywhere they worked just fine, so expected behavior is all t

[2016-11-07 20:02] IlyaFinkelshteyn commented on #14
Hello,

Yes, only environment deployment has notifications, but you can use environment as part of the build. Will creating a new environment, and use it as your deployment provider in your build works for you? If not, please elaborate your requirements and current configuration more.

Thanks!
--ilya.

[2016-11-07 23:06] Rondom opened #1157 "Provide "before" commit SHA1 for builds triggered by git push"
We are running `git clang-format` on pull requests to detect inconsistent indentation in the changed lines.
https://github.com/dokan-dev/dokany/commit/c8ffc494482e299ed025855214db839a561ceab7

For pull-requests it is easy to determine the baseline commit to compare against (the parent of the merge-commit belonging to the branch merged into). For normal repository pushes AppVeyor does not provide a

[2016-11-08 02:01] Rondom opened #1158 "Handle planned and especially unplanned (BSOD) reboots cleanly"
# Planned i.e. manual reboots
There is an issue that output before reboot not appearing if one does not add a sleep (how long) before invoking the `Restart-Computer` cmdlet.
Also we added a sleep of one hour after the `Restart-Computer` to make sure that the next build step does not start executing right before the reboot)
 Thus it would be nice to document a "best-practice" for rebooting. I made

[2016-11-08 02:08] Rondom commented on #1141
I think we can close this. I rebuilt old commits multiple times and could not reproduce the hangs anymore with the new build cache.

I filed two issues as a follow-up:
* #1145 (timestamps are 0:00:00 after reboot)
* #1158 (handle BSODs and reboots cleanly)

[2016-11-08 02:11] FeodorFitsner commented on #1141
Sure, thanks

[2016-11-08 02:11] #1141 closed

[2016-11-08 02:19] FeodorFitsner opened #1159 "Flowdock integration"
https://www.flowdock.com/

[2016-11-08 02:24] Rondom commented on #1158
Oh, and it would be nice to have some message in the build log when the Build Agent comes up again after a reboot. That makes debugging easier :-D

[2016-11-08 03:18] IlyaFinkelshteyn commented on #1156
Lets continue in [here] (http://help.appveyor.com/discussions/problems/5500-nodejs-child-process-with-watch-and-stderr-problem), OK?

[2016-11-08 14:30] ili opened #1160 "Build is supposed to be succed while tests are failed"
I do have two configurations where build status is succeed while some tests are failed:
**First**
https://ci.appveyor.com/project/ili/linq2db/build/1.7.5.68/tests

`dotnet test` is used with nunit test runner and REST API to upload results.
Tests are done via PS script:
[code]
appveyor.yml:
[code]
**Second**
https://ci.appveyor.com/project/ili/linqtodb-identity/build/1.1.0.12/tests

`dotnet test`

[2016-11-08 14:36] stephengroat opened #1161 "Error upgrading MSYS2"
https://ci.appveyor.com/project/aquynh/unicorn/build/1.0.663/job/4q7o20craegqyd84#L17

Any advice?

[code]

[2016-11-08 14:42] FeodorFitsner commented on #1161
When/what was the last successful build?

[2016-11-08 15:38] stephengroat commented on #1161
Here's an example (https://ci.appveyor.com/project/aquynh/unicorn/build/1.0.664/job/atguml72fmy0f536)

I can't `pacman -Sy cmake` or `pacman -Syuu` or I get the error below:
[code]

[2016-11-08 18:15] peto268 opened #1162 "Duplicated tests results when using NUnit3 and the SetUpFixture attribute"
I've created a SetUpFixture (https://github.com/nunit/docs/wiki/SetUpFixture-Attribute) in my tests in a default namespace, so it will be applied to all the tests and it seems to cause all the tests being duplicated in AppVeyor. First the tests are listed with the filename being the dll which hosts them and second time they appear with a filename equal to the classname which has the SetUpFixture a

[2016-11-08 19:12] matthargett opened #1163 "AppVeyor detects successful command as failure"
Relating to #1149 , I had to modify my clone_script to handle builds of pull requests as triggered by GitHub and direct commits:

...
clone_script:
- ps: >-
    git clone -q $("--branch=" + $Env:APPVEYOR_REPO_BRANCH) $("https://github.com/" + $Env:APPVEYOR_REPO_NAME + ".git") $Env:APPVEYOR_BUILD_FOLDER

    cd $Env:APPVEYOR_BUILD_FOLDER

    if ($Env:APPVEYOR_PULL_REQUEST_NUMBER) { $("git fetch -q

[2016-11-08 20:26] IlyaFinkelshteyn commented on #1160
Hi Ilya,

Please look at [this discussion] (http://help.appveyor.com/discussions/problems/5480-appveyor-does-not-pick-up-mingw32-make-error).

Thanks!
Ilya :)

[2016-11-08 20:39] IlyaFinkelshteyn commented on #1163
Hi Matt,

I see that you already fixed the issue by adding `-q` switch. I believe that root cause of the problem is that  `git submodule update --init --recursive` writes output to stdErr, and PowerShell is not happy with it. Another approach would be rewrite the whole script in CMD, but I think that what you've done is much less expensive :)

--ilya.

[2016-11-08 21:05] matthargett commented on #1163
ah, ok. Any ideas why the same commit is failing in the pull request case here?
https://ci.appveyor.com/project/rozele/react-native-windows/build/1.0.1192

[2016-11-08 21:09] matthargett opened #1164 "Caching is not really speeding up the build"
We are caching NuGet packages and the build output of one of our submodules, but the cache restoration step is so slow that it isn't saving us much time in total runtime of the build:
https://ci.appveyor.com/project/matthargett/react-native-windows/build/1.0.136

Am I doing something wrong here? Any suggestions?

[2016-11-08 21:34] IlyaFinkelshteyn commented on #1163
Is script using any secure variables by any chance?

[2016-11-08 21:48] IlyaFinkelshteyn commented on #1164
We have [new build cache](https://www.appveyor.com/blog/2016/09/28/the-new-build-cache/), you need, will enable it of you opt in.

[2016-11-08 21:57] matthargett commented on #1163
no. The appveyor.yml for the build is in the commit:
https://github.com/ReactWindows/react-native-windows/blob/6fed72897d6cdfc0dd2b8abdfd07d6e9f4f1f498/appveyor.yml

[2016-11-08 23:28] IlyaFinkelshteyn commented on #1162
Hi Peter, I tried to do primitive repro [here](https://ci.appveyor.com/project/IlyaFinkelshteyn/unit-test-runners/history) and could not. As you can see number of tests is always 2, and addition of this `SetupFixture` did not change the result. Also in last build I wrote to console from `SetupFixture` methods to proof that it is really being called.

Can you please create a small "hello word" repr

[2016-11-08 23:49] matthargett commented on #1164
Sent an email, will close this issue if the new cache helps.

[2016-11-09 01:01] IlyaFinkelshteyn commented on #1163
Sorry this was premature. Please try [this](https://gist.github.com/FeodorFitsner/99d5ba9b6171063804f9db08534becb2).

--ilya.

[2016-11-09 08:07] peto268 commented on #1162
I've tried to fiddle with the project a bit and the reason why this was happening is because i'm running the tests using a custom PS script. The script was running the tests using the command:
``nunit3-console.exe --result=src\out\TestResult.xml;format=AppVeyor``
After that i'm uploading the results using the AppVeyor API.
Somehow (and i really don't know how) AppVeyor knows about the test results

[2016-11-09 08:07] #1162 closed

[2016-11-09 19:09] ili commented on #1160
@IlyaFinkelshteyn thanks a lot :) 👍

it looks like saves (we'll check it out finally on tests succeed :) )

[code]

[2016-11-09 19:09] #1160 closed

[2016-11-09 20:35] IlyaFinkelshteyn opened #1165 "Document UI vs YAML settings relation"
What can be set only in UI
What can be set only in YAML
How and what UI settings are merged with YAML settings in build time

[2016-11-09 20:38] IlyaFinkelshteyn opened #1166 "Expose /p:WarningLevel setting for msbuild"
This can decrease build noise for people who are OK and understand risk of missing msbuild warning.
http://stackoverflow.com/questions/1023858/how-to-suppress-specific-msbuild-warning

[2016-11-09 20:48] IlyaFinkelshteyn commented on #1162
Good:! If you can share your appveyor.yml it would be helpful to understand how it knows AppVeyor knows about the test results when it supposed to wait until XML provided :)

Thanks!
Ilya.

[2016-11-09 22:01] nibanks opened #1167 "Windows 10 Image Support (for Universal Windows Driver testing)"
What would be required to add Windows 10 image support?

We (Microsoft) contribute to the [OpenThread](https://github.com/openthread/openthread) project and have recently added appveyor support for it. We encountered an issue with deploying the universal Windows driver though because it's running Windows 10. I found #439 which mentioned it might be added in the future, but it was closed over a yea

[2016-11-09 23:10] FeodorFitsner commented on #1167
We can't provide Windows 10 on AppVeyor because of its licensing restrictions, however we are going to offer Windows Server 2016 soon (not sure though if that works for UWP stuff). Otherwise there is a new feature called "private build clouds" which is currently in testing that allows customers to run builds on their own VMs in Azure, GCE, Amazon clouds. Azure has Windows 10 images, so it would be

[2016-11-10 15:48] nibanks commented on #1167
I believe Windows Server 2016 would work well enough for the universal driver testing. Do you have an ETA for that to be released?

[2016-11-10 17:32] FeodorFitsner commented on #1167
We are working with our hosting provider to make it available by the end of November, but not exact ETA yet.

[2016-11-10 19:17] InesaFitsner commented on #394
It would be helpful to be able to specify artifacts in terms of time (e.g. retain < 3 months old), but also potentially by branch as well (e.g. keep at least last 5 builds of a branch).

[2016-11-11 20:45] espoelstra commented on #325
+1 for the Yaml anchors &configname and references to "inherit" values from where it was originally defined.

[2016-11-12 02:50] IlyaFinkelshteyn opened #1169 "Clear secure variables value from output even if custom code writes them"
This can prevent unintended exposure of secrets. Maybe this should be optional as this can degrade performance or people may have some specific reason to write them to console.

[2016-11-12 18:22] asbjornu commented on #733
@FeodorFitsner Is 32-bit MSYS2 now available on build workers? Because we're suddenly seeing [problems like this](https://ci.appveyor.com/project/jangler/schismtracker/build/1.0.51/job/u2oidbolk5nbl3mm#L415):

[code]

The above build is installing 32-bit MSYS2 manually as per your instructions in #994, but even when I remove the installation script, I get [errors such as this](https://ci.appveyor.

[2016-11-12 18:24] FeodorFitsner commented on #733
Nope, it hasn't been installed to build workers yet.

[2016-11-12 18:28] asbjornu opened #1170 "Error running pacman on 32-bit MSYS2"
As mentioned in #733, we're suddenly seeing [problems like this](https://ci.appveyor.com/project/jangler/schismtracker/build/1.0.51/job/u2oidbolk5nbl3mm#L415) on 32-bit MSYS2 when running `pacman --sync --noconfirm --needed base-devel`:

[code]

[64-bit versions of the same build are successful](https://ci.appveyor.com/project/jangler/schismtracker/build/1.0.51/job/xr8d39li063vc5qy), so I wonder w

[2016-11-12 18:29] asbjornu commented on #733
@FeodorFitsner: Okay, I've created #1170 to track it separately.

[2016-11-12 18:34] FeodorFitsner commented on #1170
When did it start happening? This might be some external factors. There were some recent updates to build workers, but nothing critical so far: https://www.appveyor.com/updates/

[2016-11-12 18:42] asbjornu commented on #1170
From the [build history](https://ci.appveyor.com/project/jangler/schismtracker/history), I can see that the problem started with [build 1.0.45 at October 30th](https://ci.appveyor.com/project/jangler/schismtracker/build/1.0.45), while everything was fine in [build 1.0.44 at October 8th](https://ci.appveyor.com/project/jangler/schismtracker/build/1.0.44).

The [commit that first failed the build](h

[2016-11-12 18:42] #1167 closed

[2016-11-13 10:28] IlyaFinkelshteyn commented on #1170
[This duplicate database entry error](https://ci.appveyor.com/project/jangler/schismtracker/build/1.0.45/job/xuigqxybtao9mc5x#L106) looks suspicious, can you check if it expected?

Thanks!
--ilya.

[2016-11-13 16:44] asbjornu commented on #1170
@IlyaFinkelshteyn: I agree that looks suspicious. So I went ahead and [removed `cache: 'C:\msys32'` from appveyor.yml](https://github.com/asbjornu/schismtracker/commit/3e0c4a34c80e15e2d1870105c64da347b135accc) and now [the build succeeds](https://ci.appveyor.com/project/asbjornu/schismtracker/build/job/95qc1ln6w1waqsod). Each 32-bit build will now probably take a longer time, but at least it doesn

[2016-11-13 16:44] #1170 closed

[2016-11-14 01:46] ShyPixie opened #1171 "Cannot delete a file from site-package"
I'm using the function bellow for delete a conflicting file from gevent module (my setup don't work with this file present).

[code]

But this function doesn't work with appveyor, because the real path for the gevent module is at "C:\Users\appveyor\AppData\Roaming\Python\Python34\site-packages\gevent\", and it's not listed in the python site.

I don't understand. The appveyor python is not install

[2016-11-14 20:53] peto268 commented on #1162
Hello, the yml isn't that interesting, most of the stuff is happening in a custom PS script, what i've basically did was something like:

[code]

In the yml:
[code]

[2016-11-15 03:27] PureKrome opened #1172 "New Notification Triggers for Deployment events"
Notifications are fired when the _entire_ build is successful.

It's possible that a PR is raised and the CI kicks off .. and there is _NO DEPLOYMENT_ in a PR (which is a GOOD THING :tm: ) .. and the build is successful. Any notification(s) setup will now be fired because the build has finished.

This can be spammy. It would be LOVELY to have a notification only sent when the deploy succeeds or fa

[2016-11-15 05:09] KangLin opened #1173 "Security Problem: The sftp deployment authentication error"
Hi,
Given this in appveyor.yml:

deploy:
  provider: FTP
  protocol: sftp
  host: frs.sourceforge.net
  username: kl222,RabbitGIS
  password:
    secure: 2WEtOQrdty3V3g0aEVvS3Q==
  folder: pfs/Release   #link pfs to /home/frs/project/r/ra/rabbitgis
  draft: false
  active_mode: false

Previously successful deployment, but now the authentication fails:

Collecting artifacts...
Found artifact 'build

[2016-11-15 06:52] ShyPixie commented on #1171
My falt.

[2016-11-15 06:52] #1171 closed

[2016-11-15 09:00] IlyaFinkelshteyn commented on #1173
Hello,

Hmm, I see that your .yml file did not changed since successful deployments and on AppVeyor side I don't see if something changed which can affect sftp client...

Could you please check that you still can connect to `frs.sourceforge.net` the same credentials from your computer, using some desktop clients like [WinSCP](https://winscp.net) or [FileZilla](https://filezilla-project.org/)?

--i

[2016-11-16 01:11] KangLin commented on #1173
Yes, My desktop clients can connect to frs.sorceforge.net.
I also looked at other projects that are also the same result. I think it is Appveyor deployment What is the problem, I have seen recently updated ssh, Whether it is the reason.

[2016-11-16 03:45] denfromufa opened #1174 "how to expose conda packages as artifacts?"
https://github.com/pythonnet/pythonnet/pull/281#issuecomment-260843597

[2016-11-16 03:45] denfromufa opened #1175 "pip upgrade warning breaks builds"
https://github.com/pythonnet/pythonnet/pull/281#issuecomment-258662260

[2016-11-16 04:44] IlyaFinkelshteyn commented on #1174
Hello,

According to [your YAML config](https://github.com/pythonnet/pythonnet/blob/master/appveyor.yml#L35), everything in `dist` folder is packaged as artifacts. So you need to ensure that packages are in this folder, or add another path to collect artifacts. Sure `dist` folder is relative to build folder which is by default project root, specifically `C:\projects\pythonnet`.

--ilya.

[2016-11-16 05:09] IlyaFinkelshteyn commented on #1174
It should be relative path, and not above build folder. I mean relative starting with `..\` will not work too. And yes you can use ** for recursive scan. More info [here](https://www.appveyor.com/docs/packaging-artifacts/).

[2016-11-16 05:14] denfromufa commented on #1174
@IlyaFinkelshteyn I will let @jreback comment, but most likely it is not possible to bring conda artifacts under C:\projects\pythonnet. So I guess we need to add a post-build script to copy from %PYTHON_BLD%\conda-bld\**\*.tar.bz2 to C:\projects\pythonnet\dist\?

[2016-11-16 05:18] IlyaFinkelshteyn commented on #1174
It seems like least expensive solution for me.

[2016-11-16 05:20] denfromufa commented on #1174
@IlyaFinkelshteyn is the environment variable for build directory C:\projects\pythonnet =  APPVEYOR_BUILD_FOLDER ?

[2016-11-16 05:53] IlyaFinkelshteyn commented on #1174
Yes, exactly. More [here](https://www.appveyor.com/docs/environment-variables/) :)

[2016-11-16 05:54] #1174 closed

[2016-11-16 18:45] FeodorFitsner opened #1176 ".NET Core 1.1"
Announcement: https://blogs.msdn.microsoft.com/dotnet/2016/11/16/announcing-net-core-1-1/
Download: https://www.microsoft.com/net/download/core

After installing .NET Core SDK 1.1 and VS Tooling:

1. Run these commands :

[code]

2. Open VS 2015 and create a new .NET Core web project.

[2016-11-16 18:46] FeodorFitsner opened #1177 "SQL Server 2016 SP1"
https://www.microsoft.com/en-us/download/details.aspx?id=54276

[2016-11-16 19:24] lalo opened #1178 "Boost vs12 not found"
In the documentation (https://www.appveyor.com/docs/installed-software/#languages-libraries-frameworks) you outline that you provide several boost versions but most of them are only vs14 and for example boost 59 has both vs12 and vs14.

Can we make a request to add vs12 to certain boost versions? How is this handled?

Thanks

[2016-11-16 22:08] FeodorFitsner opened #1179 "Visual Studio 2017 RC"
After installing VS 2017 RC on top of VS 2015 base image:

1. Install AppVeyor `vstest.console` logger and MSTestV2 support libraries
2. Replace MSBuild in `PATH` with MSBuild 15.0
3. Install latest NuGet 3.5
4. Pre-cache .NET Core:

    cd %temp%
    md app1
    cd app1
    dotnet new
    dotnet restore
    dotnet run

5. Install CMake 3.7.1
6. Re-install Git and Git LFS
7. Disable `Bonjour Servi

[2016-11-16 22:18] IlyaFinkelshteyn commented on #1178
Hi Eduardo,

 1. You can use this issue as a request. Just rename it to have specific boost version.

 2. However we have a workaround for you (example is for boost 62):

    - Add this build cache entry `C:\Libraries\boost_1_62_0_VS12`

    - Add this as 'install' script:

[code]

It will add about 10 minutes to your build first time, then about 1 minute or something for subsequent builds.

If yo

[2016-11-16 22:38] IlyaFinkelshteyn commented on #1175
It looks like `pip` writes this output to `stdErr` and everything which it written to `stdErr` is exception for PowerShell. Even though you found and workaround and after we upgrade `pip` in VHD this can still happen with different warning. Thus we would recommend run `pip` as CMD instead of PowerShell.

--ilya.

[2016-11-16 22:41] IlyaFinkelshteyn opened #1180 "Upgrade PIP to latest version"
Original issue https://github.com/pythonnet/pythonnet/pull/281#issuecomment-258662260

Upgrade script:

[code]

[2016-11-16 22:42] IlyaFinkelshteyn commented on #1175
https://github.com/appveyor/ci/issues/1180

[2016-11-16 22:54] lalo commented on #1178
@IlyaFinkelshteyn this is the project https://github.com/microsoft/bond

[2016-11-16 23:05] IlyaFinkelshteyn commented on #1178
OK, done. Your cache size limit is 1 GB according to your plan, but this should be enough for this installation. Let us know how it works.

--ilya.

[2016-11-16 23:11] denfromufa commented on #1175
I opened an issue in pip, let's see what they say:

https://github.com/pypa/pip/issues/4117

On Wed, Nov 16, 2016 at 4:42 PM, IlyaFinkelshteyn <notifications@github.com>
wrote:

[2016-11-17 08:43] IlyaFinkelshteyn commented on #1173
Sorry, you are right, it does not work and it is most probably connected to changed SSH.NET package. We are investigating and will update you. As a workaround you can use custom script deployment based on [WinSCP](https://chocolatey.org/packages/winscp.portable) ([scripting manual](https://winscp.net/eng/docs/scripting)).

--ilya.

[2016-11-17 08:51] KangLin commented on #1173
OK, I'll wait for you to update.

[2016-11-17 11:22] XhmikosR commented on #1029
v4.0.0 is out.

[2016-11-17 12:09] janhartmann commented on #1176
Is there a workaround for now? Where to obtain it during install?

[2016-11-17 18:23] olafleur commented on #711
What would be needed to support this?

Is it relatively similar to Gitlab.com repos?

[2016-11-17 19:18] FeodorFitsner commented on #1176
As far as I understand from [download page](https://www.microsoft.com/net/download/core) VS 2015 Tooling is the same and to support .NET Core 1.1 someone should install *the .NET Core 1.1 runtime* only. Am I right?

[2016-11-17 19:37] michielpost commented on #1176
Yes correct, only the .Net Core runtime is updated, VS2015 is not updated

[2016-11-17 19:43] FeodorFitsner commented on #1176
Just tried to install runtime (.NET Core 1.1 runtime - Installer) only and noticed that `dotnet --version` is the same `1.0.0-preview2-003131`. However, after additionally installing SDK (.NET Core 1.1 SDK - Installer) `dotnet --version` changed to `1.0.0-preview2-1-003177` which is what we need, right? So, my understanding is that SDK 1.1 should be installed instead to get both 1.1 runtime **and*

[2016-11-17 19:47] michielpost commented on #1176
Yes sounds good, dotnet version `1.0.0-preview2-1-003177` is what we need

[2016-11-17 21:10] denfromufa commented on #1175
@IlyaFinkelshteyn by the way, the warnings should indeed go to stderr, but pip has an option to disable this warning:

https://github.com/pypa/pip/issues/4117#issuecomment-261230489

http://stackoverflow.com/questions/1430956/should-i-output-warnings-to-stderr-or-stdout

[2016-11-17 22:48] IlyaFinkelshteyn commented on #1175
Thanks for the info!

[2016-11-18 00:40] FeodorFitsner opened #1181 "SSDT 16.5 (14.0.61021.0) for Visual Studio 2015"

[2016-11-18 00:41] FeodorFitsner opened #1182 "Azure SDK 2.9.6"
https://docs.microsoft.com/en-us/azure/app-service-web/azure-sdk-dotnet-release-notes-2-9

[2016-11-18 03:23] FeodorFitsner commented on #711
Yes, presumably GitLab on-prem API should be 100% compatible with hosted one. We'll add support for GitLab on-prem by AppVeyor Enterprise release.

[2016-11-18 04:20] IlyaFinkelshteyn opened #1183 "AppVeyor should giev awarning if cannot create webhook for new project"
Currently if GitHub account has not enough permissions to create a webhook in target project but enough to clone repo, we just silently swallow webhook creation error. We should give a warning for people to understand the reason build are not triggered by commit or PR.
[Related discussion.](http://help.appveyor.com/discussions/problems/5554-if-a-pull-request-is-open-before-adding-project-to-appvey

[2016-11-18 09:30] IlyaFinkelshteyn commented on #1173
This appears to be some authentication change on sourceforge side. You can ensure it with simple program
[code]
It will throw the same error.
We are looking for workaround, will update you.

--ilya.

[2016-11-19 17:57] StefanScherer commented on #1154
@fommil Thanks for the link. I just saw that there is OpenJDK for Windows. After some searching there are three variants.

* RedHat
* Azul / Zulu
* ojdkbuild/ojdkbuild on GitHub

Just dockerized [all three variants](https://github.com/StefanScherer/dockerfiles-windows/tree/master/java/openjdk) into Windows containers.

[2016-11-19 21:28] Grinderofl commented on #1006
Hi, I seem to be experiencing a similar issue with uploading test results. The results coming back from the server are basically 500's. I'm using cake build as the script.

If you can access the private build: https://ci.appveyor.com/project/StormID/storm-domain/build/1.0.0-PullRequest-9be11fca+10047

Here's a git from another build https://ci.appveyor.com/project/StormID/storm-domain/build/1.0.0-

[2016-11-19 21:43] FeodorFitsner commented on #1006
@Grinderofl Are you uploading XML test results, right? Is is possible to see the sources of `Cake.Common.Net.HttpClientExtensions.UploadTestResults` method?

[2016-11-19 21:52] Grinderofl commented on #1006
@FeodorFitsner Yes. I get varying degrees of success - sometimes I get 100% success, other times I get errors. I've decided to catch it for current purposes, because it's only about test results, but I can see it becoming a problem when we don't want to catch anything.

I don't know about UploadTestResults method, but here's the HttpClientExtensions file:

https://github.com/cake-build/cake/blob/d

[2016-11-19 22:13] FeodorFitsner commented on #1006
I see. It might be an issue with parsing XML results then. Can you send the XML to team@ please?

[2016-11-19 22:22] devlead commented on #1006
@Grinderofl @FeodorFitsner this is the UploadTestResults method
https://github.com/cake-build/cake/blob/develop/src/Cake.Common/Build/AppVeyor/AppVeyorProvider.cs#L222

Looks like if you launch Cake with diagnostic verbosity you'll get some more logging, that perhaps might be useful.

[2016-11-19 23:02] Grinderofl commented on #1006
The XML from one of the failed builds:

https://gist.github.com/Grinderofl/fd5a423e91d629885285c066f7893575

I can see that the jobID gets converted to lowercase in there upload method. Do you reckon that has any relevance to the upload?

[2016-11-20 17:33] FeodorFitsner opened #1184 "Node.js 7.1.0"

[2016-11-20 18:27] lalo commented on #1178
Is there a way to share the same file from cache across all the different jobs inside a test? I see that if I need to cache file A on different jobs it uploads the same file in every job instead of using the same reference to the same file A.

[2016-11-21 08:48] lukasz-pyrzyk commented on #1176
Hi folks, is there any update?

[2016-11-21 11:54] niemyjski commented on #1176
VS2017 has it labeled as `1.0.0-preview3-004056` @FeodorFitsner

[2016-11-21 11:55] niemyjski commented on #1179
We really really need this, any updates not this?

[2016-11-21 14:41] mycreativity commented on #45
+1

[2016-11-21 14:47] IlyaFinkelshteyn commented on #1178
Hi Eduardo,

Could you please clarify the scenario a little bit? What I suppose is that you are using [parallel testing](https://www.appveyor.com/docs/parallel-testing/) and if yes, then it cannot be done by design, because for each test job we spin up new VM which goes through whole [build pipeline](https://www.appveyor.com/docs/build-configuration/#build-pipeline).

--ilya.

[2016-11-21 17:38] FeodorFitsner commented on #1176
Working on this. .NET Core 1.1 will be available early this week.

[2016-11-21 18:10] lukasz-pyrzyk commented on #1176
Great to hear that news!

[2016-11-21 18:19] holytshirt commented on #1176
Thanks @FeodorFitsner looking forward to .NET Core 1.1 support!

[2016-11-21 18:32] IlyaFinkelshteyn commented on #45
Please check [this blog post](https://www.appveyor.com/blog/2016/11/07/aws-elastic-beanstalk/) about how to implement Elastic BeanStalk deployments with custom script.

[2016-11-21 19:04] lalo commented on #1178
The scenario is the following.

We have a matrix of configurations and most of the tests depend on a certain directory. This directory I tried to add it to the cache but I hit the 1 GB limit since every job on the matrix is uploading the exact same directory to the cache, instead of leveraging the previous job's cache since its exactly the same directory we want. Is there a way to mark something i

[2016-11-21 21:35] IlyaFinkelshteyn commented on #1178
Yes, this is by design. How much more than 1 GB you need?

[2016-11-21 23:58] GandaG opened #1185 "APPVEYOR_REPO_TAG correct syntax"
What is the correct syntax for checking if a tag has been set?

I tried `if "%APPVEYOR_TAG_REPO%"=="true" "%PYTHON%\\python.exe setup.py sdist bdist_wheel"` but it [clearly isn't working](https://ci.appveyor.com/project/GandaG/bethlib/build/30/job/4jx9r6vdlx73o7rk).

Thanks!

[2016-11-22 00:06] ghuntley commented on #1179
![](https://media.giphy.com/media/l41m0hm52I9LYf9WE/giphy.gif)

[2016-11-22 00:46] IlyaFinkelshteyn commented on #1185
Variable name is APPVEYOR_**REPO_TAG**, not APPVEYOR_**TAG_REPO** :) Other than that check it the same way as you check other environment variables in Python...

[2016-11-22 01:04] GandaG commented on #1185
Well, I'm dumb <.< Thanks! :D

[2016-11-22 01:04] #1185 closed

[2016-11-22 11:26] IlyaFinkelshteyn commented on #1006
XML is perfectly fine XUnit test result. Given errors I found in our traces, the fact that it was intermittent and other problems we had last weeks, I believe this is our internal dependency (Redis cache) issue which should be fixed on weekend. Could you please try stop catching those errors and see if they come back?

[2016-11-22 16:01] madskristensen commented on #1179
Is the image created to include everything the "Visual Studio 2015" image has + Visual Studio 2017 RC with SDK?

[2016-11-22 18:40] FeodorFitsner commented on #1179
Well, this is what we were going to do - install VS 2017 RC on top of VS 2015 image. Would that work or you have other suggestions?

[2016-11-22 18:42] onovotny commented on #1179
One suggestion might be to include the build number in the image name... the version of the RC was updated two days ago, which is later than the one released last Wed. Might be safe to assume there'll be more, so there'll either need to be a way to identify them or something to keep an eye on the updates and roll out new images.

[2016-11-22 18:48] FeodorFitsner commented on #1179
I think we'll be maintaining a single `Visual Studio 2017 RC` image and update VS 2017 in it as soon as new updates appear.

[2016-11-22 21:59] ctolkien commented on #1176
For those playing along at home... would something like this work?

[code]

(LInked file is to download the 1.1 SDK)

[2016-11-23 05:10] garydgregory opened #1186 "Java 9.0.4"
Can we get support for Java 9 Early Access releases?

[2016-11-23 11:06] JSkimming commented on #1164
I've recently disabled the cache on our builds and have found the build is actually running faster.

See [here](https://ci.appveyor.com/project/JSkimming/castle-core-asyncinterceptor/history), it's gone down from about > 1 minute to about 30 seconds.

The main culprit is I no longer think the package cache folder is a good candidate (here's the [commit](https://github.com/JSkimming/Castle.Core.Asy

[2016-11-23 15:30] StummeJ commented on #1176
@ctolkien Does that skip UAC? @FeodorFitsner  is UAC even enabled on the build servers?

[2016-11-23 18:38] FeodorFitsner commented on #1176
UAC is disabled on build workers.

We've just deployed an image update with .NET Core 1.1 installed - no need to install it during the build.

[2016-11-23 18:38] #1176 closed

[2016-11-23 18:38] #1118 closed

[2016-11-23 18:38] #1180 closed

[2016-11-23 18:38] #1184 closed

[2016-11-23 18:50] FeodorFitsner commented on #1179
We've got a build worker image with Visual Studio 2017 RC installed. Before making it available for everyone we'd like to do some for of "private beta", so please let us know if you want this image to be added under your account (either post your AppVeyor account name here or send to `team@`).

[2016-11-23 18:53] madskristensen commented on #1179
@FeodorFitsner I would love to give it a spin. Account name "madskristensen"

[2016-11-23 18:53] andrewvk commented on #1179
andrewvk

[2016-11-23 19:07] FeodorFitsner commented on #1179
Added to both accounts.

[2016-11-23 19:08] ejsmith commented on #1179
ejsmith

[2016-11-23 19:13] FeodorFitsner commented on #1179
@ejsmith - done

[2016-11-23 20:24] madskristensen commented on #1179
@FeodorFitsner It works great! Just built an extension successfully. Thanks

[2016-11-23 20:29] RonnChyran commented on #1176
Is this enabled on the VS2015 image?

[2016-11-23 20:35] FeodorFitsner commented on #1176
Correct.

[2016-11-23 20:37] georgeduckett commented on #1179
Yes please, georgeduckett

[2016-11-23 20:59] madskristensen commented on #1179
@FeodorFitsner I have an extension with a unit test project and when AppVeyor builds it, I get this issue:

`Error: Could not find a test logger with URI or FriendlyName 'Appveyor'`

[2016-11-23 21:00] ig-sinicyn commented on #1179
@FeodorFitsner

ours [failed](https://ci.appveyor.com/project/andrewvk/codejam/build/1.0.936#L4461) with
[code]
Appveyor.uml [is here](https://github.com/rsdn/CodeJam/blob/master/appveyor.yml).

[2016-11-23 21:52] FeodorFitsner commented on #1179
Thanks, will take a look.

[2016-11-23 22:08] SirRade commented on #1179
Can I try it too? I'm logged into appveyor with this Github account.

[2016-11-23 23:08] kevinvangelder opened #1187 "Test Discovery Problems"
Not sure if it's because of the shared project structure or NUnit, or something else entirely, but I'm having problems where AppVeyor is only finding 70 of 120 tests.

Pull Request: https://github.com/ReactWindows/react-native-windows/pull/899
AppVeyor Build: https://ci.appveyor.com/project/rozele/react-native-windows/build/1.0.1260

[2016-11-24 01:28] FeodorFitsner commented on #1179
@georgeduckett, @SirRade - added

[2016-11-24 07:30] georgeduckett commented on #1179
@FeodorFitsner, just tried compiling my extension which uses some C#7 syntax and it fails: https://ci.appveyor.com/project/georgeduckett/teamcoding I believe I've set the environment correctly. Is there something else I need to do?

[2016-11-24 07:33] FeodorFitsner commented on #1179
Add this to project's `appveyor.yml`:

    image: Visual Studio 2017 RC

[2016-11-24 07:38] georgeduckett commented on #1179
@FeodorFitsner That's done the trick, thanks. Any reason why setting the Build Worker Image in Settings for the project didn't work?

[2016-11-24 07:39] FeodorFitsner commented on #1179
because if it's appveyor.yml then all settings should be there - UI settings are ignored.

[2016-11-24 07:45] georgeduckett commented on #1179
Ahh ok, thanks.

[2016-11-24 12:39] TcT2k commented on #1179
I would like to try the beta. (using this github account)

[2016-11-24 14:12] SirRade commented on #1179
@FeodorFitsner Works great so far, thank you very much.
 I first had the same trouble that @georgeduckett had. The solution is not very intuitive.

[2016-11-24 14:28] caitchison commented on #1179
I would love to be in this beta. Account name is trinocity

[2016-11-24 16:02] matthargett commented on #1179
Same here. Account name is matthargett. I'd love to try the Windows Server 2016 beta as well.

[2016-11-24 18:22] FeodorFitsner commented on #1179
@TcT2k, @caitchison, @matthargett - image added

[2016-11-24 19:38] IlyaFinkelshteyn opened #1188 "Feature request: script deploy environment"
[Discussion ](http://help.appveyor.com/discussions/suggestions/1120-feature-request-script-deploy-environment)

[2016-11-24 19:46] TcT2k commented on #1179
@FeodorFitsner Thank you, it works for me, see my build [here](https://ci.appveyor.com/project/TcT2k/wxwidgets/build/100)

I would be nice if you could include an updated CMake in the image. The current release 3.7.0 is not yet compatible with VS 2017 RC but the current [nightlies](https://cmake.org/files/dev/?C=M;O=D) are.

[2016-11-24 20:37] djanosik commented on #1179
djanosik - thank you!

[2016-11-24 20:47] IlyaFinkelshteyn commented on #1187
Hi Kevin,

I think not all test assemblies match [this mask](https://github.com/ReactWindows/react-native-windows/blob/master/appveyor.yml#L38). If I understand this correctly, `ReactNative.Tests.exe` is also test assembly, but it it `.exe`, not `.dll`.

Hope this helps.
Ilya.

[2016-11-24 21:10] FeodorFitsner commented on #1179
@djanosik - done

[2016-11-24 21:13] FeodorFitsner commented on #1179
@TcT2k this is the script we use for updating CMake on build workers. You can adopt it for installing CMake nightly builds:

[code]

[2016-11-24 21:14] FeodorFitsner commented on #1179
@ig-sinicyn, @madskristensen - we've fixed AppVeyor logger issue with VS 2017. Please give it another try and let us know how that worked.

[2016-11-24 21:30] ig-sinicyn commented on #1179
It works, thanks!

[2016-11-25 05:38] ig-sinicyn commented on #1179
@FeodorFitsner can you add my account too?

Need to do some A-B testing on our project:)

[2016-11-25 06:03] FeodorFitsner commented on #1179
@ig-sinicyn - added

[2016-11-25 12:06] dgrunwald commented on #1179
@FeodorFitsner: can you add the `icsharpcode` github organization account?

[2016-11-25 14:06] jabbera commented on #1179
@FeodorFitsner: can you add this github account please? jabbera Thanks!

[2016-11-25 19:14] FeodorFitsner opened #1189 "MSTest V2"

[2016-11-25 19:19] FeodorFitsner commented on #1179
@dgrunwald,  @jabbera - added.

[2016-11-26 22:00] kevinvangelder commented on #1187
@IlyaFinkelshteyn Thanks for the quick response. Yes, ReactNative.Tests.exe is not expected to run, it's a UWP project which I understand is not yet supported.

Looks like the tests in our shared project are not getting compiled into the DLL and therefore aren't discovered and run.

[2016-11-27 03:53] IlyaFinkelshteyn commented on #1187
OK, good. Note that you can [RDP to build worker](https://www.appveyor.com/docs/how-to/rdp-to-build-worker/) at right build stage and inspect manually what is being build and in what folders.

--ilya.

[2016-11-27 06:17] FeodorFitsner opened #1190 "Proxy support in AppVeyor Deployment Agent"

[2016-11-27 09:00] Rpinski commented on #1179
It seems like msbuild auto-detection does not select msbuild 15 in case of VS 2017 RC image. We have a [project](https://github.com/icsharpcode/RefactoringEssentials/blob/master/RefactoringEssentials.2017/RefactoringEssentials.csproj) using the new .csproj format which requires msbuild 15. Appveyor always auto-detects msbuild 14.

We tried to set the path manually (see our [appveyor.yml](https://g

[2016-11-27 16:17] onovotny commented on #1179
@FeodorFitsner can you please add `onovotny` and `dotnetfoundation`?

[2016-11-27 16:33] frozenskys commented on #1179
@FeodorFitsner can you please also add `frozenskys` - thanks :)

[2016-11-27 18:51] FeodorFitsner commented on #1179
@onovotny, @frozenskys - added

[2016-11-27 18:52] FeodorFitsner commented on #1179
@Rpinski - you mean nuget's auto-detection of msbuild?

[2016-11-27 19:13] jabbera commented on #1179
@feodorfitsner I don't use the new project format but if you check my log at line 14 you'll see the msbuild version number use daily for build is 14. https://ci.appveyor.com/project/jabbera/iisremoteusertokenauthentication/build/0.0.21

[2016-11-27 20:37] Rpinski commented on #1179
@FeodorFitsner Yes, it seems so:

[code]

It looks like NuGet packages are not restored in our build at all, because package references are now part of .csproj file (and that requires MSBuild 15). The question is: Do we need an adjusted PATH with MSBuild 15 or do we need a configuration change on our side or anything else?

[2016-11-27 20:46] martijnhoekstra commented on #1179
+1 opt-in for the github account `martijnhoekstra`

[2016-11-27 22:38] FeodorFitsner commented on #1179
@martijnhoekstra - added

[2016-11-28 00:29] Rpinski commented on #1179
@FeodorFitsner Yes, it seems so. Meanwhile I found out that I've just missed following log message:

[code]

So MSBuild looks ok, but still compiler can't find any type from assemblies from NuGet packages on AppVeyor, while the same build works locally. OK, I'll need to investigate a little bit more...

[2016-11-28 00:29] onovotny commented on #1179
@FeodorFitsner suggestion for the image -- run `dotnet restore` or some other command prior to baking the image. That will prepopulate the offline cache so every user doesn't have to. It'll save you bandwith and make builds faster:

[code]

[2016-11-28 00:58] FeodorFitsner commented on #1179
@Rpinski Are you restoring the package with command line `nuget` or from Visual Studio IDE? I don't know   how to make command-line nuget recognizing MSBuild 15.0. I've tried both nuget 3.5 and even nightly build at no avail: https://ci.appveyor.com/project/FeodorFitsner/xunit-rair/build/1.0.56#L4

[2016-11-28 00:59] FeodorFitsner commented on #1179
@onovotny - what version of .NET Core is that?

[2016-11-28 01:21] onovotny commented on #1179
If you installed the RC, it should be the preview3 version as that's the latest version in the absence of a `global.json` file pinning the version to something different. That said, the preview2 tooling did that as well, so would be a good update to the 2015 image if you haven't done so already.

[2016-11-28 02:20] jabbera commented on #1179
@Rpinski @FeodorFitsner looks like that's only available in nuget 4.0 RC which isn't available as a standalone download yet: http://blog.nuget.org/20161121/introducing-nuget4.0.html

[2016-11-28 02:52] FeodorFitsner commented on #1179
@onovotny I haven't realized there is a newer .NET Core tooling with VS 2017. I updated `Visual Studio 2017 RC` image - it's pre-cached now.

[2016-11-28 03:01] FeodorFitsner commented on #1179
@jabbera - interesting, [looks like](http://blog.nuget.org/20161121/introducing-nuget4.0.html) with MSBuild 15.0 you can restore with `msbuild /t:restore`. Have you tried that?

[2016-11-28 05:01] kzu commented on #1179
plz add kzu and mobileessentials, tnx!

[2016-11-28 05:03] UbaidBashir commented on #1089
Kindly update.

[2016-11-28 05:27] FeodorFitsner commented on #1179
@kzu - added

[2016-11-28 09:44] JSkimming commented on #1182
Has this slipped to from 27th Nov to 4th Dec? If so can you confirm it will be released on the 4th Dec?

FYI I've upgraded a Cloud Service Worker Role to OS Family 5, which requires this update, and until you release this I can't Continuously Deploy using AppVayor.

If you are definitely going to release this on 4th Dec, then I'll live with having to manually deploy the worker role for another wee

[2016-11-28 11:49] RehanSaeed commented on #1179
@FeodorFitsner Please can you add @ASP-NET-MVC-Boilerplate org account. Thanks!

[2016-11-28 11:55] RehanSaeed commented on #1179
@FeodorFitsner Please can you add @ASP-NET-MVC-Boilerplate org account. Thanks!

[2016-11-28 15:33] FeodorFitsner commented on #1182
We'll do our best to deploy image update with Azure SDK 2.9.6 early this week.

Supporting Windows Server 2016 in Azure Cloud Services is great news!

[2016-11-28 15:34] JSkimming commented on #1182
Great thanks @FeodorFitsner much appreciated.

[2016-11-28 15:35] FeodorFitsner opened #1191 "Node 7.2.0"

[2016-11-28 17:41] FeodorFitsner commented on #1179
@RehanSaeed - what's a corresponding AppVeyor account name for it?

[2016-11-28 20:20] #1190 closed

[2016-11-28 20:41] kevinvangelder commented on #1187
Running the .dll through nunit3-console returns the expected results: `Test Count: 120, Passed: 116, Failed: 0, Inconclusive: 0, Skipped: 4`. We're re-running the AppVeyor build in hopes that something just glitched.

[2016-11-28 22:19] inducer commented on #891
Could you please add access  to the image for the `conda-forge` account as well?

It's required to get this to build: https://github.com/conda-forge/pyopencl-feedstock/pull/1. Thanks!

[2016-11-28 23:10] FeodorFitsner opened #1192 "Update Visual Studio 2013 license"
Discussion: http://help.appveyor.com/discussions/problems/5116-running-devenvexe-setup-never-completes

[2016-11-28 23:39] IlyaFinkelshteyn opened #1193 "Eliminate duplication in PSModulePath environment variable"
Fix script:

[code]

[2016-11-28 23:45] kzu commented on #1179
Would be nice to have an envvar with the "os" / image name used for the
build ;)

On Mon, Nov 28, 2016, 2:41 PM Feodor Fitsner <notifications@github.com>
wrote:

--

--
/kzu from mobile

[2016-11-28 23:47] IlyaFinkelshteyn commented on #1179
It is `APPVEYOR_BUILD_WORKER_IMAGE`. Updating docs now.

[2016-11-28 23:47] Rpinski commented on #1179
@jabbera By the way: NuGet 4.0 RC command line tool is available here: https://dotnet.myget.org/feed/nuget-build/package/nuget/NuGet.CommandLine/4.0.0-rc2-2098

[2016-11-29 02:03] FeodorFitsner commented on #1179
@Rpinski - tried that NuGet 4.0 RC command line and it didn't restore packages either.

[2016-11-29 02:05] FeodorFitsner commented on #891
@inducer - added

[2016-11-29 03:19] IlyaFinkelshteyn commented on #1089
Should be in production in 1-2 days.

[2016-11-29 03:20] kevinoid commented on #1089
That's great news.  Thanks @IlyaFinkelshteyn!

[2016-11-29 05:14] UbaidBashir commented on #1089
Great to hear that @IlyaFinkelshteyn . Please provide us with documentation once done. Thank you

[2016-11-29 06:06] inducer commented on #891
Thanks!

[2016-11-29 14:50] lukefrake commented on #325
👍 like the sound of this!

[2016-11-30 03:31] matthewkmayer opened #1194 "Can't get cargo dir to cache (Rust)"
I'm trying to get the cargo directory to cache [in rusoto](https://github.com/rusoto/rusoto/pull/427) but it's always downloading new files.  I'm not seeing anything in the build logs about caching or restoring.  Also not seeing anything related in github issues or the support forum.  Can I get pointed in the right direction for making this work?  Thanks.

[2016-11-30 06:08] #1089 closed

[2016-11-30 07:07] FeodorFitsner commented on #1182
@JSkimming we are still working on the rest of build worker images update, but Azure SDK 2.9.6 is already deployed to GCE environment (but not to Pro environment yet). If you are blocked you can run your builds on GCE, by adding this environment variable to `appveyor.yml`:

[code]

[2016-11-30 07:39] IlyaFinkelshteyn commented on #1194
It seems this is because it is pull request. Sorry for confusion.

[2016-11-30 10:14] RehanSaeed commented on #1179
@FeodorFitsner RehanSaeed

[2016-11-30 12:08] Jeavon commented on #945
Hello, any update on this feature?

[2016-11-30 12:59] AndreyBelym opened #1195 "The 'Skip branches without appveyor.yml' flag is not working"
AppVeyor is ignoring the 'Skip branches without appveyor.yml' flag since November 29, 2016, e.g. https://ci.appveyor.com/project/AndreyBelym/github-build-bot/build/1.0.1. The repository and the specified branch don't have `appveyor.yml`, but AppVeyor tried to run the build.

[2016-11-30 14:28] JSkimming commented on #1182
@FeodorFitsner Thanks, I'll probably be producing a build today, I'll configure it to use GCE until it is released to RackSpace, assuming that's where you still host the [majority of builds](https://www.appveyor.com/blog/2016/07/16/migration-to-rackspace/ "Migrating build environment to RackSpace").

[2016-11-30 16:31] matthewkmayer commented on #1194
Then when the Rusoto PR gets merged into master, builds after that merge should start using the cache instead of downloading dependencies?

[2016-11-30 17:08] IlyaFinkelshteyn commented on #1194
Yes. You can also test it by creating your fork and separate AppVeyor project targeting your fork.

[2016-11-30 17:49] FeodorFitsner commented on #1179
@RehanSaeed added.

[2016-11-30 17:51] FeodorFitsner commented on #1195
Thanks for the catch! Indeed, there is a regression. We'll fix and deploy update shortly.

[2016-11-30 18:57] cwharris commented on #317
I second this. I'm also trying to determine the right way to make deployments work with GitHub. I'm not so great with bash/ps, but right now I'm thinking I'll need something along the lines of `${APPVEYOR_PULL_REQUEST_NUMBER} == undefined && ${APPVEYOR_REPO_BRANCH} == "master"` as my conditions for deployment.

[2016-11-30 19:29] IlyaFinkelshteyn commented on #317
Hi Christopher,

I think originally this issue was created by @srogovtsev about creation condition for **whole** deployment, not for specific provider.

I have feeling that your question is about how to implement specific condition. In your case it can be done like this:

[code]
This will work exactly as you want, with difference that `branch` condition will be evaluated first and if it false, `AP

[2016-11-30 19:31] inducer opened #1196 ""Build cloud 'rs-app8-e' does not support 'Visual Studio 2015 Update 2' image" despite granted access"
I recently applied for (and, apparently, was granted) access to the "Visual Studio 2015 Update 2" for the conda-forge account:

https://github.com/appveyor/ci/issues/891#issuecomment-263455110

Trying to use the image resulted in the message in the subject line:

https://ci.appveyor.com/project/conda-forge/pyopencl-feedstock/build/1.0.6/job/8atwln49bfmh4ni7/messages

How can I fix this? Thanks!

[2016-11-30 19:38] FeodorFitsner commented on #1196
It's been fixed now. Give it another try.

[2016-11-30 20:27] inducer commented on #1196
That did the trick, thank you!

[2016-11-30 20:27] #1196 closed

[2016-11-30 21:26] TcT2k commented on #1179
CMake 3.7.1 is now available and should be included for compatibility with VS 2017

[2016-12-01 01:56] FeodorFitsner commented on #1179
@TcT2k CMake 3.7.1 has been installed on `Visual Studio 2017 RC` image.

[2016-12-01 04:26] FeodorFitsner commented on #1195
It's been fixed and update deployed.

[2016-12-01 04:26] #1195 closed

[2016-12-01 09:22] TcT2k commented on #1179
@FeodorFitsner Thank you, using CMake with VS2017 now works fine out of the box, see:
https://ci.appveyor.com/project/TcT2k/wxwidgets/build/102

[2016-12-01 14:53] JSkimming commented on #1182
@FeodorFitsner Just feeding back that our build is running and deploying fine when I use the GCE environment.

[2016-12-01 14:57] mwcraig opened #1197 ""Build worker image not found: Visual Studio 2015 Update 2" despite having enabled"
Access to this old build image seems to have been dropped some time in the last day. If it is still available it would be great to get that access back; the last time I checked a few weeks ago a patch for the issue we had has still not been issued by microsoft.

Thanks!

See #891 for original issue.

Ping @astrofrog @taldcroft @eteq -- astropy Windows builds will not pass until access is restored.

[2016-12-01 15:00] FeodorFitsner commented on #1197
Can you drop me a link to project/build where you're getting the error?

[2016-12-01 15:11] mwcraig commented on #1197
Sorry, turns out the problem was that it was also building against my personal appveyor account, closing. Link is: https://ci.appveyor.com/project/mwcraig/astropy/build/1.0.83

Re-ping  @astrofrog @taldcroft @eteq -- disregard.

[2016-12-01 15:11] #1197 closed

[2016-12-01 15:15] jakirkham opened #1198 "Build to be skipped is run"
We set the switch on all conda-forge feedstocks so that AppVeyor should not build if `appveyor.yml` is not present. However, sometimes (albeit rarely) we end up seeing a build when we shouldn't. As an example, take this [build]( https://ci.appveyor.com/project/conda-forge/vigra-feedstock/build/1.0.1 ) triggered by this [commit]( https://github.com/conda-forge/vigra-feedstock/pull/13/commits/ece05a

[2016-12-01 18:10] matthewkmayer commented on #1194
Confirmed it works after merging to master, thanks!

<img width="624" alt="screen shot 2016-12-01 at 10 08 28 am" src="https://cloud.githubusercontent.com/assets/4998189/20806065/3dc95654-b7ae-11e6-9064-b61a28dc3479.png">

[2016-12-01 18:10] #1194 closed

[2016-12-01 19:14] IlyaFinkelshteyn commented on #1198
Yes, it was a regression yesterday. https://github.com/appveyor/ci/issues/1195. Should be fixed now. Sorry.

--ilya.

[2016-12-01 19:20] jakirkham commented on #1198
Ah, sorry to dup. Missed that one. Thanks for the fix. Will close this out.

[2016-12-01 19:20] #1198 closed

[2016-12-01 20:09] IlyaFinkelshteyn opened #1199 "Build cache compress/decompress should not depend on PATH variable"
To eliminate cases like [this](http://help.appveyor.com/discussions/problems/5626-altering-path-in-build-step-can-make-cache-generation-fail)

[2016-12-01 21:54] rionmonster commented on #1179
@FeodorFitsner

I could use an add on this as well. Github: **rionmonster**.

[2016-12-01 21:55] IlyaFinkelshteyn opened #1200 "Save confirmation on top of UI screen often missed"
Discussion http://help.appveyor.com/discussions/problems/5622-when-clicking-save-the-confirmation-shows-up-at-the-top-of-the-page-not-near-the-save-button-so-it-can-be-easily-missed

[2016-12-01 22:31] FeodorFitsner commented on #1179
@rionmonster - added.

[2016-12-02 04:08] FeodorFitsner commented on #1182
@JSkimming Azure SDK 2.9.6 has been deployed to default build worker image.

[2016-12-02 04:08] #1182 closed

[2016-12-02 04:08] #1191 closed

[2016-12-02 04:08] #1192 closed

[2016-12-02 05:42] theweavrs opened #1201 "UWP packaging in x86 and x64 architecture not supported."
When I try to add x86 and x64 to my `appveyor.yml` it gives an error while building, only ARM works. Are x86 and x64 CPU architectures supported?

[2016-12-02 13:40] SabotageAndi commented on #1179
@FeodorFitsner
Please can you add me (Github user: @sabotageandi) and the AppVeyor user SpecFlow to this? Thanks!

[2016-12-02 16:05] imdadahad commented on #1089
Is this ready?

[2016-12-02 16:22] FeodorFitsner commented on #1089
Yes

[2016-12-02 16:36] imdadahad commented on #1089
Great, are there any docs?

[2016-12-02 16:44] Rondom commented on #1157
This is also useful in other use cases: Check if a reported build message/warning has been there in the previous build of this branch, i.e. check if the current push introduced this warning.

[2016-12-02 17:59] FeodorFitsner commented on #1179
@SabotageAndi added.

[2016-12-02 18:22] jyrkive commented on #88
@pombredanne We (Battle for Wesnoth developers) have improved the notification script a bit. In particular, our version joins the channel instead of sending an external message, which means that the channel doesn't need to accept external messages.

https://github.com/wesnoth/wesnoth/blob/master/utils/appveyor/irc-notify.py

[2016-12-02 20:03] IlyaFinkelshteyn commented on #1089
Docs are getting ready. For now can you please follow this and let us know if it works?

Publish your YAML file **as a plain text** (Content-Type: text/plain) and **anonymously accessible** at some HTTP (or HTTPS) location. For example, like this https://ilyaftp.azurewebsites.net/yaml/appveyor.txt.
After that in AppVeyor project UI Settings > General, set your file full URL in `Custom configuratio

[2016-12-03 00:43] thomaslevesque opened #1202 "Build fails with "Environment variable name or value is too long""
The build for [FakeItEasy](https://github.com/FakeItEasy/FakeItEasy) was working fine until today, but now it fails with this error:

(see the build here: https://ci.appveyor.com/project/FakeItEasy/fakeiteasy/build/62)

We didn't make any change to appveyor.yml recently.

In the appveyor.yml, we have this:

[code]

If I remove the PATH variable and do this instead:

[code]

Then it works again...

[2016-12-03 02:04] FeodorFitsner commented on #1202
Will take a look. Thanks for reporting that. Might be a regression from [yesterday's update](https://www.appveyor.com/updates/2016/12/01/).

[2016-12-03 09:38] thomaslevesque commented on #1202
Actually I'm not so sure about this now. I think PATH is truncated when I use my workaround, because if I set it to `%PATH%;C:\Ruby200\bin` instead of `C:\Ruby200\bin;%PATH%`, the build fails the same way as if `C:\Ruby200\bin` wasn't in the path at all.

[2016-12-03 11:08] blairconrad commented on #1202
I thought I'd commented last night, but I've confirmed that [rolling back to the previous os does fix the problem](https://ci.appveyor.com/project/FakeItEasy/fakeiteasy/build/63-mpaojtut).

[2016-12-03 11:55] gigi81 commented on #1179
@FeodorFitsner  account name gigi81 thanks!

[2016-12-03 18:18] FeodorFitsner commented on #1179
@gigi81 added

[2016-12-04 01:04] #1173 closed

[2016-12-04 14:02] nedbat opened #1203 "Python builds started failing November 21-23"
I guess there's something I have to adjust in my build scripts: https://ci.appveyor.com/project/nedbat/coveragepy/history  Any clues would be appreciated. Thanks.

[2016-12-04 20:46] FeodorFitsner commented on #1203
I first thought that it might be something in [Nov 23](https://www.appveyor.com/updates/2016/11/23/) update that broke your builds. There was PIP update for all pre-installed Pythons and all latest Windows updates installed. But, apparently, your builds do not rely on pre-installed Python and Python is downloaded/installed during the build. Then I took only one configuration `2.7 32-bit` and ran i

[2016-12-04 20:53] nedbat commented on #1203
OK, thanks, I'll try rolling back some versions.

[2016-12-04 21:00] FeodorFitsner commented on #1203
Right, re-building [last successful build](https://ci.appveyor.com/project/nedbat/coveragepy/build/default-421/job/6k35mj8gli8hp9s2) worked: https://ci.appveyor.com/project/FeodorFitsner/coverage-py/build/1.0.7

[2016-12-04 21:02] nedbat commented on #1203
@FeodorFitsner looks like i happened to choose a bad setuptools: both older and newer work better.  But also, pytest-xdist is sharing some files, and I need to figure out what to do about that.  Thanks for looking into it.

[2016-12-04 21:02] #1203 closed

[2016-12-05 04:00] FeodorFitsner commented on #1202
It's been fixed and update deployed.

[2016-12-05 04:00] #1202 closed

[2016-12-05 10:22] thomaslevesque commented on #1202
Thanks @FeodorFitsner!

[2016-12-05 15:11] acinep commented on #1179
Please add acinep - thanks!

[2016-12-05 16:44] SabotageAndi commented on #1179
@FeodorFitsner Sorry for bothering you again, but you forgot to add the SpecFlow user. It is an AppVeyor account. UserID 20274.
Please add it. Thanks!

[2016-12-05 17:56] SirRade commented on #1179
Just a little reminder that we appreciate your work and that you provided the service as soon as possible.
Thanks :)

[2016-12-05 18:57] FeodorFitsner commented on #1179
@acinep, @SabotageAndi - added

[2016-12-05 22:21] amilajack commented on #1108
@FeodorFitsner Appveyor support cache busting for yran?

[2016-12-05 22:59] FeodorFitsner commented on #1108
What do you mean by that?

[2016-12-05 23:19] amilajack commented on #1108
@FeodorFitsner being able to invalidate the cache based on if a certain file changes:

https://github.com/chentsulin/electron-react-boilerplate/blob/master/appveyor.yml#L9-L10

[2016-12-05 23:44] FeodorFitsner commented on #1108
then existing cache dependency invalidation approach should work for Yarn too

[2016-12-05 23:45] amilajack commented on #1108
I see. Thanks for clarifying

[2016-12-06 04:32] matthargett commented on #1201
We're using AppVeyor for UWP builds in react-native-windows. What are you trying to do? Feel free to check out our appveyor.yml .

[2016-12-06 08:20] IlyaFinkelshteyn commented on #1201
Let me please repeat after Matt -- please share your appveyor.yml. Use Export YAML menu if you use UI. Link to failed build will be helpful too.

[2016-12-06 08:25] theweavrs commented on #1201
@matthargett @IlyaFinkelshteyn It is working wonderfully now. I changed some lines in `appveyor.yml` and it worked! Thanks a lot, guys!

[2016-12-06 08:25] #1201 closed

[2016-12-06 15:14] eamodio commented on #1108
@FeodorFitsner could this be updated to Yarn 0.18 which has quite a few windows issues resolved?

[2016-12-06 21:00] FeodorFitsner commented on #1108
0.17.10 is the latest version available at https://yarnpkg.com/

[2016-12-06 21:02] FeodorFitsner opened #1204 "Yarn 0.18.1"
https://github.com/yarnpkg/yarn/releases

[2016-12-06 21:04] eamodio commented on #1108
@FeodorFitsner Hrm it looks like they might have not updated that version number on the website. https://github.com/yarnpkg/yarn/releases

Homebrew on macOS installs 0.18, though Chocolatey still has 0.17.9

[2016-12-06 21:05] FeodorFitsner commented on #1108
Oh, found MSI installer here: https://github.com/yarnpkg/yarn/releases

I'm adding a new issue to install Yarn 0.18.0 during the next images update: https://github.com/appveyor/ci/issues/1204

[2016-12-06 21:08] eamodio commented on #1204
FYI, 0.18 has this issue: https://github.com/yarnpkg/yarn/issues/2154 which should hopefully be fixed soon

[2016-12-06 21:17] Daniel15 commented on #1108
Yarn 0.18.0 is currently considered a release candidate, not a stable
release. 0.17.10 is the latest stable release of Yarn. We're going to make
RCs more obvious in the future.

Sent from my phone.

On Dec 7, 2016 8:05 AM, "Feodor Fitsner" <notifications@github.com> wrote:

[2016-12-06 21:19] FeodorFitsner commented on #1108
OK, I see. Then we'll deploy 0.18.0 when it's finally released. Thanks!

[2016-12-07 04:08] IlyaFinkelshteyn commented on #945
Sorry, got distracted from this feature. Will try to make it soon, but I cannot give ETA right now.

[2016-12-07 06:52] IlyaFinkelshteyn opened #1205 "Badge & link per tags and individual commits"
http://help.appveyor.com/discussions/suggestions/1144-tag-badge-link

[2016-12-07 07:45] XhmikosR opened #1206 "Ruby 2.2.6, 2.3.3"

[2016-12-07 18:42] FeodorFitsner commented on #461
It's been implemented.

[2016-12-07 18:42] #461 closed

[2016-12-07 18:42] FeodorFitsner commented on #248
It's been implemented.

[2016-12-07 18:42] #248 closed

[2016-12-07 19:18] daviwil commented on #248
Thanks Feodor!

[2016-12-07 19:20] espoelstra commented on #1089
This is fantastic Ilya!!! I just came across this while reading a number of the support tickets trying to figure out why it wasn't detecting my appveyor.yml from a generic Git repo (actually a Gist) and you have the perfect solution. You could try hosting your appveyor.yml via GitHub's Gist site as you can use the "raw" link to do exactly the same thing you are doing above and it will probably be

[2016-12-07 19:38] kevinvangelder commented on #1187
As is mentioned on the pull request, the problem seems to be that `git checkout FETCH_HEAD` isn't working on that particular AppVeyor instance.

@IlyaFinkelshteyn Would you like me to close this issue and start a new one or just continue to track it here with the new information?

[2016-12-07 19:47] IlyaFinkelshteyn commented on #1187
Yes, please. Thanks!

[2016-12-07 19:48] #1187 closed

[2016-12-07 19:54] IlyaFinkelshteyn commented on #1089
Thanks a lot for good words :) Extra second to save the first time you put in an URL probably connected to persisting configuration change to the backend database.  File itself is being read on-demand every time new build started.

--ilya.

[2016-12-07 20:12] kevinvangelder opened #1207 "git checkout FETCH_HEAD Fails"
https://ci.appveyor.com/project/rozele/react-native-windows/build/1.0.1336#L7

As you can see, this `git checkout FETCH_HEAD` fails, despite the fact that the previous command (`git fetch -q origin +refs/pull/899/merge:`) should set the `FETCH_HEAD`. This works when I manually tested the workflow locally (note, I didn't use the `-q` flag, so the output is more verbose):
[code]

[2016-12-07 20:13] kevinvangelder commented on #1207
Pull request in question: https://github.com/ReactWindows/react-native-windows/pull/899
Previous issue for reference: https://github.com/appveyor/ci/issues/1187

[2016-12-07 20:30] fazouane-marouane commented on #1179
Hi,

I'd like to be added to this early access program. I'm using the Github account: @fazouane-marouane

Thanks 😄

[2016-12-07 20:48] IlyaFinkelshteyn commented on #1207
I created hello word repro, and it seems that `git fetch origin +refs/pull/" + $Env:APPVEYOR_PULL_REQUEST_NUMBER + "/merge:` does not work properly, because even with `-q` removed I see no actual output.

[2016-12-07 21:19] FeodorFitsner commented on #1179
@fazouane-marouane - added

[2016-12-07 21:33] IlyaFinkelshteyn commented on #1207
This is what finally works for me. I do not know what is specific problem with PowerShell script though.

[code]

Note that `-qf` removed just for debugging purposes.

--ilya.

[2016-12-07 21:35] kevinvangelder commented on #1207
Is it the trailing ':' that was tripping it up?

[2016-12-07 21:36] IlyaFinkelshteyn commented on #1207
I hoped so, because with it cmd version did not work, but removing it in PowerShell version did not helped me. Do you have a local repro to check my sanity?

[2016-12-07 22:22] kevinvangelder commented on #1207
This looks promising. For testing purposes I manually add the correct remote, manually fetch the pull request, and manually checkout `FETCH_HEAD`. The only effective difference here is that I added `-f` or force flag to the fetch command. It didn't error in the git section so now I'm waiting to see if it runs all 112 tests.

[2016-12-07 22:36] kevinvangelder commented on #1207
@IlyaFinkelshteyn As you can see, this build was able to fetch and checkout when I did them as separate statements: https://ci.appveyor.com/project/kevinvangelder/react-native-windows/build/1.0.13

But we're still getting the same failure when they're two statements in the else: https://ci.appveyor.com/project/rozele/react-native-windows/build/1.0.1342

[2016-12-07 22:40] IlyaFinkelshteyn commented on #1207
Yes, I went similar road and decided to try straightforward cmd because of this behavior.

[2016-12-07 22:45] IlyaFinkelshteyn commented on #1207
I just want to say that separate statement instead of script block are better anyway, because you don't have to check `errorlevel`/`lastexitcode` on every step, as separate statement will just throw and fail build right away. I understand that repeating `IF`s looks silly but in this specific situation is is more practical.

[2016-12-07 23:20] fazouane-marouane commented on #1179
Thanks! It's works like a charm 🎉

[2016-12-07 23:26] IlyaFinkelshteyn opened #1208 "Substitute environment variables for deploy/on/branch setting"
Interesting scenario for this is having single deployment provider section but be able to all build with API and pass environment variable which will dictate what branch to build.

[2016-12-08 00:16] drfeelgoud commented on #1179
I'd like to try this too!

Account name: drfeelgoud

Thanks a lot!

[2016-12-08 00:46] RadarNyan commented on #248
Nice, will there be batch delete feature? @FeodorFitsner
I mean - it would be such a pain if I have to go click "delete" on every single old build I don't want. I need methods like:
* delete builds between xxxxxx...xxxxxx (commit hash)
* delete any builds before Dec 1, 2016 / between a range of **build time** (not to be confused with commit time)
* delete all builds on "test-1" branch

[2016-12-08 01:10] FeodorFitsner commented on #1179
@drfeelgoud - added

[2016-12-08 01:11] FeodorFitsner commented on #248
Well, it could be part of future API?

[2016-12-08 01:17] RadarNyan commented on #248
@FeodorFitsner Looking forward to it. 👍

[2016-12-08 13:08] patrikhuber opened #1209 "Making the Matlab Compiler Runtime (MCR) available"
Hi!

We're building some Matlab mex modules that we would like to CI-test. Building mex modules requires the Matlab Compiler Runtime (MCR), a small, freely-available package with the Matlab includes and libraries (so you don't need a paid license, like with the "full" Matlab program): https://uk.mathworks.com/products/compiler/mcr.html

The download is pretty large (just under 1GB), after unzippin

[2016-12-09 11:46] tgjones commented on #1179
@FeodorFitsner I'd like to try this!

Account name: tgjones

Thanks!

[2016-12-09 18:10] FeodorFitsner commented on #1179
@tgjones - added

[2016-12-09 19:43] nicolaiparlog commented on #1186
I'm in favor, one detail there are two EA releases: [the regular one](http://jdk9.java.net/) and [the more modular one](https://jdk9.java.net/jigsaw/)

[2016-12-09 20:23] garydgregory commented on #1186
For now, I'd be happy with the 'regular' one. But clearly both need to be supported until we are assimilated lock, stock and barrel into the module world, for good or bad.

[2016-12-09 20:23] garydgregory commented on #1186
And who do you do that with your hair?

[2016-12-10 05:10] tzlaine commented on #1179
@FeodorFitsner Can you sign me up as well?

Username: tzlaine

Thanks in advance!

[2016-12-10 06:37] janisozaur commented on #1179
Can you add **janisozaur** and **IntelOrca** too, please? Thanks.

[2016-12-10 10:32] codecadwallader commented on #1179
@FeodorFitsner May I also please be added?  **codecadwallader**

[2016-12-10 19:51] NiklasRosenstein opened #1210 "Cygwin chmod error"
I'm trying to use Cygwin on AppVeyor,  but I get an error when using `chmod`.

[code]

My appveyor.yml looks like this:

[code]

And this is the Cygwin script:

[code]

[2016-12-10 19:53] NiklasRosenstein commented on #1210
I get the same error with `mv`

[2016-12-10 20:41] NiklasRosenstein commented on #1210
Works when using `C:\cygwin` instead of `C:\cygwin64`. Do I need to update the `PATH` to use Cygwin 64?

Unfortunately apt-cyg doesn't work because wget is not installed.. Looking into a way to install Python 3 on Cygwin..

[2016-12-10 22:27] FeodorFitsner commented on #1179
@tzlaine, @janisozaur, @codecadwallader - added

[2016-12-11 10:18] janisozaur commented on #1202
It looks like VS2017RC image is affected by this too.

See: https://ci.appveyor.com/project/IntelOrca/openrct2-ject9/build/0.0.5.6210/job/kv901rq6psji2uoc

[2016-12-11 18:54] ceddlyburge opened #1211 "Encryped data fails in pull request builds"
The build here (based on a pull request), failed because the Encryped data was not available.

https://ci.appveyor.com/project/ceddlyburge/canoepololeagueorganiser/build/1.0.95

When I merge in the request, the build succeeds without problems

I imagine that this is done so that the person making the pull request can see the output and fix up any problems, and thus the encrypted data can't bo show

[2016-12-11 21:49] IlyaFinkelshteyn commented on #1211
Hi Cedd,

Right, another customer already proposed this and we filed [this issue](https://github.com/appveyor/ci/issues/1169). However this can be good as measure against unintended secrets exposure, but this does not prevent people from say uploading them to some location over HTTP or FTP or send by e email with some SMTP API calls...

For now you can use **Enable secure variables in Pull Request

[2016-12-11 22:16] c-lipka commented on #161
Any status update on this?

[2016-12-11 23:09] FeodorFitsner commented on #1211
Another option (for GitHub at least) could be maintaining the list of "trusted" GitHub usernames on project settings page. Would that work? Do you see any security pitfalls here?

[2016-12-12 01:38] FeodorFitsner opened #1212 "Node.js 6.9.2, 7.2.1"

[2016-12-12 01:40] FeodorFitsner commented on #1202
VS 2017 image has been fixed, thanks for the catch!

[2016-12-12 01:41] FeodorFitsner commented on #1210
Sure, go ahead and update `PATH` if that worked.

[2016-12-12 08:36] ceddlyburge commented on #1211
Sorry both, I did look for similar issues but didn't find anything.

It's a good point that they could just send themselves an email with the
secret in, I hadn't thought of that.

A list of trusted usernames does seem like it would work.

I think usually a pull request wouldn't need to be doing anything with the
secure variables, so potentially there could be an option for the owner of
the github

[2016-12-12 21:51] matthargett commented on #1150
@FeodorFitsner any updates on this? is there a way my account can be added to the beta list, like you did with VS2017 RC?

[2016-12-13 00:19] ifarbod opened #1213 "VS2017 RC support?"
As we know VS2017 RC is out, I would like to know if AppVeyor will support it or not.
I have tried `image: Visual Studio 2017 RC` already and it seems to fail:

```Build worker image not found: Visual Studio 2017 RC```

Does AppVeyor have any plans on supporting it?

[2016-12-13 00:31] IlyaFinkelshteyn commented on #1213
It is in a "private beta". Could you please request it here https://github.com/appveyor/ci/issues/1179#issuecomment-264055820 :)

Thanks!

[2016-12-13 01:05] ifarbod commented on #1179
@FeodorFitsner I would also like to try it out. My username is @ifarbod

Thanks!

[2016-12-13 01:09] xwipeoutx commented on #1179
I would like to give it a whirl, my username is xwipeoutx.
Thanks @FeodorFitsner :)

[2016-12-13 01:10] FeodorFitsner commented on #1179
@ifarbod, @xwipeoutx - added

[2016-12-13 01:11] xwipeoutx commented on #1179
Wow, such speed, thanks!

[2016-12-13 01:24] ifarbod commented on #1179
Any idea why my build queue is stuck for a while in 'queued' state?

[2016-12-13 01:27] xwipeoutx commented on #1179
@ifarbod Just wait, it'll get through (at least mine did) - presumably there are fewer machines in the pool.

@FeodorFitsner MSBuild is out of date - I don't think it has today's update in it.

Locally:
[code]

AppVeyor:
[code]

[2016-12-13 01:27] FeodorFitsner commented on #1179
@ifarbod - it should be fixed now - cancel that build and start a new one.

[2016-12-13 01:30] FeodorFitsner commented on #1179
@xwipeoutx - right, there is an [update to RC](https://blogs.msdn.microsoft.com/visualstudio/2016/12/12/updating-visual-studio-2017-release-candidate/) which is not applied yet to that image. Will do that today. What a time - "update to RC" :)

[2016-12-13 01:35] ifarbod commented on #1179
@xwipeoutx I tried to, I cancelled/restarted like 5 builds since 3 hours ago, and it's still like that.
@FeodorFitsner Thanks for your effort, It's not fixed yet :(

[2016-12-13 05:57] FeodorFitsner commented on #1179
`Visual Studio 2017 RC` image has been updated with the latest RC. MS Build displays version `15.1.458.808` now.

[2016-12-13 07:11] xwipeoutx commented on #1179
Working perfectly @FeodorFitsner, good job.

[2016-12-13 16:36] ifarbod commented on #1179
Works as expected, Thanks @FeodorFitsner .

[2016-12-13 16:39] ifarbod commented on #1213
Already did, Thanks.

[2016-12-13 16:39] #1213 closed

[2016-12-13 17:52] FeodorFitsner opened #1214 "Git 2.11.0"

[2016-12-13 17:53] FeodorFitsner opened #1215 ".NET 4.6.2 Developer Pack"

[2016-12-13 18:06] FeodorFitsner commented on #1150
Still working on that. Struggling to install Docker on Windows Server 2016 image provided by Google Compute Cloud.

[2016-12-13 19:09] matthargett commented on #1150
Tweeted to @csells asking for some assistance. Hopefully he can help get some attention to the issue on the Google side.

[2016-12-13 19:27] bungeemonkee commented on #1179
Can this account be given access? Thanks!

[2016-12-13 19:31] Mitch528 commented on #1179
I'd also like to try it, my username is Mitch528.

[2016-12-13 19:32] FeodorFitsner commented on #1150
Thanks!

[2016-12-13 19:50] FeodorFitsner commented on #1179
@bungeemonkee, @Mitch528 - added

[2016-12-14 00:35] jakepetroules opened #1216 "QTest support"
Support for QTest output format for unit tests should be added, or at least some converter that actually works. http://doc.qt.io/qt-5/qtest-overview.html

[2016-12-14 03:51] csells commented on #1150
What's the problem with Docker on GCP Windows Server 2016?

[2016-12-14 05:04] kzu commented on #1179
Getting this blocking dialog in the image now:

![image](https://cloud.githubusercontent.com/assets/169707/21170189/aa3f4d32-c1a1-11e6-889f-25778a61b7db.png)

Build: https://ci.appveyor.com/project/MobileEssentials/merq/build/1.0.186

[2016-12-14 05:09] FeodorFitsner commented on #1150
Hi Chris,

thanks for looking into that!

What I'm really trying to do is simply:
1. Provisioning fresh VM on GCE standard "Windows Server 2016" image. I'm giving it 4 cores and 15 GB of RAM.
2. Installing system updates on its first boot.
3. Reboot VM.
4. Follow this guide to install Docker: https://msdn.microsoft.com/en-us/virtualization/windowscontainers/quick_start/quick_start_windows_server
5

[2016-12-14 05:24] HyukjinKwon commented on #517
Could I please ask to increase the time for mine if possible? (It is https://ci.appveyor.com/project/spark-test/spark)

[2016-12-14 05:54] FeodorFitsner commented on #1179
@kzu - it's been fixed and image updated. Give it another try and let me know how that worked.

[2016-12-14 16:09] adamdriscoll commented on #1179
@FeodorFitsner - Could you add "adamdriscoll" as well? Thanks!!

[2016-12-14 17:25] FeodorFitsner commented on #1179
@adamdriscoll - added.

[2016-12-14 17:41] FeodorFitsner commented on #517
@HyukjinKwon increased

[2016-12-14 19:25] fengmin75 commented on #1150
Hi Feodor,

This was a feature incompatibility between GCE virtual network and Docker. We are working on a fix at the moment. The work around right now is to turn off Rsc feature before installing docker.

PS C:> netsh netkvm setparam 0 *RscIPv4 0
PS C:> netsh netkvm restart 0

Please refer to the documentation below for full detail.

https://cloud.google.com/compute/docs/containers/#docker_on_win

[2016-12-14 20:46] IlyaFinkelshteyn opened #1217 "Substitute environment variables for deploy/on/variable setting"
In scenario like this:

[code]
`$(MyVar)` is not being resolved/substituted with variable value

[2016-12-15 02:52] onovotny commented on #1179
@FeodorFitsner I think there's a problem with the current installation of VS 2017 RC on that image.

Look at the following:
https://ci.appveyor.com/project/onovotny/zeroconf/build/2.8.1-vs2017.1+26.build.141

It's failing with this:
[code]

[2016-12-15 05:09] HyukjinKwon commented on #517
@FeodorFitsner Thank you so much for a quick action. It seems increased up to 1 hour and 30 minutes (Is this true?). I just wonder if it can be up to about 4 hours by any chance if it is fine.

Currently, running the tests of Apache Spark takes roughly about 2 - 3 hours on Linux via Jenkins so, I guess it would take similar time on Windows as well.

I would try to work around by manually running t

[2016-12-15 05:09] FeodorFitsner commented on #1179
@onovotny any hint how to fix that? There is a stock 2017 RC Community Edition install which was updated to the latest RC [2 days ago](https://github.com/appveyor/ci/issues/1179#issuecomment-266653134).

[2016-12-15 05:52] FeodorFitsner commented on #1150
It worked like a charm, yay! 😄 Thanks you guys for the help with solving that - we are unblocked now!

[2016-12-15 06:05] IlyaFinkelshteyn commented on #517
@HyukjinKwon we cannot increase build time that much. However you can leverage [parallel testing](https://www.appveyor.com/docs/parallel-testing/) for your goal. Though they will not be executed in parallel (as your plan does not allow it), but if you group them so single group execution will not be longer than maximum build time they all will be executed.

[2016-12-15 06:06] HyukjinKwon commented on #517
@IlyaFinkelshteyn Thank you so much sincerely. I will try to follow the suggestion.

[2016-12-15 12:44] onovotny commented on #1179
@FeodorFitsner not sure.... couple things I can suggest:

- Start with your latest VS 2015 image and do the install of VS 2017 from that, maybe there was a bug upgrading from the last RC
- Use a different edition of VS 2017? The current one has community. I have enterprise and it's fine; no idea about pro

I bugged it in https://github.com/dotnet/sdk/issues/503, to see if it's a known issue possib

[2016-12-15 16:17] matthargett commented on #1150
Awesome! Let me know when we can try it so we can finally run our Universal Windows Tests in AppVeyor!

PS: we've been emailing team@appveyor.com to try and set up a call to discuss enterprise business plans, but haven't been getting a response there. Emails would have been from bluejeans.com or bluejeansnet.com

[2016-12-15 17:43] FeodorFitsner commented on #1179
@onovotny - will try to re-install 2017 RC from scratch.

[2016-12-15 17:52] FeodorFitsner commented on #1150
Oh, will reply on those messages today, sorry for the delay.

[2016-12-15 18:18] FeodorFitsner opened #1218 "Chocolatey 0.10.3"

[2016-12-15 19:09] gep13 commented on #1218
/cc @ferventcoder

[2016-12-15 19:09] ferventcoder commented on #1218
AWESOME

[2016-12-15 20:12] billziss-gh opened #1219 "Feature Request: Install Windows HLK or HCK on Build Workers"
Please consider adding the Windows HLK (Hardware Lab Kit) or HCK (Hardware Certification Kit) in the list of installed build worker software. The tests that are included in these kits are normally used for hardware/driver certification for Windows, however some of the included tests can be run directly and are invaluable to driver developers.

My specific need is for a file system test suite calle

[2016-12-15 20:19] billziss-gh opened #1220 "Feature Request: 32-bit Build Workers"
Please consider adding build workers running the 32-bit version of the Windows OS. This would allow kernel driver developers to test the 32-bit versions of their drivers on AppVeyor.

My specific need: I have a file system driver (FSD), which I am currently building and testing on AppVeyor. Because the build workers run the 64-bit version of the Windows OS, I can only test the 64-bit version of th

[2016-12-15 21:52] GandaG commented on #1147
Well, I didn't know where to prune so I just re-set the path to what I needed only :D
Thanks!

[2016-12-15 21:52] #1147 closed

[2016-12-16 08:50] SimenB commented on #1204
0.18 is still pre-release, but could 0.17.10 get installed? @FeodorFitsner

[2016-12-16 14:48] jakirkham commented on #1002
Why not? I'm guessing other CIs are able to get around this rate limit somehow and would suspect that they use the PR author's token. Though I must admit the details are a bit fuzzy to me too. Do you have a contact at GitHub that we could talk to about this?

[2016-12-16 18:37] glennsarti opened #1221 "Appveyor loses the first 2 or 3 log messages after a reboot"
I'm currently changing the local code page and then rebooting an Appveyor worker, however I found that coming out the reboot, I was dropping the first 2 or 3 log messages.  e.g.

appveyor.yml snippet (Setting to ja-JP locale)
[code]

Yields the following log message output:

[code]

Sometimes it will capture:
[code]

I tried adding in a delay after the reboot (Start-Sleep) with no change.  It's as

[2016-12-16 19:53] FeodorFitsner commented on #1204
Sure, will deploy it in the next update early next week.

[2016-12-16 19:54] FeodorFitsner opened #1222 "Miniconda2 4.2.12 (Python 2.7.12 x86/x64), Miniconda3 4.2.12 (Python 3.5.2 x86/x64)"
Discussion: http://help.appveyor.com/discussions/suggestions/1154-update-miniconda-in-the-base-image

[2016-12-16 20:19] FeodorFitsner commented on #1002
We don't have a dedicated contact there, but drop a message via https://github.com/contact - people at GitHub are usually very responsive

[2016-12-16 20:25] onovotny commented on #1179
@FeodorFitsner any ideas on this? I did something nasty by disabling strong name verification in the build script and got a different error:

https://github.com/onovotny/Zeroconf/blob/d67c86db1deb0684f19c829b89c1528e6684868c/appveyor.yml#L13-L14

https://ci.appveyor.com/project/onovotny/zeroconf/build/2.8.1-vs2017.1+28.build.145

[2016-12-16 20:30] FeodorFitsner commented on #1179
Have you tried restoring/packing via msbuild for smaller project (would be good to have it for repro/test)?

[2016-12-16 20:36] onovotny commented on #1179
I haven't, but it should be File -> New .NET Core Class library from VS 2017 and then run `msbuild /t:restore;pack`  on it. It'll infer everything you need.

[2016-12-17 03:42] IlyaFinkelshteyn commented on #1221
Hi Glenn,
After restart build can start continuing earlier than connection which sends traces to central servers established. This does not mean that any step can be missed, but tracing yes, can be missed. However adding 5 second sleep both before and after restart usually enough. Could you send a link to the build where adding **both** of those sleeps did not help?

Thanks!
Ilya.

[2016-12-17 05:56] purplecabbage opened #1223 "Android SDK Platform 24 License Agreements not accepted"
My Apache Cordova + Android build is failing because it uses Android SDK 24 and the license agreement appears to need someone to actually click a button to accept it before it can be used.

[code]

Full error log here:
https://ci.appveyor.com/project/purplecabbage/phonegap-plugin-multiview/build/1.0.14

[2016-12-17 13:06] klings commented on #1179
@FeodorFitsner could you add me also? My account is linked to my GH account "klings".

[2016-12-17 15:30] egorpugin opened #1224 "CMake to 3.7.1"
Current CMake 3.6.2 has issue with WINDOWS_EXPORT_ALL_SYMBOLS: https://cmake.org/cmake/help/v3.7/prop_tgt/WINDOWS_EXPORT_ALL_SYMBOLS.html

See this fix message in release notes of 3.7 https://cmake.org/cmake/help/v3.7/release/3.7.html#properties

[2016-12-17 15:46] Paebbels opened #1225 "Why doesn't 'Add-AppveyorTest' return a handle which could be used by 'Update-AppveyorTest'?"
Currently I have to supply all parameters twice. At first to `Add-AppveyorTest` to create a test and second to `Update-AppveyorTest` to overwrite an existing test with a new status.

It would be nice if:
- `Add-AppveyorTest` returns a handle (ID, Hash, ...), which could be used in
- `Update-AppveyorTest` to overwrite e.g. outcome and duration.

[code]

[2016-12-17 21:51] simonwh commented on #1110
Any updates on this? I think Appveyor + CodePipeline would be great.

[2016-12-18 18:22] patrikhuber commented on #1209
Hi!

It would be great to have an update on this, as it is a very small request, and would help our project a lot.

Thanks,
Patrik

[2016-12-18 20:26] FeodorFitsner commented on #1225
Well, that makes sense. Thanks for the suggestion!

[2016-12-18 20:28] Paebbels commented on #1225
Maybe you can add these IDs or objects to the other similar API commands as well. Thanks.

[2016-12-19 00:47] Paebbels commented on #1175
You can also retranslate all warnings and errors into strings:

    program.exe 2>&1 | % { "$_" }

[2016-12-19 01:08] Paebbels opened #1226 "NuGet provider for PowerShellGet module, enabled PSGallery"
I get the error message: "NuGet provider is required to interact with NuGet-based repositories. Please ensure that '2.8.5.201' or newer version of NuGet provider is installed.". According to the AppVeyor documentation, the NuGet version is newer than 2.8.5 (2.8.6 or 3.4.x). So what's going wrong here?

The command is: `Install-Module -Name Pscx`.
PSCX is provided by PowerShellGallery.

So my quest

[2016-12-19 03:31] FeodorFitsner commented on #1226
I think PS module installer requires its own "internal" NuGet. Have you tried running it with `-Force`?

    Install-Module -Name Pscx -Force

[2016-12-19 03:37] Paebbels commented on #1226
As reported by @rkeithhill, his solves the problem:

[code]

This adds NuGet as a package provider and registers PowerShellGallery as a trusted source. So the question remains, if NuGet and PSGallery should be registered/trusted by default? I think it's a very common source for additional needed PowerShell scripts. I'm using Pscx to get a `Write-Zip`, `Write-Tar` CmdLet so I can package my builds

[2016-12-19 05:45] xwipeoutx commented on #1179
FWIW, I have the same issue @onovotny
https://ci.appveyor.com/project/xwipeoutx/enumgenie/build/0.0.24

Happens on my local machine, too.

[2016-12-19 06:49] FeodorFitsner commented on #1179
@klings - added

[2016-12-19 13:03] XhmikosR commented on #979
Version: 8.7.0
Updated: December 15th, 2016

[2016-12-19 15:58] bjorn opened #1227 "Qt 5.7.1"
Please update to Qt 5.7.1 (and Qt 5.6.2 if it wasn't already updated). Thanks!

[2016-12-19 17:43] FeodorFitsner opened #1228 "Git LFS 1.5.3"

[2016-12-19 19:41] FeodorFitsner commented on #1226
Yes, that makes sense. Will take a look if this can be installed as part of base build image.

[2016-12-19 19:45] FeodorFitsner commented on #1179
@onovotny we've re-installed the latest VS 2017 from scratch (on top of 2015 image) though result is the same: https://ci.appveyor.com/project/FeodorFitsner/zeroconf/build/2.8.1-vs2017.1+29.build.1#L1375 Interesting to see `\..\` in the path to the `NuGet.Build.Tasks.Pack.dll` assembly.

[2016-12-19 20:05] kevinvangelder commented on #1207
Resolved by: https://github.com/ReactWindows/react-native-windows/pull/899#issuecomment-265834307

[2016-12-19 20:05] #1207 closed

[2016-12-19 20:12] FeodorFitsner commented on #1179
The file `C:\Program Files (x86)\Microsoft Visual Studio\2017\Community\MSBuild\Sdks\NuGet.Build.Tasks.Pack\Desktop\NuGet.Build.Tasks.Pack.dll` exists and I don't see `.targets` file is referring strongly-typed assembly.

[2016-12-19 22:52] onovotny commented on #1179
@FeodorFitsner seems like the issue has been bugged here: https://github.com/NuGet/Home/issues/4122

[2016-12-20 02:01] glennsarti commented on #1221
Hrmm...just added a 5sec pause post-reboot and the messages are working.  I could've sworn they were being dropped.  Should there be some documentation around this?

[2016-12-20 03:52] xwipeoutx commented on #1179
@onovotny @FeodorFitsner They posted a workaround: https://github.com/NuGet/Home/issues/4122#issuecomment-268135666

Basically registering 2 of the assemblies as ones to skip in verification.  Worked a treat for me.

[code]
From an elevated prompt

[2016-12-20 04:51] kzu commented on #1179
This is how I add skip verification automatically from appveyor.yaml:

[code]

You can of course be more restrictive and use `*,31bf3856ad364e35` to just skip it for these assemblies...

[2016-12-20 04:52] kzu commented on #1179
This is how I add skip verification automatically from appveyor.yaml:

[code]

You can of course be more restrictive and use `*,31bf3856ad364e35` to just skip it for these assemblies...

[2016-12-20 04:56] kzu commented on #1179
@IlyaFinkelshteyn the envvar doesn't seem to be working, see https://ci.appveyor.com/project/MobileEssentials/merq/build/1.0.0-alpha#L23, coming from https://github.com/MobileEssentials/Merq/blob/master/appveyor.yml#L7

[2016-12-20 05:21] Rondom commented on #1221
See also #1158

[2016-12-20 06:13] Rondom commented on #1164
Start with an empty package cache. There is no point in restoring and saving files that are included in the build worker image anyways.

You can see the config that is used in the Dokan project for (here)[https://github.com/dokan-dev/dokany/blob/bc77046f91a8cefb05d0151027626a2c7b8c26c1/appveyor.yml#L10-L25]. We only did it for (chocolatey)[https://github.com/dokan-dev/dokany/blob/bc77046f91a8cefb0

[2016-12-20 07:05] IlyaFinkelshteyn opened #1229 "Add ability to display current build worker image"

[2016-12-20 07:06] IlyaFinkelshteyn commented on #1179
@kzu Sorry I was wrong. This is "hook" environment variable which works other way around -- you can use to set what image to use for build, instead of default image.
What about displaying information about what is current image, we unfortunately have no this right now. I created this https://github.com/appveyor/ci/issues/1229 issue.
Sorry once again for misleading.

--ilya.

[2016-12-20 08:54] IlyaFinkelshteyn commented on #1223
Please take a look at [this configuration](https://github.com/StoDevX/AAO-React-Native/blob/master/appveyor.yml). I did not test it but it seems @hawkrives made it work.

--ilya.

[2016-12-20 16:05] mdreizin commented on #67
@FeodorFitsner do you have updates?

[2016-12-20 16:39] hawkrives commented on #1223
Yeah, it works for us.

First off, I download the android sdk manually:

[code]

That leaves the sdk in `C:\android-sdk-windows`.

I then invoke the command-line `android.bat` tool manually to install the items I want – it appears that you can specify multiple items to be installed at once by joining them with commas.

It still wants you to accept the license agreements, but since all of these ite

[2016-12-20 16:48] wgraham17 commented on #1179
Requesting access as well for VS 2017 -- linked to this GH account

[2016-12-20 19:15] IlyaFinkelshteyn commented on #1223
@hawkrives Thanks a lot!

[2016-12-20 20:36] FeodorFitsner commented on #1179
@wgraham17 added.

[2016-12-20 20:45] #1215 closed

[2016-12-20 20:46] #1210 closed

[2016-12-20 20:54] FeodorFitsner commented on #67
We are currently optimizing some AppVeyor parts for better performance - this is required as cctray is basically a polling mechanism. After that it won't take a long to implement the feature.

[2016-12-20 21:02] FeodorFitsner commented on #1125
Duplicate of https://github.com/appveyor/ci/issues/1199

[2016-12-20 21:02] #1125 closed

[2016-12-20 21:08] IlyaFinkelshteyn commented on #1193
This was proposed solution:
$env:PSModulePath = [System.String]::Join(";", ($env:PSModulePath -split ";"| Get-Unique))

Customer made somthing better with trimming slashes:
$env:PSModulePath = ($env:PSModulePath -split ';' | %{$_.Trim('\\')} | Select-Object -Unique) -join ';'

[2016-12-20 21:57] FeodorFitsner opened #1230 "7-Zip 16.04"

[2016-12-20 23:13] FeodorFitsner commented on #1204
Yarn 0.18.1 (release) is out. I assume it's good to be installed on build worker images?

[2016-12-20 23:24] FeodorFitsner opened #1231 "fast_finish with allow_failure should not mark build as cancelled"
Sample build: https://ci.appveyor.com/project/ljharb/node-resolve-0clfj/build/1.0.12
appveyor.yml: https://github.com/ljharb/node-resolve/commit/7e78da28b2f3da0dff249384f239fd4b791ff5fd

[2016-12-20 23:25] ljharb opened #1232 "Node.js 0.6.21"
build: https://ci.appveyor.com/project/ljharb/node-resolve-0clfj/build/1.0.9/job/wi4pyscrjsm4xems

0.6 should work :-)

Download location: https://nodejs.org/dist/v0.6.21/

Update script:

[code]

[2016-12-20 23:29] SimenB commented on #1204
Yup, deffo!

[2016-12-20 23:30] FeodorFitsner commented on #1204
Sounds great!

[2016-12-21 07:49] ljharb opened #1233 ""queued" color should not be green"
For a full half second when I first go to a build page, the queued builds look solid green - before they fade to grey.

The only builds that should ever show green are passing ones - it's very confusing to see the same color, and for the only disambiguation to be if I happen to be watching when the animation kicks in. Could you pick another color for "queued"?

[2016-12-21 07:56] FeodorFitsner commented on #1233
Can you drop a screenshot of that?

[2016-12-21 08:02] ljharb commented on #1233
lol ok so i took the screenshots, but it turns out that since i'm using `f.lux`, and it drops the blue out of my screen, that the blue looks like the same green as the green. When I disable `f.lux`, the queued ones look blue.

<img width="1067" alt="screen shot 2016-12-20 at 11 59 35 pm" src="https://cloud.githubusercontent.com/assets/45469/21381493/85d335ca-c710-11e6-9f0d-750415e9a618.png">
<img

[2016-12-21 08:02] #1233 closed

[2016-12-21 08:14] DavidArno commented on #1179
@FeodorFitsner,

Could you add me too, please? GH account DavidArno.

Thanks.

[2016-12-21 08:41] XhmikosR commented on #1029
v4.0.1 is out.

[2016-12-21 08:55] XhmikosR opened #1234 "Python 2.7.13"
https://www.python.org/downloads/release/python-2713/

[2016-12-21 08:55] XhmikosR commented on #1232
Why on earth would one need 0.6? It's almost 2017.

[2016-12-21 09:10] ljharb commented on #1232
Because I'm maintaining a project that has support for it, and I want to fix tests on windows without having to make a breaking change.

Some companies still use 0.4 in production; something being old is a reason that testing services *must* support it, not a reason they shouldn't. New stuff is easy to test, especially locally - old stuff is what's hard.

[2016-12-21 09:17] XhmikosR commented on #1232
Well, those companies should no longer exist.

Node.js is a fast growing project and people need to follow the LTS release cycle. It's bad for security, performance, compatibility, everything.

[2016-12-21 09:22] ljharb commented on #1232
Projects that provide a clear upgrade path by supporting old platforms and new ones simultaneous are what makes it *easy* for those companies to upgrade.

The best way to get people to upgrade a language or platform version is for the modules/packages/gems/etc you publish to support the oldest ones possible *up to* the newest ones.

[2016-12-21 09:24] ljharb commented on #1232
@XhmikosR at any rate, if you don't want to support old nodes, great, don't! That's no excuse to troll here and try to prevent me from doing so.

[2016-12-21 09:33] XhmikosR commented on #1232
It's not trolling. It's a series of facts you are deliberately ignoring and actually doing a bad thing to your users.

Sure, if you run a business you weight things differently, but still, this is the same reason why big companies mess up.

Anyway, @FeodorFitsner will decide of course, but if no one else has requested this, this should be completely ignored due to the aforementioned reasons.

[2016-12-21 13:13] mdreizin commented on #67
@FeodorFitsner Thanks a lot for updates.

[2016-12-21 17:43] vidstige commented on #403
So what if I want to an image artifact? Right now I cannot as it tries to download the image or something. Github just says `Non-Image content-type returned`

[2016-12-21 17:43] vidstige commented on #403
@FeodorFitsner

[2016-12-21 17:47] FeodorFitsner commented on #403
@vidstige Can you please clarify the use case here?

[2016-12-21 17:53] FeodorFitsner commented on #1232
@ljharb have you tried installing Node.js 0.6 with this command: https://www.appveyor.com/docs/lang/nodejs-iojs/#installing-any-version-of-nodejs-or-iojs

[2016-12-21 17:55] FeodorFitsner commented on #1179
@DavidArno added.

[2016-12-21 18:32] RonnChyran commented on #1179
@FeodorFitsner Could I be added to VS2017 access as well? Appveyor account is linked to this GH account.

Thanks

[2016-12-21 18:44] ljharb commented on #1232
@FeodorFitsner if you click through to the build I linked, you'll see it runs `Install-Product node $env:nodejs_version $env:platform` - is that not sufficient to install the latest version of whatever partial semver string i've provided in appveyor.yml? For example, when I say `7`, that should always be the latest node 7 (i can't conceive of why anyone would want any other behavior)

[2016-12-21 18:45] ljharb commented on #1232
If you're saying that all my commands should be using `Update-NodeJsInstallation (Get-NodeJsLatestBuild $env:nodejs_version $env:platform)` then I can certainly update those (but i'm not sure why that wouldn't be the default behavior)

[2016-12-21 18:46] FeodorFitsner commented on #1179
@DavidArno added.

[2016-12-21 18:49] FeodorFitsner commented on #1232
`Install-Product` cmdlet is faster as it switches nodes pre-installed on build worker. If specified node version is not found on build worker then the command fails.

`Update-NodeJsInstallation` downloads Node.js MSI from Node.js website and installs the selected version, however it's slower. You can use `if` to run `Update-NodeJsInstallation` for 0.6 version only:

    if ($env:nodejs_version -eq

[2016-12-21 19:08] ljharb commented on #1232
I'd prefer accurate over fast, so I'll just do that for every version - thanks! (i'll want 7.3.0 installed the very instant it's released, for example, just like travis).

I'll close this now, but I'd really recommend that you set `Install-Product` to fall back to `Update-NodeJsInstallation` automatically when the version isn't preinstalled - that seems much more useful.

[2016-12-21 19:43] vidstige commented on #403
As part of my build I'm generating sample output in form of images. I want to link these images from my github README.md.

[2016-12-22 01:41] IlyaFinkelshteyn commented on #403
@vidstige we would recommend to upload those images to some external storage as Azure or S3. AppVeyor artifacts infrastructure is designed mostly for people to be able to use it for deployment as part of build, but we don't feel comfortable if people rely on ApVeyor as hosting company to host images for public use.

[2016-12-22 03:09] shiftkey commented on #1179
@FeodorFitsner I would love to try this out. Account name "github-windows"

[2016-12-22 09:20] vidstige commented on #403
@IlyaFinkelshteyn that makes lots of sense. Just wanted to make sure it wasn't some technical oversight. This is indeed how things work over at travis, etc. Thanks for an awesome service!

[2016-12-22 16:47] FeodorFitsner commented on #1179
@shiftkey added.

[2016-12-22 20:08] onovotny opened #1235 "NuGet artifact publish fails - SemVer 2.0"
If you try to use SemVer 2.0 on nuget packages, AppVeyor seems to have trouble adding them to its local feed:

https://ci.appveyor.com/project/dotnetfoundation/rx-net-la3iv/build/4.0.0-dev.36.build.98/messages

Might need a newer version of the NuGet libraries that the feed uses to parse/host? 

[2016-12-22 20:15] DavidArno commented on #1179
Apologies if this has previously been answered, but I can't find it on this thread.

I now have access to the beta msbuild (thanks for that), but when I then run it I get the error:

`error : The 'System.ValueTuple 4.3.0' package requires NuGet client version '2.12' or above, but the current NuGet version is '2.5.40416.9020'`

Presumably there's something else i need to do to access a newer NuGet,

[2016-12-23 01:26] FeodorFitsner commented on #1232
Well, looks like node archive name patter was changed from 0.6 to 0.8. Frankly, we've never tested that function with 0.6, only with 0.8 and above. I was hoping it work for 0.6, but I was wrong.

[2016-12-23 01:30] FeodorFitsner commented on #1179
Where do you get that error? Do you have a simple repro in a public repository?

[2016-12-23 19:42] FeodorFitsner commented on #1235
New NuGet package parser is in works.

[2016-12-24 00:19] #12 closed

[2016-12-24 02:31] FeodorFitsner opened #1236 "Synchronize Add/Update test results"

[2016-12-24 02:35] onovotny commented on #1236
I am one of the xUnit authors. I’ve been working on getting the AppVeyor test reporting working for the new CLI builds with the Preview4 tooling and I’m noticing some inconsistent results with a large test project.

Look a the result counts:
https://ci.appveyor.com/project/dotnetfoundation/rx-net-la3iv/build/4.0.0-dev.42.build.101

https://ci.appveyor.com/project/dotnetfoundation/rx-net-la3iv/buil

[2016-12-24 02:35] onovotny commented on #1236
I’m wondering if things are getting lost between add and update. For something like test results, it might be easier to treat an update as an Upsert. I.e, don’t distinguish between the two and just people post (to either put or post, I don’t care).

For correlating, I’d be okay with stamping a sequence number in the message so that you can throw out messages that might arrive out-of-order for some

[2016-12-24 02:36] onovotny commented on #1236
Question though…if there’s two queues, what happens if I send them to you in parallel and you get the update before the add? Or if you have an update with two status in it (do you go in order there?) Seems like adding a sequence number (or timestamp) may eliminate any ambiguity?

[2016-12-24 09:50] jrobeson opened #1237 "Python 3.6.0"
Python 3.6.0 is a significant release for Windows. It now uses utf-8 by default for console applications. This is the closest to first class Windows support that Python has ever had.  It'd be really cool if it was available.

It was just released, so I'm not expecting it to happen right away.

[2016-12-24 16:13] lukasz-pyrzyk commented on #1179
@FeodorFitsner I also would like to test it. Account is linked to this github profile

[2016-12-24 17:47] FeodorFitsner commented on #1179
@lukasz-pyrzyk added

[2016-12-25 07:39] bojanrajkovic commented on #1179
Does this image work with plain MSBuild without having to shell out to dotnet restore/dotnet build?

If so, I would love to try it as well--my account is linked to this GitHub profile.

Currently, everything works using the VS2015 image if I script downloading the .NET Core SDK, but then the logger does not work: I run `dotnet build /logger:"C:\Program Files\AppVeyor\BuildAgent\Appveyor.MSBuildLog

[2016-12-26 15:19] XhmikosR commented on #1152
1.13.7 is out.

[2016-12-27 05:50] XhmikosR opened #1238 "Boost 1.63.0"
http://www.boost.org/users/history/version_1_63_0.html

[2016-12-27 05:51] XhmikosR opened #1239 "Node.js 0.10.48, 0.12.17, 0.12.18, 4.7.0, 7.3.0"

[2016-12-27 19:51] cerebrate commented on #1179
@FeodorFitsner Would also very much like to test it; account is linked to this GitHub profile. Thanks!

[2016-12-28 01:01] billziss-gh opened #1240 "Simple way to grab MEMORY.DMP files"
In some cases software that is being built and tested within AppVeyor has the ability to crash the OS. An obvious such example, is a faulty kernel driver.

In such cases having a simple method for grabbing the `MEMORY.DMP` file from the crashed build worker would be invaluable. The file can be found in `%SystemRoot%\MEMORY.DMP`.

In my specific case, my project (a kernel driver) was crashing the b

[2016-12-28 03:43] adam4813 commented on #1076
@FeodorFitsner since this has matured a good deal and provides more broad build styles any chance that this can be directly integrated?

Being able to cache my vcpkg/installed directory to allow quick CI iteration would be 100x quicker.

[2016-12-28 06:54] FeodorFitsner commented on #1179
@cerebrate added.

[2016-12-28 06:58] FeodorFitsner commented on #1179
@bojanrajkovic - will fix that this week and upload updated image.

[2016-12-28 20:21] #1212 closed

[2016-12-28 21:48] FeodorFitsner commented on #1179
@bojanrajkovic - an update MSBuild logger has been deployed to `Visual Studio 2017 RC` image: https://ci.appveyor.com/project/FeodorFitsner/pingu/build/2#L111

[2016-12-29 13:29] martinpaljak opened #1241 "Missing feature/documentation: Google Cloud Storage deployments?"
https://www.appveyor.com/docs/deployment/ does not list it, yet https://appveyor.statuspage.io/incidents/g33jdfjgwrmf seems to suggest that it is supported.

If the support exists, it should be documented. If not, it would be nice if support for GCS could be added.

[2016-12-30 21:23] #1029 closed

[2016-12-30 21:23] #1142 closed

[2016-12-30 21:23] #1152 closed

[2016-12-30 21:23] #1181 closed

[2016-12-30 21:23] #1199 closed

[2016-12-30 21:23] #1204 closed

[2016-12-30 21:23] #1206 closed

[2016-12-30 21:23] #1208 closed

[2016-12-30 21:23] #1214 closed

[2016-12-30 21:23] #1217 closed

[2016-12-30 21:23] #1218 closed

[2016-12-30 21:23] #1222 closed

[2016-12-30 21:23] #1224 closed

[2016-12-30 21:23] #1226 closed

[2016-12-30 21:23] #1227 closed

[2016-12-30 21:23] #1228 closed

[2016-12-30 21:23] #1230 closed

[2016-12-30 21:23] #1234 closed

[2016-12-30 21:23] #1237 closed

[2016-12-30 21:23] #1239 closed

[2016-12-31 04:16] speth commented on #1222
@FeodorFitsner: The installation in `c:\miniconda-x64` seems to be broken now, and no longer contains `conda.exe` (among other things) in the `Scripts` subdirectory -- compare to the 32-bit installation in `c:\miniconda`.

Build log with directory listings for `c:\miniconda-x64\Scripts` and `c:\miniconda\Scripts`:
https://ci.appveyor.com/project/Cantera/conda-recipes/build/job/4rx2pxfcg32f6pvq

[2016-12-31 05:23] FeodorFitsner commented on #1222
Thanks for the catch. Will fix that and deploy an updated image shortly.

[2016-12-31 05:51] IlyaFinkelshteyn opened #1242 "Add Reduced Redundancy Storage option for S3 deployment provider"
Or expose other options from Amazon.S3.S3StorageClass?

[2016-12-31 06:00] IlyaFinkelshteyn opened #1243 "Build agent state is not always saved on BSOD/crash"
https://github.com/appveyor/ci/issues/1240
http://help.appveyor.com/discussions/problems/5738-builds-are-stuck

[2016-12-31 06:06] IlyaFinkelshteyn commented on #1240
Hi Bill,

We think that we identified some issue with how we save build state. Sometimes build process saves what was last step with some delay. When crash happened build starts with step before crash and thus ends up looping with crashes. Actually after crash it should continue from the next step, so you should be able to save memory dump on on finish. Please watch https://github.com/appveyor/ci/

[2016-12-31 07:37] XhmikosR commented on #1030
@FeodorFitsner: was this done?

[2016-12-31 09:21] billziss-gh commented on #1240
Ilya, thanks. This explains what happened during the crashes in the linked discussion thread very well. Great detective work.

The crashes were due to a mistake on my part. Basically the driver would crash the VM immediately upon being loaded, and as per your explanation this did not allow enough time for the build worker to save the build state. [Speculation: a `FlushFileBuffers` (or equivalent)

[2016-12-31 16:08] FeodorFitsner commented on #1030
Yes

[2016-12-31 16:21] XhmikosR commented on #1030
Maybe add it to the updates post on the website then and close it.

[2016-12-31 17:15] XhmikosR commented on #1030
Allright, closing then.

[2016-12-31 17:15] #1030 closed

[2016-12-31 17:28] az0 opened #1244 "NSIS 3.01"
It looks like now you have NSIS 3.0, but version 3.01 has been released

http://nsis.sourceforge.net/Docs/AppendixF.html#v3.01

[2016-12-31 22:57] FeodorFitsner commented on #1222
It's been fixed and image updated.

[2017-01-01 03:22] frandi commented on #1179
@FeodorFitsner would love to try it please, thanks! (linked to this github account)

[2017-01-01 13:42] atanas-georgiev commented on #1179
@FeodorFitsner can you please add my account? Thanks!

[2017-01-01 23:23] FeodorFitsner commented on #1179
@frandi, @atanas-georgiev added.

[2017-01-02 06:58] DexterPOSH opened #1245 "Creating PSSession fails inside Pester tests"
Somewhat of a strange revelation, I am able to create PSSession to the localhost in the test_script (build.ps1)  but when I try to do the same inside the Pester tests, it fails.

Created a simple repo to show this behavior.

Take a look at the Test Repo - [Test Repo](https://github.com/DexterPOSH/test)

Appveyor Build details - [See the build messages for past few deployments](https://ci.appveyor.

[2017-01-02 07:20] DexterPOSH commented on #1245
Interesting adding the switch -EnabletNetworkAccess seems to fix creation of PSSessions here.

https://github.com/DexterPOSH/test/commit/dc022da3ca093c7262b1e0f9ec17b0f7528e4a36

Below is what the documentation for the New-PSSession says for the switch, It has nothing to do with the access denied error thrown, since I don't intent to connect to a remote machine here from my loopback session.

[cod

[2017-01-02 07:48] bretcope commented on #1179
@FeodorFitsner I'd like to get VS 2017 access. Thank you.

[2017-01-02 19:21] claudioandre opened #1246 "Add a "checksum integrity verifier" to build workers"
It is just an idea/suggestion.

Would be interesting if appveyor offers a default/pre-installed tool to compute a hash of an artifact.
* think about a new `appveyor ComputeHash FILENAME` routine.

Any routine that calculates and verifies SHA-2 hashes are good enough. A SHA256 message digest (equivalent to sha256sum) could be an easy to implement first choice.

PS: it is a non essential but nice to

[2017-01-02 20:24] gep13 commented on #1246
@claudioandre PowerShell has a built in function `Get-FileHash` cmdlet that I think could suit your needs:

![image](https://cloud.githubusercontent.com/assets/1271146/21595773/7bbdaf16-d129-11e6-9645-d8659d8e0dab.png)

[2017-01-02 21:09] claudioandre commented on #1246
Yes, it does. Well, everything google offered me was too old or too new to expect inside a CI.

PowerShell 4.0 is reasonable target. I'll test it inside appveyor.

[2017-01-02 21:27] gep13 commented on #1246
PowerShell 4.0 is reasonable target.

Agreed.

Another suggestion would be:

`choco install checksum`

https://chocolatey.org/packages/checksum

[2017-01-02 22:07] FeodorFitsner commented on #1179
@bretcope added.

[2017-01-02 23:37] grochocki commented on #1179
@FeodorFitsner, I would like to get VS 2017 access too, please! Linked to this GH account.

[2017-01-02 23:54] a-teammate opened #1247 "Random powershell error (concurrent pipelines)"
An error appears before even cloning the repo:
`The pipeline was not run because a pipeline is already running. Pipelines cannot be run concurrently.`

The error caused the job to fail.

See:
https://ci.appveyor.com/project/inexor-game/code/build/0.1509/job/ofysdwd0u7fmmaj7#L9

The relevant bit of our [appveyor.yml](https://github.com/inexor-game/code/blob/master/appveyor.yml)
[code]

[2017-01-03 00:38] FeodorFitsner commented on #1247
Was it the only build you got it?

[2017-01-03 04:17] DexterPOSH commented on #1245
closing this as the workaround above seems to work for me.

[2017-01-03 04:17] #1245 closed

[2017-01-03 04:35] FeodorFitsner commented on #1179
@grochocki added.

[2017-01-03 06:29] wbraswell commented on #88
@FeodorFitsner
Has there been any progress on releasing an official IRC notification feature?
Thanks!  :-)

[2017-01-03 06:36] wbraswell commented on #861
@FeodorFitsner :+1:
Thanks so much for this fix!
RPerl is passing (relaxed) tests on AppVeyor, at long last!
https://ci.appveyor.com/project/wbraswell/rperl/build/1.0.306

[2017-01-03 11:57] claudioandre commented on #1246
:+1:

[2017-01-03 11:57] #1246 closed

[2017-01-03 12:28] DavidArno commented on #1179
@FeodorFitsner,

Not sure if you are after "success stories", but this VS2017 beta compiler is successfully compiling my project, [Succinc&lt;T&gt;](https://ci.appveyor.com/project/DavidArno/succinct), which contains a mix of portable class libraries and .net core libraries, all using C# 7 features. So it's looking good from my point of view.

[2017-01-03 15:57] Cyberboss commented on #1179
@FeodorFitsner I'd also like to try this out if possible

[2017-01-03 16:46] FeodorFitsner commented on #1179
@DavidArno thanks for sharing that!
@Cyberboss added.

[2017-01-03 16:47] vercellone commented on #1179
@FeodorFitsner Please add me as well.

[2017-01-03 16:49] FeodorFitsner commented on #1179
@vercellone added.

[2017-01-03 16:51] onovotny commented on #1179
@FeodorFitsner any ETA as to when the image will be available for all accounts instead of needing to opt-in? Not suggesting it's the default, just available?

[2017-01-03 19:53] FeodorFitsner opened #1248 "Azure Storage Emulator 4.6"
Update script:

[code]

[2017-01-04 05:36] FeodorFitsner opened #1249 "Node.js 4.4.7, 4.7.1, 4.7.2, 6.9.3, 6.9.4, 7.4.0"

[2017-01-04 12:45] seburgi commented on #41
We would also be interested in this feature.

[2017-01-04 21:17] jrbenny35 opened #1250 "Outdated Geckodriver and Firefox Version"
Hello, the current geckodriver version as well as the Firefox version is outdated. The current version is 50 for firefox and 0.12 for geckodriver, and since Firefox version 47 there have been some significant changes to both firefox and geckodriver.

[2017-01-04 21:50] rasmus commented on #1179
@FeodorFitsner Could you add me to the VS2017 beta as well?

[2017-01-04 23:23] billziss-gh commented on #1240
Ilya, I want to add a related idea that I think may be useful to people beyond kernel developers.

It would be very useful if AppVeyor provided a simple means to grab not only the kernel `MEMORY.DMP` file after a failed build, but also any user mode crash dumps:

https://msdn.microsoft.com/en-us/library/windows/desktop/bb787181(v=vs.85).aspx

For example, it could be a new tab next to the existing

[2017-01-04 23:43] IlyaFinkelshteyn commented on #1250
Hi Benjamin,

As **temporary** workaround, please add the following script at `install stage`

[code]

Thanks!
Ilya.

[2017-01-04 23:44] jrbenny35 commented on #1250
Heh, I actually wrote something like this, albeit, FAR less attractive. Thanks for the solution!

[2017-01-05 06:09] rasmus commented on #1179
@FeodorFitsner Its at https://ci.appveyor.com/project/rasmusnu or do you need the e-mail?

[2017-01-05 06:10] FeodorFitsner commented on #1179
@rasmus no, that's fine - added.

[2017-01-05 07:13] STJEREM commented on #1179
@FeodorFitsner Could you add me? https://ci.appveyor.com/project/STJEREM/hippocrates

[2017-01-05 19:58] IlyaFinkelshteyn opened #1251 "Allow exceptions for timeout limit"
Original proposal is [here](http://help.appveyor.com/discussions/suggestions/1170-allow-exceptions-for-timeout-limit)

[2017-01-06 00:06] ljharb commented on #1232
Any update?

[2017-01-06 01:56] FeodorFitsner commented on #1232
Sorry for the delay. Will make it available this week.

[2017-01-06 02:07] FeodorFitsner commented on #1179
@STJEREM added.

[2017-01-06 13:39] fiendish commented on #827
Maybe, but I also expected "force_update" to actually update the tag. Current behavior feels deceptive.

[2017-01-06 14:21] a-teammate commented on #1247
So far yes

[2017-01-06 15:54] sparkeh9 commented on #1179
I'd be grateful if I could have access to it as well :)

https://ci.appveyor.com/project/sparkeh9/coreftp

[2017-01-06 15:55] apolukhin commented on #1179
Please, me too!

https://github.com/apolukhin/magic_get

[2017-01-06 19:15] FeodorFitsner commented on #1247
So, you didn't encounter this error anymore?

[2017-01-06 19:17] FeodorFitsner commented on #1179
@sparkeh9, @apolukhin added.

[2017-01-06 20:12] mjeanrichard commented on #1179
Me too, please.

https://ci.appveyor.com/project/MJeanRichard/winrtmap

Thanks!

[2017-01-06 20:16] FeodorFitsner commented on #1179
@mjeanrichard added.

[2017-01-07 01:11] trailmax opened #1252 "GitVersion causes "(500) Internal Server Error" when used on Pull Request"
I'm using GitVersion to set AppVeyor version. It works fine, until I get a pull request and then I get 500 error when attempting to push the version to AppVeyor. I'm trying to decide which system is at fault here.

Please see [this build log](https://ci.appveyor.com/project/trailmax/cake-sqlserver/build/51-cendkfse#L311). This is caused by executing PUT request to AppVeyor "api/build" with content

[2017-01-07 01:34] FeodorFitsner commented on #1252
On of the reasons you get 500 while updating build version via Build Worker API is that another build with the same version already exists.

[2017-01-07 01:45] trailmax commented on #1252
Just looked through the list of builds - that is indeed the case ([1](https://ci.appveyor.com/project/trailmax/cake-sqlserver/build/1.3.1-PullRequest.13+3.build.51), [2](https://ci.appveyor.com/project/trailmax/cake-sqlserver/build/51-ytufdivg), [3](https://ci.appveyor.com/project/trailmax/cake-sqlserver/build/51-cendkfse))!

But why is build number 51 been reused four times? ([fourth](https://ci.

[2017-01-07 01:47] IlyaFinkelshteyn commented on #1252
Maybe you have **Pull Requests do not increment build number** in **Settings** > **General**?

[2017-01-07 08:10] richardschneider opened #1253 "docfx and appveyor"
I'm trying to get [docfx](https://github.com/dotnet/docfx), an API documentation generator, to work on appveyor; see https://github.com/dotnet/docfx/issues/1078.

Basically the docfx team believes its an issue with the appveyor environment and Roslyn.  Hopefully, you can come to rescue!!!

The build error is at  https://ci.appveyor.com/project/richardschneider/net-ipfs-core/build/0.5.2-ci.9.build.

[2017-01-07 11:11] a-teammate commented on #1247
No, I just thought you might be interested to know about it. :)
Sorry for not making that clear

[2017-01-07 12:21] Croydon commented on #88
Notifico could help some people in the meantime.

https://github.com/notifico/notifico

[2017-01-07 13:46] trailmax commented on #1252
@IlyaFinkelshteyn that was it - I have not realised this was possible. Ilya, Feodor, thank you for your help and time - much obliged.

[2017-01-07 13:46] #1252 closed

[2017-01-07 21:37] jakirkham commented on #1107
Could someone please rename https://ci.appveyor.com/project/conda-forge/ruamel-yaml-feedstock-d73ox to https://ci.appveyor.com/project/conda-forge/ruamel-yaml-feedstock .

[2017-01-07 23:16] micbou commented on #1179
@FeodorFitsner I'd like to be part of the beta too, with this account.

[2017-01-08 03:34] IlyaFinkelshteyn commented on #1107
We already have project with slug ruamel-yaml-feedstock connected to repository jakirkham/ruamel_yaml-feedstock (ruamel-yaml-feedstock-d73ox is connected to conda-forge/ruamel_yaml-feedstock).

[2017-01-08 03:49] jakirkham commented on #1107
Feel free to rename my fork's CI project name if need be.

[2017-01-08 04:02] FeodorFitsner commented on #1247
OK, thanks. Will take a look.

[2017-01-08 05:13] IlyaFinkelshteyn commented on #1107
Done, fork's project slug is `ruamel-yaml-feedstock-sa7jk`

[2017-01-08 17:28] Unknown6656 commented on #1179
@FeodorFitsner : I would also like to be part of the beta. The account name is `Unknown6656`

[2017-01-08 19:55] FeodorFitsner commented on #1179
@micbou, @Unknown6656 added.

[2017-01-08 21:39] Unknown6656 commented on #1179
@FeodorFitsner Thank you very much, Sir!

[2017-01-09 21:03] IlyaFinkelshteyn commented on #1240
Hi Bill,

Thank you for suggestion! We think that this is part of the same issue.

https://github.com/appveyor/ci/issues/1243 fix is checked in, and will be in production with next update. As it is in production,  we will provide with YAML/scrips samples to collect dumps as current workaround and see how you and other people will use current workaround, to fully understand scope of this feature.

[2017-01-09 21:06] IlyaFinkelshteyn opened #1254 "Custom name for automatic WAP artifact"
Discussion [here](http://help.appveyor.com/discussions/questions/2958-how-to-rename-automatic-wap-artifact)

[2017-01-09 21:24] billziss-gh commented on #1240
Excellent. Thank you.

[2017-01-09 21:44] IlyaFinkelshteyn commented on #1253
Hi Richard, thank you :)

We tried several (pretty random) workaround but was not able to fix it at least quickly. Could you please do the following:

-  Add [RDP blocking statement](https://www.appveyor.com/docs/how-to/rdp-to-build-worker/)  at `install` stage
- After you connect to RDP, you will find your code in `C:\projects\net-ipfs-core`
- Try to do all steps manually, as you do on your compu

[2017-01-10 04:46] richardschneider commented on #1253
@IlyaFinkelshteyn thanks for looking into it.  I'll leave it to docfx team.

[2017-01-10 05:57] csoltenborn commented on #1179
@FeodorFitsner  Also would like to give it a try, account name is csoltenborn - thanks in advance!

[2017-01-10 07:25] shawnmclean commented on #1179
@FeodorFitsner Hi, could I have access to this too? `shawnmclean`.
https://ci.appveyor.com/project/shawnmclean/mandrill-dotnet

[2017-01-10 14:39] amitgilad3 commented on #1241
any updates ??

[2017-01-10 18:48] FeodorFitsner commented on #1179
@csoltenborn, @shawnmclean - added.

[2017-01-11 04:30] richardschneider commented on #1253
The docfx team, in particular @vicancy, solved the issue, see https://github.com/richardschneider/net-ipfs-core/pull/25

After testing various changes in `appyevor.yml`, it looks like `platform: Any CPU` is the cause of all of the problems.

Can you provide any insights?

[2017-01-11 09:45] XhmikosR opened #1255 "Chrome Driver 2.27"

[2017-01-11 09:45] XhmikosR opened #1256 "Chrome 55"

[2017-01-11 15:20] RaYell commented on #1179
@FeodorFitsner Can you add me as well? `RaYell`

[2017-01-11 15:25] FeodorFitsner opened #1257 "Firefox 50.1.0"

[2017-01-11 15:25] FeodorFitsner opened #1258 "Gecko Driver 0.13.0"

[2017-01-11 17:10] IlyaFinkelshteyn commented on #1253
Maybe it is somehow connected to the historical inconsistency - `AnyCpu` in .csproj vs `Any CPU` in .sln files?

[2017-01-11 17:41] FeodorFitsner commented on #1179
@RaYell added.

[2017-01-11 21:21] IlyaFinkelshteyn commented on #1241
We made script when can be done as a workaround for this issue.

Please check [this working sample build configuration](https://gist.github.com/IlyaFinkelshteyn/7de4b7d11b21ad8c626f52c875ea7c49.) in YAML format.

If you use UI, all those settings can be done with UI as well.

Note that file have comments which describes preparation steps.

Thanks!
Ilya.

[2017-01-11 21:43] IlyaFinkelshteyn opened #1259 "Option to disable the UI settings"
[Forum post](http://help.appveyor.com/discussions/suggestions/1176-disable-the-ui-settings)

[2017-01-12 07:02] csoltenborn commented on #1179
Here's a quick first round of feedback: Our extension builds just fine with the new image. We have a couple of failing tests, but that also happens when building locally, so I guess it's not related to AppVeyor. Good job!

[2017-01-12 14:33] Neproify commented on #1179
@FeodorFitsner Can you add me too?
https://ci.appveyor.com/project/Neproify/iv-network

[2017-01-12 18:43] IlyaFinkelshteyn opened #1260 "Agent website deployment: change ArtifactName.path to ArtifactName.root_path"
Problem is that people often use environment variable `path` to set it thus killing what is expected to be in `path` environment variable

[2017-01-12 18:50] FeodorFitsner commented on #1179
@Neproify added.

[2017-01-12 19:28] mvput commented on #1179
Can you add me, thanks in advance.
mvput

[2017-01-12 21:23] pllim commented on #1197
@mwcraig , I have the same problem trying to run Appveyor on a branch of my fork. Are you saying that such things are not possible?

https://ci.appveyor.com/project/pllim/astropy/build/job/4p493dk4vanewpkw/messages

[2017-01-12 21:24] FeodorFitsner commented on #1197
@pllim it should be added under your account by request.

[2017-01-12 21:26] pllim commented on #1197
@FeodorFitsner , how and where do I put in such a request? Is it free?

[2017-01-12 21:41] FeodorFitsner commented on #1197
Yes, it's free. What's your AppVeyor account name?

[2017-01-12 21:43] pllim commented on #1197
pllim

Thanks!

[2017-01-12 21:46] FeodorFitsner commented on #1197
@pllim added.

[2017-01-12 21:51] FeodorFitsner commented on #1179
@mvput added.

[2017-01-12 23:10] wbraswell commented on #88
@pombredanne
Can you please send me a link to the installation & usage instructions for your IRC notification script?
Thanks!

[2017-01-13 03:08] IlyaFinkelshteyn commented on #272
Also [this](http://help.appveyor.com/discussions/suggestions/523-filter-notifications-eg-per-branch) discussion.

[2017-01-13 13:39] XhmikosR commented on #979
Version: 8.7.0
Updated: January 9th, 2016

[2017-01-13 13:41] XhmikosR commented on #1257
I assume you mean 50.0.2. Also it's Firefox not camelcase :)

[2017-01-14 00:42] FeodorFitsner opened #1261 "IE Driver 3.0"

[2017-01-14 15:49] haavardheggheim commented on #1179
Can you add me @FeodorFitsner  ?
`hvard`

[2017-01-14 20:52] FeodorFitsner commented on #1179
@haavardheggheim added.

[2017-01-14 23:41] ChristopherHaws commented on #1179
@FeodorFitsner Could I get access as well? :)

`ChristopherHaws`

Thanks!

[2017-01-15 00:19] tachyon1337 commented on #1179
Can you add the image my appveyor account as well?

`tachyon1337`

[2017-01-15 06:07] Thealexbarney opened #1262 ".NET Core 1.0.3"
I've noticed that the .NET Core runtime and SDKs for 1.0.0, 1.0.1, and 1.1.0 are on the build images, but the most recent LTS release, 1.0.3, isn't. Are there any plans to add this to the build images?

[2017-01-15 21:40] xoviat opened #1263 "Builds queued on pywin32"
See https://ci.appveyor.com/project/pywin32/pypiwin32/history. The builds appear to be stuck.

[2017-01-15 21:43] FeodorFitsner commented on #1263
There was AppVeyor outage: https://appveyor.statuspage.io

Please re-start the build.

[2017-01-15 21:43] #1263 closed

[2017-01-15 21:44] FeodorFitsner commented on #1179
@ChristopherHaws, @tachyon1337 added.

[2017-01-15 21:46] xoviat commented on #1263
@FeodorFitsner

I have resolved this issue, but just to let you know, I actually had to remove and re-add the entire project in order to resume the builds. Simply restarting the builds would not work.

[2017-01-15 21:47] FeodorFitsner commented on #1263
OK, got it.

[2017-01-15 22:30] FeodorFitsner commented on #1262
Are you experiencing an issue while building 1.0.3 apps on AppVeyor? Can you give us "hello world" example of such app?

[2017-01-16 02:06] ghuntley commented on #1179
Howdy @FeodorFitsner can you add "ghuntley" - thanks.

[2017-01-16 02:35] FeodorFitsner commented on #1179
@ghuntley added.

[2017-01-16 03:12] tzachshabtay opened #1264 "Badge per job"
I see that this was requested in the past (http://help.appveyor.com/discussions/questions/2890-badge-for-every-job) but an issue was not created.

My use case:
I'm planning on having 3 jobs with different configurations for Windows, Android and IOS (using Xamarin for mobile) and I'd want to have a passed/failed badge for each of those separately in my readme on github.

Thanks.

[2017-01-16 03:17] Thealexbarney commented on #1262
[Here's](https://github.com/Thealexbarney/dotnet-1.0.3-appveyor) an example of a test project created with `dotnet new`, and its [AppVeyor ](https://ci.appveyor.com/project/Thealexbarney/dotnet-1-0-3-appveyor)page.

As seen in the build history, it's unable to test the project because it doesn't have the latest framework. The workaround is to download the SDK and runtime before each build.

[2017-01-16 13:11] claudiofantacci commented on #1076
I'm also interested in vcpkg integration.
I'm looking forward to it!

[2017-01-16 17:49] p-ob commented on #1179
To jump on this VS 2017 train, could you add "p-ob". Thanks!

[2017-01-16 18:09] FeodorFitsner commented on #1179
@p-ob added.

[2017-01-16 18:20] FeodorFitsner commented on #1262
Can you help me to understand please why this app is building on current image: https://github.com/appveyor-tests/dotnet-core/tree/master/WebAppDotNetCore103/src/WebAppDotNetCore103
Results: https://ci.appveyor.com/project/appveyor-tests/dotnet-core

[2017-01-16 18:32] FeodorFitsner opened #1265 "TypeScript 2.1.5"
Download URL: https://www.typescriptlang.org/#download-links

[2017-01-16 18:43] cruikshj commented on #1179
Please add "cruikshj".  Thank you.

[2017-01-16 18:59] FeodorFitsner commented on #1179
@cruikshj added.

[2017-01-16 20:03] Thealexbarney commented on #1262
It'll build with the preview 2.1 1.1.0 SDK, but would be unable to run the project or run tests because the 1.0.3 runtime is missing.

[2017-01-16 21:03] ryanpolasek commented on #1068
Hi, is this feature happening?  I could really use it for managing package management server credentials and settings without having to update variables in dozens of projects every time I regenerate access tokens for my servers.

[2017-01-16 21:10] devlead commented on #1068
@ryanpolasek indeed global settings makes so much sense, I've solved the acute issue of dozens of projects scenario by automation, you can find some examples of that in a blog post I wrote [here](https://medium.com/@devlead/reduce-the-pain-of-expiring-nuget-keys-794acd97127a)

[2017-01-16 23:08] Thealexbarney commented on #1262
And the latest [LTS SDK release](https://www.microsoft.com/net/download/core), 1.0.0-preview2-003156, isn't available, so it has to be manually downloaded if you want to use the LTS branch.

[2017-01-16 23:24] FeodorFitsner commented on #1262
But you can't have both 1.0 and 1.1 SDKs installed, right?

[2017-01-17 00:26] Thealexbarney commented on #1262
Each SDK and runtime is stored separately from the others. The default directories are "%PROGRAMFILES%\dotnet\sdk" and "%PROGRAMFILES%\shared\Microsoft.NETCore.App" respectively.

The current vs2015 image has SDKs "1.0.0-preview2-003121", "1.0.0-preview2-003131", and "1.0.0-preview2-1-003177". It has runtimes 1.0.0, 1.0.1, and 1.1.0. The user can choose which SDK to use at build time.

I think mos

[2017-01-17 00:31] FeodorFitsner commented on #1262
Cool, good to know, thanks.

So, how would you choose specific SDK while building the app? I mean after installing SDK we usually do `dotnet new`, etc. to "warm up" and pre-cache .NET Core libs. How would we do that for each of the SDK?

[2017-01-17 00:46] britzkopf commented on #1262
Does [this](https://docs.microsoft.com/en-us/dotnet/articles/core/tools/index#driver) answer that question?

[2017-01-17 01:13] Thealexbarney commented on #1262
Currently you would specify which SDK version to use in a global.json file in your working directory. There's been talk about specifying it another way, but I don't know where that's gone recently.

I just do this to create the file:
[code]

[2017-01-17 01:17] FeodorFitsner commented on #1262
OK, got it.

So what SDKs do we have to install to build workers? All of them? For example of [this page](https://github.com/dotnet/core/blob/master/release-notes/download-archive.md) there is `SDK Preview 4 build 4233` coming with 1.0.1 (not newer 1.0.3?). Is that Preview 4 newer than `Preview 2.1 build 3177` coming with 1.1 runtime? Does it work with 1.1 runtime?

Thanks!

[2017-01-17 01:46] msevestre commented on #1068
This would be a great addition indeed.

[2017-01-17 01:47] FeodorFitsner commented on #1262
@Thealexbarney based on your test app I did the following test checking all installed .NET Core runtimes/SDKs: https://github.com/appveyor-tests/dotnet-core

What do you think?

[2017-01-17 01:51] FeodorFitsner commented on #1262
Btw, found good article explaining .NET Core runtimes/SDKs: http://blog.tpcware.com/2016/12/multiple-versions-of-net-core-runtimes-and-sdk-tools-sxs-survive-guide/

[2017-01-17 01:56] Thealexbarney commented on #1262
It's important to note that the SDK and the runtime aren't dependent on specific versions of each other. You can pair any SDK with any runtime. The SDK is only used to build projects, and the runtime runs them.

All 1.0.x versions can be used as drop-in replacements for lower 1.0.x versions, and the same goes for 1.1.x versions.

At the very least, it would be best to have the latest SDK and runti

[2017-01-17 02:50] Thealexbarney commented on #1262
BTW, 1.0.0-preview2-003133 was released as an update to 1.0.0-preview2-003131. The original 1.0.0-preview2-003131 isn't listed in the download archive

[2017-01-17 03:58] tzachshabtay commented on #1264
As a workaround for this missing feature, I created a small web service that can provide this using Appveyor's API. Here: https://github.com/tzachshabtay/appveyor-matrix-badges

[2017-01-17 04:42] FeodorFitsner commented on #1264
Nice, thanks for sharing the solution!

[2017-01-17 06:34] XhmikosR commented on #979
@FeodorFitsner: can you make this update? The old Coverity doesn't work with VS2015.

[2017-01-17 09:57] llafuente opened #1266 "window never get active"
Hi,

I'm trying to install Unity & login with AutoHotKey.
It works on local, it work on RDP, but not with Appveyor.

The reason: Unity window never get active.
I try 4 different methods (see https://github.com/llafuente/unity-platformer/blob/master/Scripts/unity.ahk), all fail, the script leave a log with timeout (ErrorLevel = 1) for every method at C:\projects\unity-platformer\autohotkey.txt

The

[2017-01-18 05:47] NoahAndrews opened #1267 "Add WiX toolset to PATH"
Right now, I have to hardcode the full path to WiX in my build script, which will change every time there is a new minor release of WiX. The bin folder of the WiX toolset should be in the PATH, so that I don't have to deal with it, and so that my build doesn't break every time Appveyor updates their version of WiX.

[2017-01-18 11:03] edenhill opened #1268 "appveyor.yml undefined variable rendering"
It would be great if undefined variables in appveyor.yaml would render as empty strings rather than their variable token.

Take this example S3 deployment folder which is configured to include the git tag (if any):
` folder: appveyor-windows-$(platform)-$(configuration)-tag_$(APPVEYOR_REPO_TAG_NAME)-$(APPVEYOR_REPO_COMMIT)-$(APPVEYOR_BUILD_ID)`

If there was no tag this renders as:
`appveyor-windo

[2017-01-18 15:38] XhmikosR commented on #1124
Java 8 Update 121 is out.

[2017-01-18 19:21] mdreizin opened #1269 "Use "{orgName}/{repoName}" for the slug"
Hello,

As member of some organizations I would like use the following expression for the slug:

[code]

For example if `orgName=foo` and `repoName=bar` then the full url will be:

https://ci.appveyor.com/project/foo/bar/branch/master

Currently as I can see CI uses the following expression:

[code]

https://ci.appveyor.com/project/fooUser/barProject/branch/master

One of possible solutions is to

[2017-01-18 21:37] IlyaFinkelshteyn commented on #1268
Hi Magnus,

We considered it, but we decided that for many people it would be more natural the way it is now. We assume that we should behave the same way CMD behaves, where if you type `echo %non_existing_var%` you will get `%non_existing_var%` and not enpty string. Maybe we were wrong.

Anyway PowerShell behave more as you expect so you can use it to filter those variables out, with adding this

[2017-01-18 21:45] edenhill commented on #1268
Thanks for the explanation and workaround, @IlyaFinkelshteyn

[2017-01-18 21:45] #1268 closed

[2017-01-18 21:59] IlyaFinkelshteyn commented on #1269
Hi Marat,

We already do best effort to create slug exactly like this when people are registered with GitHub. Account name is different if person is registered specifically with email or with other source control provider account. We cannot make slug to be always like you said, because in this case we will have naming conflicts when more than one different account on AppVeyor have project which is

[2017-01-19 00:11] IlyaFinkelshteyn opened #1270 "Azure Blob Storage Headers and Content Types"
[Initial suggestion] http://help.appveyor.com/discussions/suggestions/1183-azure-blob-storage-headers

  - We noticed there’s no way to set custom headers on the files when they’re uploaded to Blob Storage. For example, we’d like to be able to set Cache Control headers for our static content.

  - Perhaps more significantly, we noticed that also we have “Set blobs Content Type based on file extens

[2017-01-19 01:00] IlyaFinkelshteyn commented on #1266
Hello,

We are not familiar with AutoHotKey and cannot recall other customers successfully use it with AppVeyor. We have to investigate. However I believe that you may reach your goal with Microsoft UI Automation framework, as in [this](https://github.com/FeodorFitsner/DeveloperLicenseAcquirer/tree/master/DeveloperLicenseAcquirer) tool, which works OK on AppVeyor.

Thanks!
Ilya.

[2017-01-19 08:37] mdreizin commented on #1269
@IlyaFinkelshteyn Thanks for the feedback, but it is not an issue to do that, because github/bitbucket/etc provides complete information about the repos and that approach is used by many CI providers like travis, circleci, drone etc.

I would suggest you to add a new option like `Use repository name for the slug`, try to generate slug based on that expression, perform validation etc. If a slug is

[2017-01-19 10:08] martijn00 commented on #1179
Hey @FeodorFitsner can you add "martijn00"? Thanks in advance!

[2017-01-19 12:50] FelschR commented on #1179
Please add me, too. Account name is "FelschR" as well. Thanks a lot!

[2017-01-19 16:21] FeodorFitsner commented on #1179
@martijn00 added, but wasn't able to find `mvvmcross`.
@FelschR added.

[2017-01-19 21:28] IlyaFinkelshteyn opened #1271 "Adjust nunit parser to latest Pester version"

[2017-01-20 07:24] jwvolschenk commented on #31
@nicolas-grekas  I tried your code, but I just go the following error. Do you have any idea why this occurs on AppVeyor as this same command runs perfectly on a normal windows machine.

Error from: **DISK1\setup.exe /s /f1"DISK1\response\OracleXE-install.iss"**
Command exited with code -3

[2017-01-20 08:45] ZokiDespotovski opened #1272 "Setting custom identity for the application pool"
As I researched this can be done with post-deployment PowerShell script only.

I expect this to be straight forward as just another setting in GUI.
Is there another simple solution available?

[2017-01-20 09:12] tsolbjor commented on #178
Any progress on this?

[2017-01-20 11:39] BigEgg opened #1273 "Tests doesn't support IProgress"
AppVeyor URL: https://ci.appveyor.com/project/BigEgg/jsoncomparer/build/0.1.5
GitHub URL: https://github.com/BigEggTools/JsonComparer

I have a function used IProgress interface (https://msdn.microsoft.com/en-us/library/hh138298(v=vs.110).aspx), and write some tests.

All the tests passed in my local computer, no matter Release or Debug build. But in AppVeyor, it said all of them are failed, but n

[2017-01-20 13:25] martijn00 commented on #1179
@FeodorFitsner Can you try again for "mvvmcross" now?

[2017-01-20 17:34] FeodorFitsner commented on #1179
@martijn00 added.

[2017-01-20 19:33] FeodorFitsner commented on #178
Yeah, actually it's been done already. Currently, artifacts are being downloaded directly from cloud storage (Azure or Google), so no AppVeyor in between.

[2017-01-20 19:33] #178 closed

[2017-01-20 23:50] IlyaFinkelshteyn commented on #1273
I see that actually all [34 of 34 tests passed](https://ci.appveyor.com/project/BigEgg/jsoncomparer/build/0.1.5#L128) as on your machine. I believe that everything is just being swallowed inside `var progress = new Progress<IProgressReport>(report => {});` construct. I clone your repository and tried 2 simple tests like this:

[code]
and even

[code]

Both finished happily. I think that the only d

[2017-01-21 02:32] IlyaFinkelshteyn opened #1274 "Store meta-information for every build to re-build or investigate"
Often we are asked to troubleshoot the issue in some past build and it is difficult to determine what specific setting or variable value was during the build. This is because build configuration can be merged from different sources  like UI, API and YAML.

[2017-01-21 06:24] XhmikosR opened #1275 "Bundler 1.14.5"

[2017-01-21 07:07] tsolbjor commented on #178
My artifacts seems to be downloaded from appveyorcidata.blob.core.windows.net, the download speed is ~100KB/s

[2017-01-21 07:43] FeodorFitsner commented on #178
What location are you downloading them from?

[2017-01-21 08:01] tsolbjor commented on #178
Im in Norway

(using Chrome and click on the link on the Artifacts tab on Latest Build, but have the same experience using the Deployment Agent)

[2017-01-21 19:02] daviwil commented on #1179
Hey Feodor, could you add myself and the @PowerShell org so that I can get this going on the [PowerShellEditorServices](https://ci.appveyor.com/project/PowerShell/powershelleditorservices) repo?  Thanks a lot!

[2017-01-21 21:37] jakirkham commented on #1002
Would it be possible to include the rate limit info in the webhook response too? That would really help with checking when it will be reset or if we are getting close to running out.

[2017-01-22 09:28] mertkahyaoglu commented on #985
👍  for button.

[2017-01-22 16:25] mancoast opened #1276 "Intel Parallel Studio"
Greetings,

Mandelbulber project requests Intel Parallel Studio for k1om Build-Packages.
We request "private build cloud" feature for azure.
We need guidance from the administrators of Appveyor.
We need our implementation to remain free.

Please assist Engineering our specific use case scenario.
REFERENCE:
https://github.com/buddhi1980/mandelbulber2/issues/155

Looking forward to a happy dialogue!

[2017-01-22 16:35] markwragg commented on #1271
Workaround:
[code]
(From: http://help.appveyor.com/discussions/problems/5906-pester-test-not-showing-in-test-tab)

[2017-01-22 17:14] mancoast commented on #1276
Intel® Xeon Phi™ Coprocessor - Request 02348003
![image](https://cloud.githubusercontent.com/assets/7040493/22184261/2e67fd7a-e09c-11e6-877a-fd8e32e1443c.png)

[2017-01-22 19:05] FeodorFitsner commented on #178
We may try storing your artifacts on Google storage and see if that makes a difference. Let's continue over email. Could you please send as your AppVeyor account name to team@?

[2017-01-22 19:23] FeodorFitsner commented on #1179
@daviwil added to both accounts.

[2017-01-22 19:28] daviwil commented on #1179
I see the image now, thanks a lot!

[2017-01-22 20:34] FeodorFitsner opened #1277 "BitBucket OAuth 2.0 with granular scopes"
Right now AppVeyor uses OAuth 1.0 authorization flow which does not allow selecting scopes and thus requesting too much.

Implementing OAuth 2.0 would allow requesting more granular scopes:
https://confluence.atlassian.com/bitbucket/oauth-on-bitbucket-cloud-238027431.html
https://developer.atlassian.com/bitbucket/concepts/bitbucket-rest-scopes.html

API 2.0 reference:
https://developer.atlassian.c

[2017-01-22 20:37] FeodorFitsner commented on #1002
You mean rate limit from GitHub API call fetching PR details?

[2017-01-22 20:54] daviwil commented on #1179
@FeodorFitsner hmmm, even after switching to the VS 2017 image, I still get the following error when running `dotnet test -l "Appveyor"`:

[code]

Any ideas?  You can see the build log [here](https://ci.appveyor.com/project/PowerShell/powershelleditorservices/build/0.9.0.565#L429).  Thanks!

[2017-01-22 20:59] FeodorFitsner commented on #1179
What console runner is that? "Appveyor" logger was implemented to work together with `vstest.console.exe` runner.

[2017-01-22 21:11] onovotny commented on #1179
@daviwil which test framework? If it's xunit, you don't need to specify -l. Just make sure to use the latest `beta5` xunit packages and they have AppVeyor support.

[2017-01-22 21:23] daviwil commented on #1179
@onovotny Thanks a lot, that worked!

[2017-01-23 15:53] sergey-s-betke opened #1278 "Environment variables CONFIGURATION and PLATFORM case is invalid."
There are errors with launch .net35 based custom build steps: https://ci.appveyor.com/project/sergey-s-betke/itg-metrcontrol-2-4/build/0.1.0-bootstrapper-vnext.136.build.68

MSBuild adds this variables as `Configuration` and `Platform`. .net35 has error with case sensitive environment variables: http://stackoverflow.com/questions/8732816/c-sharp-system-diagnostics-processstartinfo-environmentvaria

[2017-01-23 17:21] Yshayy commented on #1179
I would like to be added as well. (it@soluto.com)

[2017-01-23 17:53] FeodorFitsner commented on #1179
@Yshayy added.

[2017-01-23 18:16] IlyaFinkelshteyn commented on #1276
Hi Robert, please let us know your AppVeyor account name for us to enable **private build could** feature for you.
And yes, this require your own Azure subscription.

Thank you,
Ilya.

[2017-01-23 18:23] FeodorFitsner commented on #1276
Also, I'd like to clarify one more time that all incurring charges for running build VMs on your cloud will be added to your Azure subscription bill.

[2017-01-24 06:13] martinrotter opened #1279 "Qt 5.8.0"
:)

[2017-01-24 11:49] ChrisMaddock opened #1280 "Xamarin 4.2.2.11 for VS 2015"
Appveyor currently builds Android 6.0 projects with no additional install needed, but not projects using the latest version, 7.1.

Any chance of an update to the relevant SDKs/APIs? 😄 I could of course install myself, but if any version is going to be available by default, it would be nice if the latest was.

[2017-01-24 17:51] FeodorFitsner commented on #1278
That's the thing AppVeyor's **already** adding them as `Configuration` and `Platform` though as far as I know environment variables have been always case-insensitive.

[2017-01-24 17:56] FeodorFitsner opened #1281 "Python 3.4.6"

[2017-01-24 17:58] FeodorFitsner commented on #1280
How would you update the SDKs with a script?

[2017-01-24 19:11] ChrisMaddock commented on #1280
Thanks for the speedy update. I'm afraid I'm not totally sure - I haven't tried anything yet, sorry! My comment was inspired by [this support topic](http://help.appveyor.com/discussions/problems/3177-how-to-add-more-android-sdks-to-build-agents).

Thus far, I've only ever used Android SDK Manager GUI on development machines. If I was actually going to script it, I'd probably use Chocolatey, but I

[2017-01-24 19:20] ChrisMaddock commented on #1280
Have just thought, this is installed with the latest Xamarin for VS update - which I guess could be where the existing installation comes from?

https://developer.xamarin.com/releases/vs/xamarin.vs_4/xamarin.vs_4.2/

[2017-01-24 19:28] sergey-s-betke commented on #1278
Yes, environment variables case-insensitive. But .net35 based tools (this is .net35 bug) can not create child processes when variables with same id's exist (case-insensitive same id's, but case-sensitive - not the same id's).

[2017-01-24 19:32] sergey-s-betke commented on #1278
AppVeyor adding `Configuration`, not `CONFIGURATION`? Where is `CONFIGURATION` variable from? From msbuild? Variables ID's case must be equal for AppVeyor and MSBuild...

[2017-01-24 20:40] FeodorFitsner commented on #1280
OK, I see - we'll do Xamarin for VS 2015 update. Thanks.

[2017-01-24 21:00] FeodorFitsner opened #1282 "Firefox 51.0.1"

[2017-01-24 21:02] ChrisMaddock commented on #1280
Great - thanks! 😄

[2017-01-24 21:08] FeodorFitsner commented on #1278
I don't know - might be something specific to your build config. Take a look at the results of `SET` command: https://ci.appveyor.com/project/FeodorFitsner/simple-console/build/1.0.2558#L42 - it's definitely `Configuration`.

[2017-01-25 02:59] #1232 closed

[2017-01-25 02:59] #1238 closed

[2017-01-25 02:59] #1243 closed

[2017-01-25 02:59] #1244 closed

[2017-01-25 02:59] #1248 closed

[2017-01-25 02:59] #1249 closed

[2017-01-25 02:59] #1250 closed

[2017-01-25 02:59] #1254 closed

[2017-01-25 02:59] #1255 closed

[2017-01-25 02:59] #1256 closed

[2017-01-25 02:59] #1257 closed

[2017-01-25 02:59] #1258 closed

[2017-01-25 02:59] #1261 closed

[2017-01-25 02:59] #1262 closed

[2017-01-25 02:59] #1265 closed

[2017-01-25 05:22] waruqi commented on #1179
@FeodorFitsner  Could you add me to the VS2017 RC beta as well?

My account: waruqi

Thanks!

[2017-01-25 05:54] FeodorFitsner commented on #1179
@waruqi added.

[2017-01-25 06:34] ljharb commented on #1232
@FeodorFitsner yay! What do I need to do now to get 0.6 working? Anything different than 0.8?

[2017-01-25 06:37] FeodorFitsner commented on #1232
Nope, use the same `Install-Product` cmdlet.

[2017-01-25 07:26] ljharb commented on #1232
@FeodorFitsner so, there's a wrinkle - https://ci.appveyor.com/project/ljharb/json-file-plus/build/1.0.22/job/i0hy4lrnobbq8kod - basically, when you install 0.6.21, it self-reports as `0.6.21-pre`, and that seems to be breaking appveyor.

[2017-01-25 07:27] FeodorFitsner commented on #1232
Remove `Update-NodeJsInstallation` - it's not needed anymore.

[2017-01-25 07:27] ljharb commented on #1232
thanks, trying that now :-)

[2017-01-25 07:48] ljharb commented on #1232
Thanks, that fixed the node issue - https://ci.appveyor.com/project/ljharb/json-file-plus/build/1.0.23/job/04yp7c6f78u4a0kl - there's still an issue with `npm` not having the right SSL certs, but I'm not sure the best way to fix that.

[2017-01-25 08:47] sergey-s-betke commented on #1278
Excuse me!!! It is my error: https://github.com/Metrolog/ITG.MetrControl.2.4/commit/0b580916c91cbc66e738a3ec854d5656580b16e5

[2017-01-25 08:47] #1278 closed

[2017-01-25 10:43] Lord-Curdin commented on #1179
Can I also get access to the Visual Studio 17 Rc worker image. I'm logged into AppVeyor with this Github account. Thanks

[2017-01-25 12:06] bjorn commented on #640
Qt 5.6 and 5.7 are by now provided for MSVC 2015 for both x86 and x64, so this issue can be closed.

https://www.appveyor.com/docs/installed-software/#qt

[2017-01-25 12:15] bjorn commented on #763
All requested software here is [installed now](https://www.appveyor.com/docs/installed-software/). The only thing not there is a MinGW 64-bit version of Qt, but that is covered by issue #654. So I think this issue can be closed.

[2017-01-25 12:31] #640 closed

[2017-01-25 14:15] #763 closed

[2017-01-25 15:19] FeodorFitsner commented on #1179
@Lord-Curdin added.

[2017-01-25 20:41] EspGroup commented on #1179
@FeodorFitsner could you add espgroup to the beta too? Thanks.

[2017-01-25 20:46] AlonAm commented on #1179
@FeodorFitsner I'd like to be added. Thank YOU :1st_place_medal:

[2017-01-25 22:35] Kr4ken-9 opened #1283 "C# 7.0 Compatibility"
Although C# 7.0 is still new and only available with VS 2017 RC (as far as I know) compatibility with it would be nice as MSBuild [cannot compile](https://ci.appveyor.com/project/Kr4ken-9/rocket-unturned/build/1.0.12) my inline variable declarations.

[2017-01-25 23:11] IlyaFinkelshteyn commented on #1283
Please ask for VS 2017 build worker trial at https://github.com/appveyor/ci/issues/1179. I just forked your build and tried on VS 2017 and it worked good.

Ilya.

[2017-01-25 23:36] kulibali commented on #1179
Could I (@kulibali) also have access to the VS2017 image, please?

[2017-01-25 23:56] FeodorFitsner commented on #1179
@EspGroup, @AlonAm, @kulibali added.

[2017-01-26 01:55] Kr4ken-9 commented on #1179
Kr4ken-9, please and thank you.

[2017-01-26 01:55] Kr4ken-9 commented on #1283
Thank you Ilya!

[2017-01-26 01:55] #1283 closed

[2017-01-26 20:13] eliaskosunen opened #1284 "LLVM 4.0.0 Compiler Infrastructure libraries"
Hi!

My project depends on the LLVM libraries. Currently, only Clang and some of the LLVM command line utilities can be found in `C:\Program Files\LLVM\`. Since building LLVM can be really hard and time-consuming (it can take over an hour, which is the time limit AFAIK) on Windows, it'd be great to be available prebuilt.

Thanks!

[2017-01-27 02:37] JGrzybowski commented on #1179
@FeodorFitsner I would like to get the access to the VS 2017 image.
```JGrzybowski```
Thanks in advance

[2017-01-27 06:55] IlyaFinkelshteyn opened #1285 "Find a way to expose Do not drop users in SQL deployment"
Not exposed directly in DacDeployOptions Class, but available in recent [SSDT tools](https://blogs.msdn.microsoft.com/ssdt/2015/02/23/new-advanced-publish-options-to-specify-object-types-to-exclude-or-not-drop/). Need to find a way to manage it with .NET and then expose in SQL deployment config.

[2017-01-27 11:36] FelschR commented on #1179
For anyone getting the issue "error MSB1009: Project file does not exist.":
It seems that current cli doesn't support passing a folder path.
https://github.com/dotnet/cli/issues/5168

AS a workaround one can run it from root folder (folder with sln file) or pass the whole csproj file not just the directory.

[2017-01-27 16:49] martijn00 commented on #1179
Can you add "SimonSimCity"?

[2017-01-27 17:47] photodude commented on #58
canceling and restarting a single job in a build is definitely a must

[2017-01-28 09:13] XhmikosR opened #1286 "Google Chrome 56"

[2017-01-28 13:33] dismine commented on #1216
@jakepetroules, i am not appveyor develop, but can you please explain more detailed what do you mean? Because i also use QTest in my project and do not understand what can be extended.

[2017-01-29 00:00] FeodorFitsner commented on #1179
@Kr4ken-9, @JGrzybowski, @martijn00 added.

[2017-01-29 06:02] sqc1999 commented on #1179
@FeodorFitsner I'd like to use the VS 2017 image, Account name: `Stalker`. Thanks in advance.

[2017-01-29 10:41] AlonAm commented on #1179
Getting "Error: The active Test Run was aborted." when running unit tests.
See: https://ci.appveyor.com/project/AlonAmsalem/anystatus-f22dd/build/1.0.1

"_Where did I go wrong?_"

Thanks :-)

[2017-01-29 12:03] XhmikosR opened #1287 "wget progress is shown in each line in CI output"
See this for example https://ci.appveyor.com/project/XhmikosR/lighthouse/build/92/job/5i1s4gvlcm38jnae#L57

[2017-01-29 16:05] carols10cents opened #1288 "Render a "Build: unknown" badge instead of error text for status badges"
Hi! We've recently added support for adding one's appveyor status badges to [crates.io](http://crates.io), but there are instances where people have specified the badge before setting up appveyor or typoed their repo name or otherwise made a mistake.

For example, carols10cents/rustlings is a repo that I haven't set up in appveyor, but I could specify the badge for crates.io and it would attempt t

[2017-01-29 16:19] 0xd4d commented on #1179
@FeodorFitsner Could you add me too? Name: 0xd4d
Thanks!

[2017-01-29 18:47] FeodorFitsner commented on #1179
@sqc1999, @0xd4d added.

[2017-01-29 19:40] 0xd4d commented on #1179
[code]

Why is it still using 14.0? Do I have to manually change the version numbers in all project files from 14.0 to 15.0 for it to use VS2017RC? (I've already changed `build worker image` to VS2017RC.)

[2017-01-29 19:59] FeodorFitsner commented on #1179
Have been discussing the [issue with nuget](https://github.com/appveyor/ci/issues/1179#issuecomment-263168832) before - no solution was found though. Try asking NuGet team directly.

[2017-01-30 01:23] sqc1999 commented on #1179
@FeodorFitsner I'm so sorry for disturbing you again. I made a mistake with my account name. My account name should be `sqc1999` but not `Stalker`.:fearful:

[2017-01-30 09:17] atagirov opened #1289 "project rename"
I've renamed my repository and configure appveyor project to new repo name, but in Appveyor it still uses the old names in the URL and there's no way to change it via UI.

Old name: https://ci.appveyor.com/project/xplat/dealerapi
Desired: https://ci.appveyor.com/project/xplat/xplat.agent.webapi

[2017-01-30 10:04] XhmikosR opened #1290 "Git 2.11.1"
https://github.com/git-for-windows/git/releases/tag/v2.11.1.windows.1

[2017-01-30 12:56] rh072005 commented on #1179
@FeodorFitsner could you add rh072005 as well please

[2017-01-30 18:04] FeodorFitsner commented on #1179
@sqc1999, @rh072005 added.

[2017-01-30 18:15] Jeavon commented on #945
Hi @IlyaFinkelshteyn @FeodorFitsner just checking in to see if this is on the roadmap yet?

[2017-01-30 18:29] IlyaFinkelshteyn commented on #1289
Hi Arthur,

We renamed it for you.

Ilya.

[2017-01-30 21:19] JGrzybowski commented on #1179
@FeodorFitsner did You upgraded the VS 2017 to the newest version?
On my pc when I do ```dotnet build``` it says
[code]

But on AppVeyor it gives
[code]

[2017-01-30 22:34] natemcmaster commented on #1179
@FeodorFitsner can you add 'aspnetci' to the list, too? Thanks.

[2017-01-31 00:51] sqc1999 commented on #1179
@FeodorFitsner After reading some comments before, it seems that there is an issue about NuGet. But I just used the nightly build provided at https://dist.nuget.org/index.html and everything works well.
PS script for restoring packages:
[code]
Hope this can help.

[2017-01-31 01:14] FeodorFitsner commented on #1179
@sqc1999 Nice, thanks for sharing that!

[2017-01-31 01:15] FeodorFitsner commented on #1179
@natemcmaster added.

[2017-01-31 01:15] FeodorFitsner commented on #1179
@JGrzybowski going to update it in a few days.

[2017-01-31 09:11] tony19 commented on #601
I created a [Tampermonkey script](https://gist.github.com/tony19/2334e29131349ce76632d4d501f69a8f) that displays the line timestamps in the build console. It also marks "late" lines (time difference with last line >= 3 seconds).

![screen shot 2017-01-31 at 3 11 29 am](https://cloud.githubusercontent.com/assets/26580/22458640/fda169e2-e762-11e6-8cf9-ff8fdd0dd5b2.png)

[2017-01-31 12:48] atagirov commented on #1289
Thanks!

[2017-01-31 12:48] #1289 closed

[2017-01-31 13:44] sqc1999 commented on #1179
@FeodorFitsner
After changing the build image to VS2017, I have to wait for several minutes before build starts. I don't have this problem with VS2015, build starts in 10 seconds after I push to my repo.
I'm wondering whether it's common or there is something wrong.

[2017-01-31 17:11] IlyaFinkelshteyn commented on #1179
@sqc1999
Nothing wrong with it, it is because VS2017 image is currently available only on our secondary Google Cloud Engine (GCE) environment. We still don't have it on our primary Hyper-V environment on Rackspace.

New VM provisioning time is longer on GCE than on our own environment.

[2017-01-31 18:20] FeodorFitsner commented on #601
how to use that script?

[2017-01-31 18:33] tony19 commented on #601
With Chrome/Safari, use [Tampermonkey](https://chrome.google.com/webstore/detail/tampermonkey/dhdgffkkebhmkfjojejmpbldmpobfkfo?hl=en) to install the script. With Firefox, use [Greasemonkey](https://addons.mozilla.org/en-US/firefox/addon/greasemonkey/). Then, it just runs automatically on Appveyor pages.

[2017-01-31 19:39] godrose opened #1291 "Organizational repos don't show up"
I've followed the steps in the
https://www.appveyor.com/docs/team-setup/#setting-up-appveyor-account-for-github-organization

However, the organization repos are not listed in the list of repos available for creating a new project

[2017-01-31 21:14] IlyaFinkelshteyn commented on #1291
Could you please go to https://ci.appveyor.com/account and revoke GitHub authorization and add it again?

[2017-01-31 21:22] IlyaFinkelshteyn commented on #1291
Forgot to say that when you re-authorize, please make sure that you do it for "public and private" repos.

Let us know if this helps.

[2017-02-01 01:23] jmelosegui commented on #1179
@FeodorFitsner I would like to be added too. `@jmelosegui`

[2017-02-01 01:58] FeodorFitsner commented on #1179
@jmelosegui added.

[2017-02-01 02:05] IlyaFinkelshteyn opened #1292 "Add StyleCop to build worker image"
[Original discussion](http://help.appveyor.com/discussions/suggestions/1193-include-stylecop-in-appveyor-image)

[2017-02-01 08:20] godrose commented on #1291
Cool. That did the trick.

On 31 January 2017 at 21:22, IlyaFinkelshteyn <notifications@github.com>
wrote:

--
Best Regards,
Gena

[2017-02-01 08:35] godrose opened #1293 "An assembly is mistakenly is treated as testable"
I have an assembly which references NUnit but contains no tests. The assembly itself is portable and it crashes the build because the test runner is unable to run portable assemblies.
".NETPortable test assemblies are not yet supported by the engine".

[2017-02-01 10:19] IlyaFinkelshteyn commented on #1293
AppVeyor test auto detection uses .NET reflection and yes it looks for references to determine if assembly is test assembly and what test runner to run against it.
What you can do is disable auto detection and [specify what test assemblies](https://www.appveyor.com/docs/running-tests/#selecting-assemblies-to-test).
I believe you have a reason to reference NUnit without creating any tests, so I am

[2017-02-01 10:43] #1291 closed

[2017-02-01 10:52] godrose commented on #1293
Thanks a lot.

[2017-02-01 10:52] #1293 closed

[2017-02-01 10:54] godrose opened #1294 "The .sln is not found"
The build fails when the solution file is not located at the root directory/next to the .yml file.
Is there any problem in the recursive directory search or I have to use build configuration?

[2017-02-01 15:11] dustinmoris commented on #45
Hi it would be awesome to get this part of the deployment environments. We are a commercial AppVeyor customer who has a lot of projects that we need deploy to different Elastic Beanstalk environments. All the suggested hacks would force us to create a huge amount of projects. For example if we have 10 web services and 4 environments (dev, test, staging, production) then we end up with 40 projects

[2017-02-01 16:02] keremdemirer commented on #45
@dustinmoris  Seems AppVeyor is not developing the product no more.

I'd suggest you to move Visual Studio Team services. It do not provide AWS deployments out of the box but you can create custom tasks and re-use them with variables very easily. Plus you can run AppVeyor inside the VSTS which enables you to build your current configs. https://www.visualstudio.com/en-us/docs/marketplace/integrate/

[2017-02-01 17:15] trichards57 commented on #1179
@FeodorFitsner Could you add me as well please?  trichards57

[2017-02-01 18:32] FeodorFitsner commented on #45
@dustinmoris as we noted earlier `awsdeploy.exe` tool and the library it's based on are not secure to use in multi-tenant shared environment which current "Environments" is. However, year 2016 gave us Docker for Windows Containers and we are looking into using it for building new lightweight and isolated "Environments" v2 that would allow customers to run ElasticBeanstalk tools and/or any custom P

[2017-02-01 18:43] dustinmoris commented on #45
@FeodorFitsner Cool thanks for your answer. The approach of few deployment projects with customizable settings through environment variables is something that could work for us (need to think more about how it fits into our current work flow though). I also like the idea of a lighter version of environments with Docker containers!

I had another idea today, which I thought would be a nice feature

[2017-02-01 20:14] IlyaFinkelshteyn commented on #1179
@trichards57 added.

[2017-02-01 20:57] mancoast commented on #1276
https://software.intel.com/en-us/articles/intel-compilers-for-windows-silent-installation-guides
We might be able to do a simple install using minimal components.
http://registrationcenter-download.intel.com/akdlm/irc_nas/tec/9955/parallel_studio_xe_2017_update1_cluster_edition_online_setup.exe

[2017-02-01 21:10] j2ghz commented on #1179
Can you add me? `j2ghz`

[2017-02-01 21:41] IlyaFinkelshteyn commented on #1179
@j2ghz added :)

[2017-02-01 23:27] IlyaFinkelshteyn commented on #1276
OK, please let us know how it goes and if this minimal components install leave you enough time to build.

[2017-02-01 23:28] IlyaFinkelshteyn commented on #1276
I am also adding [initial discussion](http://help.appveyor.com/discussions/suggestions/1185-intel-parallel-studio) to keep history of the problem in one place.

[2017-02-01 23:59] mancoast commented on #1276
REFERENCE:

parallel_studio_xe_2017_update1_composer_edition_for_cpp_setup.exe --help
Intel(R) Parallel Studio XE 2017 Update 1 Composer Edition for C++ Windows* package.

Usage: <Web image executable> [options] [--a <arguments>]

If no command is specified, the Web Image program will proceed in the Interactive GUI mode.

 Options:
 --------------------------------------------------------
 --h | -

[2017-02-02 00:08] IlyaFinkelshteyn commented on #1276
Do you need help with creating install script?

[2017-02-02 00:16] mancoast commented on #1276
something along the lines of:
`
parallel_studio_xe_2017_update1_composer_edition_for_cpp_setup.exe --silent -a install --eval --eula=accept --output=install-IPS.log
`

Does that seem correct?

[2017-02-02 00:24] JGrzybowski commented on #1179
When upgrading VS2017 on your VM please install the newest SDK ```1.0.0-rc3-004530```

[2017-02-02 00:33] FeodorFitsner commented on #1179
Isn't it the same one coming with the latest VS 2017 RC update (Feb 1) or it's something more recent?

[2017-02-02 00:39] daviwil commented on #1179
The latest update of VS 2017 RC comes with that build of RC3.

[2017-02-02 00:57] IlyaFinkelshteyn commented on #45
@dustinmoris If I understand your proposal correctly, you want deploy script to behave like one of providers for you to be able to add multiple of them and make then run conditionally, right?

But why you don't like to have single deployment script which behaves differently because of condition, like:

[code]

I believe that any deployment condition can be expressed with [AppVeyor environment vari

[2017-02-02 01:07] IlyaFinkelshteyn commented on #1276
I usually create simple build job with [RDP](https://www.appveyor.com/docs/how-to/rdp-to-build-worker/), go to VM and debug whole thing from download to install interactively, and only after that add this to the build config.

[2017-02-02 01:09] JGrzybowski commented on #1179
Yes, I did have it since a week or two. So it is from some earlier build, I think.
Thanks for fast answer.

[2017-02-02 01:24] mancoast commented on #1276
RDP makes this much easier.

IPS functions operate normally with evaluation activation.
Now we need mpss:
http://registrationcenter-download.intel.com/akdlm/irc_nas/tec/11193/mpss-3.8.1-windows.zip

Lastly, mpss Libraries:
http://registrationcenter-download.intel.com/akdlm/irc_nas/tec/11193/mpss-3.8.1-k1om.tar

[2017-02-02 01:59] IlyaFinkelshteyn commented on #1276
I provided working script for MPSS in the [original post](http://help.appveyor.com/discussions/suggestions/1185-intel-parallel-studio), right?

[2017-02-02 02:01] mancoast commented on #1276
excellent!

[2017-02-02 02:34] FeodorFitsner commented on #1179
Good, then tomorrow we'll publish an updated VS 2017 image with the latest RC3.

[2017-02-02 05:20] denfromufa opened #1295 "windows 10 linux subsystem support"
this is also called WSL or Bash on Windows.

[2017-02-02 06:39] Igorbek commented on #1179
Could you please add me `Igorbek`

[2017-02-02 08:53] XhmikosR opened #1296 "Node.js 4.7.3, 6.9.5, 7.5.0"

[2017-02-02 10:21] tony19 commented on #601
Moved gist to repo https://github.com/tony19/appveyor-userscripts

[2017-02-02 10:44] dustinmoris commented on #45
@IlyaFinkelshteyn Could you elaborate how I would set environment variables before starting a new build then? Is this something I would have to change in the UI settings page?

If I have to change it in the Settings page, then I assume this setting would persist until I remove it again? This would be a big problem, because it would sort of defeat the purpose of a CI. A good CI tool should make it

[2017-02-02 12:55] mancoast commented on #1276
Any hints for generation of RPM from a given folder for build-package using windows platform?

ex: MyApp/build-package  -->  MyApp-v1.35-mpss-3.8.1-k1om.rpm

[2017-02-02 13:39] XhmikosR commented on #1267
You shouldn't need to do that because there must be an environment variable for WIX. Not sure what AppVeyor does exactly but you can try using the `WIX` environment variable.

On my dev VM I get:

[code]

[2017-02-02 18:46] IlyaFinkelshteyn commented on #1179
@Igorbek added

[2017-02-02 19:12] IlyaFinkelshteyn commented on #1276
We don't have a lot of experience with it (mostly .NET shop)... I found [this](http://zcourts.com/2012/09/11/building-rpms-on-windows/#sthash.aQZUNlt2.dpbs) and it seems that we already have `rpmbuild` as part of MSYS2 (`C:\msys64`) installation. With this information and debugging  in RDP I hope you can make it :)

[2017-02-02 20:02] FeodorFitsner commented on #1179
`Visual Studio 2017 RC` image has been updated to the latest [RC3 (build 26127.03) released on February 1, 2017](https://www.visualstudio.com/en-us/news/releasenotes/vs2017-relnotes)

[2017-02-02 20:57] niemyjski commented on #1179
@FeodorFitsner I greatly appreciate you keeping the images up-to-date. It's one more thing I don't have to worry about.

[2017-02-03 02:49] IlyaFinkelshteyn opened #1297 "Unfriendly error (500) if pushing wrong nuget file"
fir repro just try to push .nuspec file to account feed

[2017-02-03 10:02] martijn00 commented on #1179
Can you add `Xablu`?

[2017-02-03 13:07] jpe-trustpilot commented on #1179
@FeodorFitsner Can you please add account `TrustpilotAppVeyor`. Thanks!

[2017-02-03 17:46] IlyaFinkelshteyn commented on #1179
@martijn00, @jpe-trustpilot added

[2017-02-03 19:20] wsfulton opened #1298 "Documented RDP not working in on_finish section"
https://www.appveyor.com/docs/how-to/rdp-to-build-worker/ has:
[code]
I was only able to get this to work and logon via RDP when putting this in other sections like at the end of build_script or test_script.

[2017-02-03 19:27] IlyaFinkelshteyn commented on #1298
How does problem looks like? Do you see the RDP info in the build trace?

[2017-02-03 20:45] wsfulton commented on #1298
mmm, odd, it seems to be working today. I'll reopen if I see it again. I'm pretty sure I saw the rdp login info though.

[2017-02-03 21:01] IlyaFinkelshteyn commented on #1298
This is probably [this](http://help.appveyor.com/discussions/problems/5961-cant-rdp-to-build-agent)  issue. It would be great if you let us know the port or post it into that support forum thread. Sorry for the trouble.

[2017-02-03 21:52] Odonno commented on #1179
Can you add `Odonno` ? Thanks.

[2017-02-03 22:32] IlyaFinkelshteyn commented on #1179
@Odonno sure, done

[2017-02-03 22:42] NoahAndrews commented on #1267
Ah, thanks!

[2017-02-03 22:42] #1267 closed

[2017-02-04 00:00] wsfulton commented on #1298
I just tried 2 more re-builds. I can't RDP to the second one. https://ci.appveyor.com/project/wsfulton/swig/build/1.0.399/job/30kxofx3h64c2wdp See the RDP info at the end of the build. I can't connect to the displayed IP address right now. You have about 1 hour to debug it!

[2017-02-04 00:22] IlyaFinkelshteyn commented on #1298
Thanks! Looking...

[2017-02-04 00:26] IlyaFinkelshteyn commented on #1298
If you try now can you connect?

[2017-02-04 00:34] wsfulton commented on #1298
No :(

[2017-02-04 00:45] IlyaFinkelshteyn commented on #1298
Can you please share your public IP? Please feel free to send it to team@appveyor.com if you don't feel comfortable to share it here.

[2017-02-04 01:21] wsfulton commented on #1298
Sent to the email address

[2017-02-04 02:41] mancoast commented on #1276
Greetings,

I am seeing failure with k1om libs download. Not sure why? Any suggestions?

[code]

I need the k1om libs for cross compilation:
[code]

[2017-02-04 02:56] mancoast commented on #1276
We need to extract rpms in folder: C:\projects\icc-ci\k1om\mpss-3.8.1\k1om
![image](https://cloud.githubusercontent.com/assets/7040493/22615097/6dec8d26-ea5b-11e6-8403-8f578b3e97df.png)

On Linux [CentOS]:
for rpm in *.rpm; do rpm2cpio $rpm | cpio -idm; done

Any Suggestions for an easy powershell/7z solution?
https://ci.appveyor.com/project/mancoast/icc-ci/build/1.0.1.0.0.7.30-master

[2017-02-04 03:27] FeodorFitsner commented on #45
The idea is to have several ["deployment" projects](https://www.appveyor.com/blog/2015/11/04/deployment-projects/) based on the same repository. Say, for deployment "environment" you created `myapp-deployment` repository. Somewhere in that repository there is a script doing the deployment that rely on `server_name` environment variable.

Then you add two new projects in AppVeyor each time selectin

[2017-02-04 04:27] niemyjski commented on #1248
Any idea when this will be pushed.. I'm getting 400 bad request on the VS2017 RC image,...

https://ci.appveyor.com/project/Exceptionless/foundatio/build/4.3.1256/tests

[2017-02-04 04:32] FeodorFitsner commented on #1248
Will update it on VS 2017 image over weekend. Use [this script](https://github.com/appveyor/ci/issues/1248#issue-198554625) for now for installing it during the build.

[2017-02-04 04:42] niemyjski commented on #1248
ok thanks :)

[2017-02-04 06:32] reubeno commented on #1179
Could you please add `reubeno` too?  Thank you!

[2017-02-04 11:48] barld commented on #1179
Could you please add `barld`. Thang you.

[2017-02-04 15:33] MikePopoloski commented on #1179
Could you please add this account too? Thank you!

[2017-02-04 17:20] kekekeks commented on #1179
Please, add `AvaloniaUI`. Thanks

[2017-02-04 19:42] cpx86 commented on #1179
Can you please add `cpx86`?

[2017-02-04 21:16] kkirkfield opened #1299 "Database bug causing duplicate and inconsistent account details"
Steps to reproduce:

1. Create an AV account by signing up using GitHub
2. Log in
3. Change user email address
4. Unlink the GitHub account used to log in
5. Log out
6. Click forgot password
7. Click password recovery link in email
8. Create password
9. Log in using the GitHub button instead of the newly created email and password
10. You now have two duplicate accounts, one for the old email with

[2017-02-04 22:37] FeodorFitsner commented on #1299
Looks like expected behaviour because once both email changed and GitHub user unlinked there is no way to correlate original and new accounts when you sign in with GitHub button again.

[2017-02-04 22:37] PeterMTaylor commented on #1150
Hi there, on the topic of windows server 2016 for appveyor.
When executing Powershell install-module is questioning credentials installing PScribo.
I have asked the PScribo author and he found that the environment for virtual machine aren't updated to the latest. iainbrighton/PScribo#30
Can I ask if Window Server 2016 is scheduled soon or is there a workaround on Powershell side on appveyor virtua

[2017-02-04 22:39] FeodorFitsner commented on #1150
We'll start offering `Windows Server 2016` image in a day-two. Stay tuned!

[2017-02-05 04:08] Rondom commented on #1287
That's how wget-behaves if it is not running on a interactive terminal.
This is not something specific to AppVeyor. Read the wget-manpage for different options such as `--no-show-progress` or `--quiet` or `--progress=[preferred-style]`

[2017-02-05 07:39] bartsaintgermain commented on #1179
can you please add bartsaintgermain

[2017-02-05 08:43] XhmikosR commented on #1287
Well, the MSYS wget doesn't have --no-sho-progress IIRC.

[2017-02-05 09:57] Rondom commented on #1287
What I wanted to say is: What makes you think that this is an AppVeyor-problem?
As I said, if you would like a different progress-reporting you can influence this via command-line options. I suggested three possibilities, I am sure one of them if not all three of them will work.

[2017-02-05 09:59] XhmikosR commented on #1287
Because other programs obviously output the progress, yet this issue doesn't happen with them.

[2017-02-05 14:11] discosultan commented on #1179
```discosultan``` requesting access to VS2017 image. Thanks!

[2017-02-05 19:49] wind-rider commented on #1179
Could you please add @wind-rider?

[2017-02-05 19:53] kzu commented on #1179
Hi there,
the following build fails to import the VSSDK targets. Is the `Visual Studio extensions development` workload installed?

https://ci.appveyor.com/project/MobileEssentials/merq/build/1.1.19-pr20

Thanks!

[2017-02-05 23:23] ctaggart commented on #1179
@FeodorFitsner Can you please give both `ctaggart` and `Tachyus` accounts access to the `Visual Studio 2017 RC` image? Thank you.