[2017-02-05 23:42] feinoujc commented on #1179
Requesting access please. @feinoujc thanks

[2017-02-06 00:41] IlyaFinkelshteyn commented on #1179
@reubeno
@barld
@MikePopoloski
@kekekeks
@cpx86
@bartsaintgermain
@discosultan
@ctaggart
@feinoujc
All added :)

[2017-02-06 04:49] emrahtokalak commented on #1179
Please add me :) @emrahtokalak

[2017-02-06 04:50] FeodorFitsner commented on #1179
@emrahtokalak could you please confirm your AppVeyor account name?

[2017-02-06 05:02] emrahtokalak commented on #1179
@FeodorFitsner  @emrah

[2017-02-06 05:04] FeodorFitsner commented on #1179
@emrahtokalak added.

[2017-02-06 06:50] IlyaFinkelshteyn opened #1300 "Add ability to restrict access to private non-organizational repos if needed"
**From customer email**
Github wants everyone to have one account.  That account can have your personal public and private repos on it.   You can then join organizations separately under the same account.

This works great.  They keep private repos away from the organization and everything works nicely.

However, with your service, when I grant GitHub authorization to my Github account…and on that

[2017-02-06 06:56] IlyaFinkelshteyn commented on #1294
Sorry for delay. We actually do recursive search. Can you please provide us with a repro in a public repository?

[2017-02-06 07:18] wind-rider commented on #1179
Could you please add @wind-rider?

[2017-02-06 08:38] IlyaFinkelshteyn commented on #1179
@wind-rider I actually added today earlier, sorry missed in notification post. Please try and let us know if it works.

[2017-02-06 10:52] Rondom commented on #1287
As I said. Different programs behave differently. In my opinion there is nothing AppVeyor-specific here.
wget detects whether there is i a TTY/windows console and if there is none it uses the "dot" progress indicator instead of the "bar" progress. In the manpage you can read, how to force one or the other progress (`--progress=bar:force`) or disable it all together (see above).

Again, AppVeyor on

[2017-02-06 14:51] benjaminweb opened #1301 "Add Microsoft Excel to appveyor Image."
To my very knowledge there's no CI provider supporting this to date. Please correct me, if I am wrong. Which overhead would a Microsof Excel instance add?

I want to test a package using [xlwings](http://docs.xlwings.org/en/stable/quickstart.html). A minimum working example in py.test requiring Excel (without appveyor config) would be https://github.com/ZoomerAnalytics/xlwings/issues/624#issue-205

[2017-02-06 17:39] wind-rider commented on #1179
@IlyaFinkelshteyn it works, thank you for adding me!

[2017-02-06 20:01] FeodorFitsner commented on #1179
@kzu - just checked, the image has Extensions development component installed - please see attached screenshot.

![vs2017rc-extensions-dev](https://cloud.githubusercontent.com/assets/5041459/22664110/08f11fe4-ec64-11e6-9c22-9c8ce4127d19.png)

[2017-02-06 21:16] FeodorFitsner commented on #1248
Azure Storage Emulator 4.6 has been installed on `Visual Studio 2017 RC` image.

[2017-02-06 21:19] FeodorFitsner commented on #1150
`Windows Server 2016` image is ready. Please let us know if you want to give it a try!

[2017-02-06 21:27] niemyjski commented on #1248
What about on the VS2015 image?

Thanks
-Blake Niemyjski

On Mon, Feb 6, 2017 at 3:16 PM, Feodor Fitsner <notifications@github.com>
wrote:

[2017-02-06 21:29] FeodorFitsner commented on #1248
There is 4.6

[2017-02-06 21:36] matham commented on #1150
We would like to try it (for the KivyOrg account), and I guess on my personal account as well.
Thanks!

[2017-02-06 21:51] seladb opened #1302 "MinGW 5.3.0"
Hi, latest version of MinGW32 includes gcc 5.3.0 and latest version of MinGW-w64 includes gcc 6.3.0.
Currently MinGW in appveroyr includes gcc 4.9.3 and MinGW-w64 in appveyor includes gcc 5.3.0
Could you please upgrade both to the latest version?

[2017-02-06 22:03] mancoast commented on #1276
@IlyaFinkelshteyn Have you been able to override CMAKE CXX and CC variables for specification of compiler executable?  CMAKE always wants to use icl.exe instead of icpc.exe and icc.exe.  Any suggestions?

[2017-02-06 23:45] LinuxDonald commented on #891
Can we have the image too please? https://ci.appveyor.com/project/LinuxDonald/fifengine

[2017-02-06 23:56] dragon788 commented on #1150
I'd definitely check it out as I'd like to verify some Chocolatey packages work across all the versions of server available.

[2017-02-06 23:59] dragon788 commented on #1301
You could use Chocolatey to install Office/Excel in trial mode, but you'd need to handle licensing yourself.

[2017-02-07 00:21] matthargett commented on #1150
please add @bluejeans @rozele and @matthargett so we can test UWP build of React Native Windows

[2017-02-07 00:42] nibanks commented on #1150
Please add @nibanks ([nibanks/openthread](https://ci.appveyor.com/project/nibanks/openthread)) and @jwhui ([jwhui/openthread](https://ci.appveyor.com/project/jwhui/openthread)) so we can test Windows 10 driver development.

[2017-02-07 02:07] FeodorFitsner commented on #891
@LinuxDonald added.

[2017-02-07 02:11] FeodorFitsner commented on #1150
@dragon788, @bluejeans, @rozele, @matthargett, @nibanks, @jwhui added.

[2017-02-07 02:12] FeodorFitsner commented on #1150
@matham added to "KivyOrg".

[2017-02-07 03:55] IlyaFinkelshteyn opened #1303 "Make Host agent and Build agent Proxy-aware"
We need this for private build cloud

[2017-02-07 05:15] matham commented on #1150
@FeodorFitsner Thanks for the add.

So a few comments (should I do this here or on the message boards?), after adding `os: Windows Server 2016` the startup was quite slow; it took a few minutes to get started and then the cloning seemed slow. However, the bigger issue is that it still seems to have only [opengl 1.1](https://ci.appveyor.com/project/KivyOrg/kivy/build/1.0.626/job/c9inu6u99g5oxg5b#L1

[2017-02-07 05:57] Jaben opened #1304 "Commits no longer trigger builds"
For REPO: https://github.com/ChangemakerStudios/Papercut

I moved the repo few months back so that may have something to do with it. How do I get it building again? Delete and recreate?

Thanks!

[2017-02-07 08:10] seesharper commented on #1179
Could you be so kind as to add @seesharper ?

[2017-02-07 08:12] IlyaFinkelshteyn commented on #1304
Can you please check if webhooks still being sent after commits, and if yes, please send us response,  `X-GitHub-Delivery` header and time sent of some unsuccessful webhook.

You can find them at https://github.com/ChangemakerStudios/Papercut/settings/hooks

Thanks!
Ilya.

[2017-02-07 08:19] IlyaFinkelshteyn commented on #1179
@seesharper added

[2017-02-07 13:28] XhmikosR commented on #1290
https://github.com/git-for-windows/git/releases/tag/v2.11.1.windows.1

[2017-02-07 13:47] Crevil commented on #1176
I'm having trouble running a .NET core 1.1 project from the CLI.
When running `dotnet --info` i get the following:

[code]

But I expected this to be:

[code]

Is the new CLI (the one with `msbuild` and `.csproj` handling) not available on AppVeyor as is?

[2017-02-07 14:29] jakirkham commented on #1045
Any news on this?

[2017-02-07 14:41] jakirkham commented on #1002
Exactly.

[2017-02-07 15:37] niemyjski commented on #1176
@Crevil you need to use VS2017 RC image.. 2015 won't support the new csproj format

[2017-02-07 16:22] nibanks commented on #1150
@FeodorFitsner I [validated](https://ci.appveyor.com/project/nibanks/openthread/build/0.1.631/job/uhoexxh56ea6fo9i) that I can successfully build, install and run Windows 10 drivers on the image you provided. Thanks!

I also noted that the build seemed to take a lot longer than usual to get started. Is this expected?

[2017-02-07 16:25] zone117x commented on #1179
Can you add @zone117x ? Thanks!

[2017-02-07 17:00] nibanks commented on #1150
My build finally finished and it essentially doubled in the time it took to build, as you can see from my [history](https://ci.appveyor.com/project/nibanks/openthread/history), from ~23 minutes to ~47 minutes.

[2017-02-07 17:05] justdmitry commented on #1179
Add @justdmitry please

[2017-02-07 18:04] FeodorFitsner commented on #1150
@nibanks Thanks for the feedback! That's right - `Windows Server 2016` image builds run on GCE and it takes around 3-4 minutes to provision and boot a new build worker VM there. As your build has multiple jobs those 3-4 additional minutes before each job add to the overall build time.

[2017-02-07 18:06] FeodorFitsner commented on #1150
@matham re: opengl - there is a "stock" Windows Server 2016 with VS 2015 on top of it. What would you need to do to get a different version of OpenGL?

[2017-02-07 18:07] FeodorFitsner commented on #1045
What was the URL (and body) of the request that yielded 500 error?

[2017-02-07 18:34] matham commented on #1150
@FeodorFitsner hmm, I may have misunderstood what Server 2016 adds. I thought you'd have opengl support just with the vm, but it may need an actual graphics card that supports opengl > 1.1. See the section under `1. OpenGL 4.4 and OpenCL 1.1 API Support` [here](https://blogs.technet.microsoft.com/enterprisemobility/2014/11/05/remotefx-vgpu-updates-in-windows-server-next/).

I'm not sure if appveyo

[2017-02-07 19:13] IlyaFinkelshteyn commented on #1179
@justdmitry added

[2017-02-07 19:15] IlyaFinkelshteyn commented on #1179
@zone117x could you please provide your AppVetor account name? It is in AppVeyor URL after `project/`. I cannot find it based on your GitHUb name...

[2017-02-07 19:18] IlyaFinkelshteyn commented on #1176
@Crevil I added `Visual Studio 2017 RC` image to your account

[2017-02-07 19:19] waynebrantley commented on #150
Had no idea you could float over it.  That is helpful, but it would be better to just be [2m 22s] beside the line number.   @FeodorFitsner This request is from two years ago.   Any progress?

[2017-02-07 19:26] Rondom commented on #150
I think it would be even more useful if individual build steps could have an individual relative time indicator. I might find it interesting that compiling was finished after 5:23, but then I might be interested in the fact that the packaging of the installer (separate build-step) took 2:40, but the only information I get right now is that it finished at 8:03.

So I propose to somehow display both

[2017-02-07 19:54] FeodorFitsner commented on #1150
@matham `Windows Server 2016` images run on GCE. AFAIK they use KVM hypervisor - I'm not sure what capabilities its video adapter provides. Do you get required OpenGL when running on default `Visual Studio 2015` image?

[2017-02-07 20:11] zone117x commented on #1179
@IlyaFinkelshteyn Should be the same user. Example link: https://ci.appveyor.com/project/zone117x/ssdpradar

[2017-02-07 20:12] niemyjski commented on #1179
@FeodorFitsner looks like new vs update is out https://blogs.msdn.microsoft.com/visualstudio/2017/02/07/another-update-to-visual-studio-2017-rc/

[2017-02-07 20:15] FeodorFitsner commented on #1179
@niemyjski thanks for letting know - will take a look.

[2017-02-07 20:25] IlyaFinkelshteyn commented on #1179
@zone117x I see, I could not find because you are building repos from different account. Anyway, added :)

[2017-02-07 20:31] nibanks commented on #1150
@FeodorFitsner When is this planned to be available for all? Until then, I assume if I merge a commit adding the usage of this, everyone who doesn't explicitly have this enabled will have their forks break?

[2017-02-07 21:48] matham commented on #1150
@FeodorFitsner so was trying to rdp to the server with the Windows server 2016 image, and something seems to be wrong with the printed rdp address. Windows says [the address](https://ci.appveyor.com/project/KivyOrg/kivy/build/1.0.630/job/qhx0yh2lxrew42ks#L124) is wrong.

[2017-02-08 00:15] FeodorFitsner commented on #1179
`Visual Studio 2017 RC` image has been updated to the latest [February 7, 2017 (build 26206.00)](https://www.visualstudio.com/en-us/news/releasenotes/vs2017-relnotes) release.

[2017-02-08 00:44] Jaben commented on #1304
Sure. Thank you:

[code]

[2017-02-08 00:45] Jaben commented on #1304
Old repo: https://github.com/Jaben/Papercut.git
New repo: https://github.com/ChangemakerStudios/Papercut.git

[2017-02-08 00:53] Jaben commented on #1304
Also can't push release artifact:

![image](https://cloud.githubusercontent.com/assets/448726/22718567/13657b12-ed6f-11e6-9342-2ad74fc6a018.png)

[2017-02-08 00:57] FeodorFitsner commented on #1150
@matham RDP script has been fixed.

[2017-02-08 00:59] FeodorFitsner commented on #1150
@nibanks we've just started collecting feedback. I don't have an exact ETA right now.
We’d really like to understand what people might require on that image besides Docker and VS 2015 (we really don’t want dealing with VS 2013 stuff on that image). It could be in a week or so when it will become generally available.

[2017-02-08 01:55] matham commented on #1150
@FeodorFitsner ran it again and the rdp is working again. So, no, I could not get opengl > 1.1 to work on Visual Studio 2015 image. I was hoping that server 2016 would add emulation so that you'd have opengl > 1.1 even if there was no GPU present, but it seems a [GPU is required](http://windowsitpro.com/windows-server-2016/when-gpu-can-be-utilized-session-virtualization-2016) for opengl > 1.1.

GC

[2017-02-08 04:02] IlyaFinkelshteyn commented on #1304
Can you please try to update repository  name as in attachement?
![image](https://cloud.githubusercontent.com/assets/3248386/22723041/055c1322-ed70-11e6-9967-2110f5a0cd5b.png)
![image](https://cloud.githubusercontent.com/assets/3248386/22723056/30896a0e-ed70-11e6-917e-d80f29760a20.png)

[2017-02-08 04:08] Jaben commented on #1304
Doh, that works! Thanks.

[2017-02-08 04:08] #1304 closed

[2017-02-08 04:17] IlyaFinkelshteyn opened #1305 "Build clouds, storages, caches do not allow upper case"

[2017-02-08 07:23] Crevil commented on #1176
@IlyaFinkelshteyn Thanks. I can now see the image on my private account. I'm en need of this on an pro account. Can we get this added to that account?

[2017-02-08 07:30] IlyaFinkelshteyn commented on #1176
Sure, what is account name? It part of AppVeyor URL after `/project/`.

[2017-02-08 07:32] Crevil commented on #1176
@IlyaFinkelshteyn `EGAppVeyor`. May I ask why this is not available as per default?

[2017-02-08 07:38] IlyaFinkelshteyn commented on #1176
Added. We are collecting feedback in [this](https://github.com/appveyor/ci/issues/1179) thread, to understand what people need to be installed on this image before making it GA.

[2017-02-08 07:40] Crevil commented on #1176
@IlyaFinkelshteyn Ahh, I see. Good Job! I'll leave some feedback over there. Thanks for the quick replies.!

[2017-02-08 07:45] docrinehart commented on #1179
Any chance to @docrinehart get added for the VS2017 RC worker? (thanks)

[2017-02-08 07:47] IlyaFinkelshteyn commented on #1176
You are welcome :)  Please also note that currently this build is running on GCE (normally builds run on our own servers at RackSpace) therefore job start is longer. It will be available on our servers later.

[2017-02-08 07:48] Crevil commented on #1176
Got it. I just thought about it. Looking forward to fast builds as usual.

[2017-02-08 07:50] IlyaFinkelshteyn commented on #1179
@docrinehart  chance is about 99.9% :) Added.

[2017-02-08 10:22] Philo commented on #1179
Would also love to get access tot he latest VS2017 RC worker images on account @stormid-build and @philo.

Thanks

[2017-02-08 17:14] sebastienros commented on #1179
May I ask you to add this project: https://ci.appveyor.com/project/SebastienRos/yessql-un1yf

Thanks

[2017-02-08 17:28] FeodorFitsner commented on #1179
@stormid-build, @Philo, @sebastienros added.

[2017-02-08 18:44] stuartleeks commented on #1179
Would you be able to add https://ci.appveyor.com/project/stuartleeks/nether/ as well? Would love to have this building on VS2017 RC :-)

Thanks!

[2017-02-08 20:32] IlyaFinkelshteyn commented on #1285
http://stackoverflow.com/questions/21917669/dacpac-exclude-users-and-logins-on-export-or-import

Look for // THIS IS THE MAGIC SETTING THAT FINALLY WORKED.

[2017-02-08 20:36] FeodorFitsner commented on #1285
https://blogs.msdn.microsoft.com/ssdt/2015/02/23/new-advanced-publish-options-to-specify-object-types-to-exclude-or-not-drop/

[2017-02-08 20:58] IlyaFinkelshteyn commented on #1285
Probably this should be set when `Do not drop users` checkbox selected
[code]

[2017-02-08 21:11] sebastienros commented on #1179
I specified the image name in both the online settings and `appveyor.yml` but it still get msbuild 14 and dotnet preview2. Tried to render `APPVEYOR_BUILD_WORKER_IMAGE` but it's undefined.

[2017-02-08 21:18] IlyaFinkelshteyn commented on #1179
@stuartleeks added

[2017-02-08 21:19] FeodorFitsner commented on #1179
@sebastienros can you drop a link to a build please?

[2017-02-08 21:21] sebastienros commented on #1179
https://ci.appveyor.com/project/SebastienRos/yessql-un1yf

[2017-02-08 21:26] sebastienros commented on #1179
@FeodorFitsner have you done anything or is it my latest change?

[2017-02-08 21:27] FeodorFitsner commented on #1179
It's been your change. Previous build had both `os:` and `image:` settings: https://github.com/sebastienros/yessql/blob/1c8989a624620b56a65c45c709bfe7e37db65038/appveyor.yml which was wrong.

[2017-02-08 21:29] sebastienros commented on #1179
Thanks, also couldn't find any reference to `os` on https://www.appveyor.com/docs/appveyor-yml/

[2017-02-08 22:18] bradwilson commented on #1179
Please add this to accounts `BradWilson` and `xunit`. Thanks! :)

[2017-02-08 22:20] FeodorFitsner commented on #1179
@bradwilson both added.

[2017-02-09 00:47] docrinehart opened #1306 "Build history messages stuck as "Pending...""
Not sure if this is related to running against the VS2017 RC build worker, but sometime the build seems to hang when getting started, and when this happens the build takes awhile on the clock and the message is left as "Pending..." even after the build succeeds.

![screenshot](https://cloud.githubusercontent.com/assets/5891405/22764227/ef094e9a-ee2e-11e6-94ef-0b0d15b6e3f9.png)

[2017-02-09 02:29] FeodorFitsner commented on #1306
Can you drop a link to a project/build please?

[2017-02-09 02:35] thedataking opened #1307 "Document use of environment variables"
The current documentation lists the available variables in appveyor.yml but not how to reference them. The available syntaxes include

- `$(configuration)` in paths
- `$env:configuration` in powershell
- `{configuration}`

To run a simple test binary, I had to use trial and error until I arrived at:

`"%APPVEYOR_BUILD_FOLDER%\\%CONFIGURATION%\\Test.exe"`

Which parses as valid .yml *and* a windows

[2017-02-09 02:43] FeodorFitsner commented on #945
It's on roadmap, but still no ETA. We are, actually, planning a "bigger" improvements to deployment area, so this item might be part of it.

[2017-02-09 03:47] docrinehart commented on #1306
https://ci.appveyor.com/project/Headspring/serenityhr

[2017-02-09 04:40] FeodorFitsner commented on #1306
That repository is configured as "generic" Git repo. Whenever a new build is triggered by a webhook it doesn't contain the information about the commit, so AppVeyor puts "Pending..." and then tries to get commit details during the build using `git log` command. For some reason it fails to fetch commit info from log.

If it's GitHub or BitBucket repo you should configure it as "GitHub" or "BitBucke

[2017-02-09 04:45] docrinehart commented on #1306
I tried to, but it wasn't showing up in the list of BitBucket projects.

Also, I'm having some problems getting the node version to adjust to latest. (7.5.0) I've tried Install-Product and Update-NodeJsInstallation but the output from the build script keeps saying it's using node 4.x. I can open another issue for this if needed. Maybe I'm just doing something wrong?

[2017-02-09 04:57] amweiss commented on #1179
Please add @amweiss for https://ci.appveyor.com/project/amweiss/dark-sky-core

[2017-02-09 05:18] IlyaFinkelshteyn commented on #1179
@amweiss  added

[2017-02-09 05:35] FeodorFitsner commented on #1306
For AppVeyor to display BitBucket repo on "New project" page authorized user must be "Administrator" on that repo; otherwise the repo is getting filtered.

We've just updated Node.js to the latest. Modified `appveyor.yml` to install the latest 7.x:

[code]

[2017-02-09 05:39] docrinehart commented on #1306
Trying with your listed yml (I think the key thing I notice different from before is no quotes on the node version number. There's quotes on the documentation for that environment variable setting)

And I'm the owner of the repo, there's no reason I shouldn't be able to see it.

[2017-02-09 12:23] Crevil commented on #1150
Could you add `EGAppVeyor` to the image as well?

[2017-02-09 13:12] thoemmi commented on #1179
Can you please add me as well? My username is `thoemmi`.
Thanks in advance. 😄

[2017-02-09 17:42] IlyaFinkelshteyn commented on #1179
@thoemmi Sure, added

[2017-02-09 17:54] docrinehart commented on #1306
Looks like there's a weird combination of access rights / user profiles that caused my repo not to show up under bitbucket options. I also created a second project in AppVeyor configured from the BitBucket selection, and now the node version appears to get updated correctly. I'm going to close this issue and open a new one if any further issues arise with node version on VS 2017 RC build worker.

[2017-02-09 17:54] #1306 closed

[2017-02-09 20:38] binarymash commented on #1179
Hi, please can you add `binarymash` - thanks!

[2017-02-09 20:47] IlyaFinkelshteyn commented on #1179
@binarymash Added.

[2017-02-09 21:22] IlyaFinkelshteyn commented on #1150
@Crevil added

[2017-02-09 21:43] IlyaFinkelshteyn commented on #1307
Common rule is like this:
- For **AppVeyor settings** (for example Web deploy website name ) all common notations will work, including:
  - `$(variable)` - MSBuild-like variables
  - `%variable%` - batch-like variables
  - `${variable}` - Shell-like variables

But!
- For **scripts** it should be notation, understandable by command shell. For PowerShell script for example you cannot use `%variable%

[2017-02-09 21:54] IlyaFinkelshteyn opened #1308 "Environment deployment YAML configuration"
[Discussion](http://help.appveyor.com/discussions/questions/3164-copy-environment-settings)

[2017-02-10 00:20] docrinehart opened #1309 "appveyor.yml specified install script not running"
I have a single git repo set up against two appveyor projects (so everything should run EXACTLY the same)

One is setup as a regular git repo: https://ci.appveyor.com/project/Headspring/serenityhr
One as bitbucket: https://ci.appveyor.com/project/Headspring/serenityhr-6930k

The install script that should be updating the node version doesn't appear to get run against the "normal" git repo project

[2017-02-10 00:24] FeodorFitsner commented on #1309
"Regular" Git repos do not support `appveyor.yml` - they can be configured via UI only.

[2017-02-10 00:27] docrinehart commented on #1309
Is there a specific reason it isn't supported for non-integrated git repos? Seems restrictive...

[2017-02-10 00:30] FeodorFitsner commented on #1309
Yes. There is no way (technically) to fetch a single file from the repository without cloning entire repository. AppVeyor fetches `appveyor.yml` before build is created (GitHub, BitBucket provides API to fetch a single file) and entire repo is cloned to a clean isolated build VM only which is decommissioned when the build is over.

[2017-02-10 00:45] IlyaFinkelshteyn commented on #1309
@docrinehart  you can use https://github.com/appveyor/ci/issues/1089 if you want to use YAML with classic Git.

[2017-02-10 02:51] thiennn commented on #1179
Please add me @thiennn, thanks

[2017-02-10 04:25] IlyaFinkelshteyn commented on #1179
@thiennn Could you please let us know your AppVeyor account name (part after `/project/` in AppVeyor URL)?

[2017-02-10 04:51] docrinehart commented on #1309
@IlyaFinkelshteyn I'm alright, I figured out the issue with the BitBucket repo (and why it wouldn't appear for me). However, to make this a little easier for others, I'd recommend adding it to the documentation (if it's not already) or making it easier to find if it is.

Perhaps on the "Build Configuration" docs page, under the bullet list _"While working with YAML there are few important points t

[2017-02-10 04:51] #1309 closed

[2017-02-10 04:53] docrinehart commented on #1309
Also thanks to @FeodorFitsner for your quick reply. Saved me additional hours of digging for an answer out of curiosity.

[2017-02-10 04:54] FeodorFitsner commented on #1309
Glad to be helpful :)

[2017-02-10 05:04] docrinehart opened #1310 "Yarn 0.20.3"
https://github.com/yarnpkg/yarn/releases/tag/v0.20.3

[2017-02-10 05:08] thiennn commented on #1179
https://ci.appveyor.com/project/thiennn/simplcommerce/branch/master
Thank you

[2017-02-10 05:30] FeodorFitsner commented on #1179
@thiennn added.

[2017-02-10 09:23] nicolas-f opened #1311 "x64 version of Python27.dll"
Hi,

In this project https://github.com/Ifsttar/I-Simpa we use AppVeyor to do the build of the project.

The CMake file copy the dll from c:/windows/system32/PYTHON27.dll to the final setup.exe.

However this dll is in 32 bits not 64 bits:

https://ci.appveyor.com/project/nicolas-f/i-simpa/build/1.0.24#L5209

Do you know why this dll is not x64 ?

[2017-02-10 14:55] nicolas-f commented on #1311
Its weird, the copied file is not the same at the source. Its seem that the problem is CMake not AppVeyor. Sorry for the inconvenience

[2017-02-10 16:10] nicolas-f commented on #1311
After inspection I think there is an issue.

I run a Hash 512 of c:/windows/system32/PYTHON27.dll

And the result is
```42bd4b66483224530161d986ad3d6b99bb9ec650cd00e08b677bb69ec16948e2b1571fe5ec06886263cee8a465a04ca352fa8907ee63c8925bf9404565a46f7f```

This is the 32 bit version of Python 2.7

It should be
```3c7226274bc7b94f64ac8cf74b6b9858f583d122f9231c1bcebaaef20aeffeed85f378b1dd36f3c7008436bc5

[2017-02-10 18:34] dennisdoomen commented on #1179
Please add me as well. I log on using my GitHub account (and use email dennis.doomen@avivasolutions.nl)

[2017-02-10 19:14] IlyaFinkelshteyn commented on #1179
@dennisdoomen Done.

[2017-02-10 21:37] #1285 closed

[2017-02-11 00:33] mancoast commented on #1276
resolved using nmake generator for CMAKE with CXX and CC overrides pointing to ICPC and ICC respectively.  everything good to go, thanks!

[2017-02-11 00:33] #1276 closed

[2017-02-11 00:35] IlyaFinkelshteyn commented on #1276
@mancoast Oh thanks for update. I tried to produce some useful answer during a week but it is dark area for me :)

[2017-02-11 01:39] IlyaFinkelshteyn commented on #1311
Hi Nicolas,

Please check versions of Python installed on AppVeyor build worker [here](https://www.appveyor.com/docs/installed-software/#python)

Thanks!
Ilya.

[2017-02-11 07:33] PeterMTaylor commented on #1150
Hi @FeodorFitsner, just to check the following points with you.
1) Is the Windows Server 2016 installed on the WMF 5 image when indicated this is installed? If not, please advise which image I need to point my appveyor.yml file to reflect this.
2) Recent tests with my appveyor.yml on the WMF 5 configuration tells me no change mentioned earlier.
PackageManagement\Install-Package : The version '0.7.

[2017-02-11 13:12] kynan commented on #1136
@FeodorFitsner since conda-forge is a community project there is not budget for this unfortunately (unless it was covered by sponsors).

[2017-02-11 20:14] keradus opened #1312 "never-ending build freezes queue"
hi ;)

For few weeks **all** builds of my project stuck in queue and were not consumed.
Finally, I had found an reason of this. AV is consuming builds one by one. One of the build have been executing for **651 hours** (!!!). After manually canceling that build, queue has been unblocked and come back to work normally.

Problematic build: https://ci.appveyor.com/project/keradus/php-cs-fixer/build/de

[2017-02-11 20:17] keradus commented on #1312
BTW, JS code that will cancel all builds visible in build list (so one doesn't need to wait for processing hundreds of outdated builds)
[code]

[2017-02-11 20:59] TravisEz13 opened #1313 "Add ability to change 'Accounts' without having to log out"
## Description
After I login using my GitHub account, I have a list of choices of AppVeyor accounts to use.  It would be nice if I didn't have to log out and log back in to change accounts.

## Suggestion
A menu option in my user drop down.

[2017-02-11 22:59] FeodorFitsner commented on #1312
Yeah, thanks. That was a glitch on our side.

[2017-02-11 23:08] FeodorFitsner commented on #1150
WMF 5 image is based on Windows Server 2012 R2.

`Windows Server 2016` image should be enabled for your account before you can see/use it. Tell us your AppVeyor account name and we'll make this image available for you.

[2017-02-11 23:29] neonboxx commented on #1150
Hi @FeodorFitsner please could you enable the 2016 image on the sequensis account?
Would love to try out some docker builds, thanks.

[2017-02-11 23:31] ElementalCrisis commented on #1179
If we could also be added that would be great, account name is **ElementalCrisis** which is also linked to my GitHub account.

[2017-02-11 23:32] FeodorFitsner commented on #1150
@neonboxx added.

[2017-02-11 23:33] FeodorFitsner commented on #1179
@ElementalCrisis added.

[2017-02-12 03:56] PeterMTaylor commented on #1150
@FeodorFitsner, ok then, my appveyor account is the same as Github name "PeterMTaylor". Thanks.

[2017-02-12 06:24] domenkozar commented on #985
Simplest usage is to use javascript console on appveyor:

[code]

[2017-02-12 10:32] estar73 opened #1314 "Build crashes if "clone_folder" contains spaces"
I have a requirement: the clone folder name is prescribed and contains spaces.
When I set the folder in UI it works without problems.
But the same folder name in the appveyor.yml (by the way, it is generated by UI)
`clone_folder: c:\projects\Path with spaces`
causing error:
[code]
I tried to quote the path in YAML, but things get worse.
I guess this is a bug.

[2017-02-12 22:58] z4kn4fein commented on #1179
Could you please add me as well? pcsajtai
Thanks!

[2017-02-13 01:39] ChrisPulman commented on #1179
@FeodorFitsner please could you add me also for image: Visual Studio 2017 RC
Account name: ChrisPulman
linked to GitHub
Thanks

[2017-02-13 07:21] IlyaFinkelshteyn commented on #1150
@PeterMTaylor added

[2017-02-13 07:38] IlyaFinkelshteyn commented on #1314
Thank you, looks like a bug. We investigate. For now temporary workaround is custom clone with quites:
[code]

Thanks!
Ilya.

[2017-02-13 07:51] nicolas-f commented on #1311
Hi,

Thank you I have already read this, this is how I set the Path.

I just say that python 32 bits dll is in the wrong path. It should be into c:/windows/sysWow32/ not in c:/windows/system32/ (or none of theses path if you have multiple version of python)

Something interesting could be the publishing of the file list with size and sha256 hash of the appveyor machine. Maybe I could create a job

[2017-02-13 07:53] IlyaFinkelshteyn commented on #1179
@z4kn4fein @ChrisPulman added

[2017-02-13 07:55] estar73 commented on #1314
It works, thank you!

[2017-02-13 07:57] martinrotter commented on #1279
Come on, guys. :) Waiting for this desperately.

[2017-02-13 08:45] ChrisPulman commented on #1179
@IlyaFinkelshteyn Thanks very much, build in progress 👍

[2017-02-13 10:20] nicolas-f commented on #1311
I use AppVeyor yml file to copy the python27.dll into the c:/python27_x64/ folder.

[code]

Cmake fail to do this because cmake.exe is a 32 bit file and as such windows redirect request from system32 folder to syswow64 folder. So the appveyor program seem to be 64 bits program and so successfully copy from the system32 folder.

As if find a workaround this issue is resolved. But I still advise to

[2017-02-13 10:20] #1311 closed

[2017-02-13 17:00] kneumei commented on #1179
@FeodorFitsner Can you add to this image?  kneumei, needed for CareEvolution

[2017-02-13 18:01] IlyaFinkelshteyn commented on #1179
@kneumei added

[2017-02-13 18:05] KProskurdin commented on #1179
@FeodorFitsner Could you please add this image for my account "Kostya Proskurdin"(via bitbucket).

[2017-02-13 18:14] dprothero commented on #1179
Can you please add @dprothero thanks!

[2017-02-13 18:15] IlyaFinkelshteyn commented on #1179
@KProskurdin can you please let us know your AppVeyor account name (part after `/project/` in AppVeyor URL)?

[2017-02-13 18:17] KProskurdin commented on #1179
@IlyaFinkelshteyn account name is "kproskurdin". Thanks!

[2017-02-13 18:28] IlyaFinkelshteyn commented on #1179
@dprothero @KProskurdin added

[2017-02-13 19:02] IlyaFinkelshteyn commented on #1090
Another issue with probably the same root cause discussed [here](http://help.appveyor.com/discussions/problems/6084-exception-traceback-not-shown-in-log)

It can be easily reposduced by simple adding `Write-Error -Message "123" -ErrorAction Stop` at any stage.

[2017-02-13 19:18] dprothero commented on #1179
@IlyaFinkelshteyn Thanks! Can you add `TwilioAPI` too, please?

[2017-02-13 19:49] IlyaFinkelshteyn commented on #1179
@dprothero Sure, TwilioAPI added

[2017-02-13 22:36] dprothero commented on #1179
This the right place to report issues? I can build this locally with VS 2017 and msbuild 15 from the command line:
https://github.com/twilio/twilio-csharp/pull/326

But up in appveyor, it throws thousands of errors, not able to find common namespaces:
https://ci.appveyor.com/project/TwilioAPI/twilio-csharp/build/10

[2017-02-13 23:02] IlyaFinkelshteyn commented on #1179
@dprothero can you try to run `nuget restore` at `intsall` or `before_build` stage?

[2017-02-13 23:42] dprothero commented on #1179
So I'm multi-targeting `net35` and `netstandard1.4`. I was able to get it working with a custom build script:
https://github.com/twilio/twilio-csharp/blob/b9bb89b98fcf1470540412e10486100c83dc0b5c/build.ps1

Success: https://ci.appveyor.com/project/TwilioAPI/twilio-csharp/build/19

[2017-02-13 23:48] IlyaFinkelshteyn commented on #1179
@dprothero Thanks for update. BTW is there any reason you use repository type `Git` instead of `GitHub`?

[2017-02-14 02:50] FeodorFitsner commented on #1311
As far as understand installing 32-bit Python 2.7 puts `python27.dll` to `C:\Windows\SysWOW64` directory and installing 64-bit Python 2.7 puts `python27.dll` to `C:\Windows\System32`, correct?

[2017-02-14 03:07] Drawaes commented on #1179
@IlyaFinkelshteyn  can you please add Drawaes to the beta?

[2017-02-14 03:17] FeodorFitsner commented on #1139
Related issue: https://github.com/appveyor/ci/issues/1235

[2017-02-14 03:18] FeodorFitsner commented on #1235
Closed in favor of this duplicate: https://github.com/appveyor/ci/issues/1139

[2017-02-14 03:18] #1235 closed

[2017-02-14 03:21] FeodorFitsner commented on #1179
@Drawaes added.

[2017-02-14 03:23] Drawaes commented on #1179
Thanks!

[2017-02-14 04:33] IlyaFinkelshteyn opened #1315 "WAP packaging broke if solution contains WebJobs"
[Discussion](http://help.appveyor.com/discussions/problems/977-deploy-web-job-using-appveyor#comment_38674884)

For unknown reason msbuild is trying to publish web job projects when you call msbuild with `/p:DeployOnBuild=True /p:PublishProfile=<profile_name>` against **solution file**. In this case check for publishing XML fails because AppVeyor creates publishing XML only for Web application pro

[2017-02-14 07:48] nicolas-f commented on #1311
Yes it is correct.

But I don't know if this is the 64 bits version of CMake that is installed on AppVeyor. It seems not.

[2017-02-14 08:53] tomverin commented on #1179
Can you please add SonarSource to this beta?

[2017-02-14 10:44] damienbod commented on #1179
Can you add damienbod to this? When will this be public?

Greetings Damien

[2017-02-14 13:29] aidmsu commented on #1179
@FeodorFitsner could you add odinserj to the private beta, please?

[2017-02-14 13:39] waynebrantley commented on #137
2 years later, no progress?

[2017-02-14 17:58] michaelherndon commented on #1179
Hi, could you kindly add account `MichaelHerndon`? cheers!

[2017-02-14 18:18] FeodorFitsner commented on #1311
AppVeyor build workers have 32-bit CMake installed, however, as part of your build you can download 64-bit CMake from [CMake download page](https://cmake.org/download/), unpack it to some folder and change `PATH` variable.

[2017-02-14 18:18] IlyaFinkelshteyn commented on #1179
@aidmsu @michaelherndon added!

[2017-02-14 18:23] IlyaFinkelshteyn commented on #1179
@tomverin added

[2017-02-14 18:24] IlyaFinkelshteyn commented on #1179
@damienbod can you please let us know your AppVeyor account name (part after `/project/` in AppVeyor URL)?

[2017-02-14 18:26] davidebbo commented on #1315
If you have a Web App where WebJobs were added from VS, the Web App imports a special target files. e.g. see [here](https://github.com/davidebbo-test/WebAppWithWebJobsVS/blob/5471db17dc3ba9ccfc632dde3feecdf69c5cf853/WebAppWithWebJobsVS/WebAppWithWebJobsVS.csproj#L273).

Once that's set up, there really should be nothing special about building the Web App with all the WebJobs. e.g. try this:

- Clo

[2017-02-14 18:56] damienbod commented on #1179
@IlyaFinkelshteyn thanks for the answer.
https://ci.appveyor.com/project/damienbod
&
https://ci.appveyor.com/project/thabart

thanks

[2017-02-14 19:01] IlyaFinkelshteyn commented on #1179
@damienbod added both!

[2017-02-14 21:08] jslee02 commented on #1179
Hello, could you please add @jslee02 to the private beta? Thanks in advance!

[2017-02-15 02:40] IlyaFinkelshteyn commented on #1179
@jslee02 added.

[2017-02-15 03:20] #1305 closed

[2017-02-15 04:31] IlyaFinkelshteyn opened #1316 "write_access in IIS agent deployment does not work on site update"
Post 10 in [this](http://help.appveyor.com/discussions/problems/5993-appveyor-deployments-are-resetting-application-folder-permissions) discussion

[2017-02-15 04:33] IlyaFinkelshteyn commented on #1316
It works on site creation but site update does not reach code path to modify ACLs.

[2017-02-15 08:38] SlavaRa opened #1317 "Please install Haxe and NekoVM"
Official site: http://haxe.org/

Packages on chocolatey.org:
https://chocolatey.org/packages/haxe
https://chocolatey.org/packages/neko

[2017-02-15 11:44] rick-powell-sfw commented on #1150
A bit late to the party but would love to try docker builds too. My appveyor username is rickpowell131@hotmail.co.uk

[2017-02-15 12:38] nocotom commented on #1179
Hello appveyor team! I would be grateful for enjoy beta! Login: *nocotom*

[2017-02-15 17:09] IlyaFinkelshteyn commented on #1179
@nocotom Added.

[2017-02-15 17:12] IlyaFinkelshteyn commented on #1150
@rick-powell-sfw Added.

[2017-02-15 17:18] ebekker commented on #1179
Hello, can you please add @ebekker to private beta?  Thanks!

[2017-02-15 18:12] FeodorFitsner opened #1318 "Update JDK 1.8"

[2017-02-15 18:36] IlyaFinkelshteyn commented on #1179
@ebekker  done!

[2017-02-15 18:58] FeodorFitsner opened #1319 "Cancel branch builds if PR created"
Typical workflow is push a branch and then open a pull request on the branch.  Of course you cannot open a pull request until you push the branch the first time - and you would not want to open a pull request until you had pushed the latest code from your branch.  This means the branch is building and then the pull request is building.  Do not care about the branch.  You have a feature for skip_br

[2017-02-15 20:44] michaelherndon commented on #1179
@IlyaFinkelshteyn  Works wonderfully.Thank you!

[2017-02-15 23:49] FeodorFitsner commented on #1284
Can you please provide installation instructions for these additional libraries?

[2017-02-16 02:15] IlyaFinkelshteyn opened #1320 "Azure PowerShell - January 2017"

[2017-02-16 02:43] CaseyCarter commented on #1179
@CaseyCarter Please?

[2017-02-16 02:48] IlyaFinkelshteyn commented on #1179
@CaseyCarter Sure, done.

[2017-02-16 08:03] MatZub commented on #1150
@IlyaFinkelshteyn Hi, I would also like to test docker build functionality, as it would help speed up the development process of our applications considerably. My appveyor username is matas@mediapark.com.

[2017-02-16 13:13] laedit commented on #1179
Can you please add @laedit?
Thanks!

[2017-02-16 17:34] IlyaFinkelshteyn commented on #1179
@laedit Added.

[2017-02-16 17:42] steven-dawkins commented on #325
this would be really useful for us!

[2017-02-16 18:57] IlyaFinkelshteyn commented on #1150
@MatZub Added!

[2017-02-16 22:42] brunocodutra commented on #1179
may @brunocodutra join the party?

[2017-02-16 22:53] IlyaFinkelshteyn commented on #1179
@brunocodutra sure, welcome :)

[2017-02-17 00:19] darvell commented on #1179
Throwing myself in here for access to the private beta.

[2017-02-17 02:06] IlyaFinkelshteyn commented on #1179
@darvell added

[2017-02-17 04:31] FeodorFitsner opened #1321 "Get project last branch build API does not support slashes in branch name"
Discussion: http://help.appveyor.com/discussions/problems/1727-build-summary-not-reachable-due-to-slashes-in-version#comment_41974390

[2017-02-17 14:16] andreigec commented on #1179
Can I please get private beta access

[2017-02-17 15:39] eliaskosunen commented on #1284
Sure!

LLVM has some documentation has some information on building on MSVC: http://llvm.org/docs/GettingStartedVS.html

1. Download the source from LLVM website: http://releases.llvm.org/download.html (only "LLVM source code" is needed). Current version is 3.9.1
2. Run CMake. It shouldn't need any special configuration. Only watch out for spaces in pathnames or build configuration may fail
2.1. O

[2017-02-17 16:18] AArnott commented on #1179
@IlyaFinkelshteyn Can you please add `aarnott` to the beta?

[2017-02-17 16:54] IlyaFinkelshteyn commented on #1179
@andreigec @AArnott added

[2017-02-17 16:59] jarroda commented on #1176
@IlyaFinkelshteyn may I have access to the VS2017 image as well?  We are in need of building .net core 1.1 csproj based projects.  Account name is "2020IP".  Thanks.

[2017-02-17 17:02] IlyaFinkelshteyn commented on #1176
@jarroda Sure, done!

[2017-02-17 17:33] AArnott commented on #1179
Hmmm... I'm seeing some long queue times. Is it possible the demand for the VS 2017 RC image exceeds the capacity of precreated VMs?

[2017-02-17 17:39] IlyaFinkelshteyn commented on #1179
@AArnott this is because currently it is running on GCE (Google cloud engine), where initial VM provision time is longer than on our own Hyper-V environment. Build time itself should not be longer. It will me migrated from GCE later, when image become GA.

[2017-02-17 17:42] AArnott commented on #1179
sounds good. thanks.

[2017-02-17 18:22] antunesl commented on #1179
Can I join the please? I need to do some testing on porting some webapps to msbuild version.

[2017-02-17 18:23] 304NotModified commented on #1179
Please add "nlog", thanks!

[2017-02-17 18:30] IlyaFinkelshteyn commented on #1179
@antunesl @304NotModified added

[2017-02-17 18:59] FeodorFitsner opened #1322 "Python 3.5.3"

[2017-02-17 19:01] FeodorFitsner commented on #1281
Looks like it doesn't have Windows installer yet.

[2017-02-17 19:32] FeodorFitsner opened #1323 "Miniconda2 4.3.11 (Python 2.7.13"

[2017-02-17 19:32] FeodorFitsner opened #1324 "Miniconda2 4.3.11 (Python 2.7.13)"

[2017-02-17 19:32] FeodorFitsner opened #1325 "Miniconda3 4.3.11 (Python 3.6.0)"

[2017-02-17 19:33] #1323 closed

[2017-02-17 19:43] FeodorFitsner commented on #1318
Duplicate https://github.com/appveyor/ci/issues/1124

[2017-02-17 19:43] #1318 closed

[2017-02-17 19:46] FeodorFitsner opened #1326 "CMake 3.7.2"

[2017-02-17 20:54] FeodorFitsner opened #1327 "Chrome 56.0"

[2017-02-17 20:59] FeodorFitsner opened #1328 "Gecko Driver 0.14.0"

[2017-02-18 00:10] FeodorFitsner opened #1329 "MinGW-w64 6.3.0"
Download installer: https://downloads.sourceforge.net/project/mingw-w64/Toolchains%20targetting%20Win32/Personal%20Builds/mingw-builds/installer/mingw-w64-install.exe

Installed into: `C:\mingw-w64\i686-6.3.0-posix-dwarf-rt_v5-rev1`

[2017-02-18 00:20] JamieKeeling commented on #1176
@IlyaFinkelshteyn May I have access to the VS2017 image too please?

My Account name is jamie-keeling

Many thanks.

[2017-02-18 00:22] FeodorFitsner commented on #1302
Installed into `C:\MinGW`

[2017-02-18 00:52] FeodorFitsner commented on #1284
Thanks, will give it a try!

[2017-02-18 00:57] IlyaFinkelshteyn commented on #1176
@JamieKeeling sure, done

[2017-02-18 01:38] IlyaFinkelshteyn commented on #1254
Doc added, at bottom part of [this](https://www.appveyor.com/docs/deployment/web-deploy/#automatic-packaging) section. Essentially use `APPVEYOR_WAP_ARTIFACT_NAME` environment variable.

[2017-02-18 04:35] nathany opened #1330 "Go 1.8"
https://blog.golang.org/go1.8

Builds are running `go1.7.1 windows/amd64`

An upgrade to 1.8 would be appreciated

Thanks!

[2017-02-18 04:38] DDoSolitary commented on #1179
Hello, could you please add `DDoSolitary`?

[2017-02-18 04:48] FeodorFitsner opened #1331 "Go 1.7.5, 1.6.4"

[2017-02-18 19:18] AArnott commented on #1179
@FeodorFitsner: I see [a failure on the RC image](https://ci.appveyor.com/project/AArnott/nerdbank-gitversioning/build/1.0.371) that I don't see on my own computer.

Upon investigating, it appears the NuGet MSBuild files aren't quite in the same place, as could be seen when I ran `msbuild /pp:out.xml` on my NuProj project on the appveyor VM and compared against a local output. The relevant part of

[2017-02-18 19:22] FeodorFitsner commented on #1179
@AArnott so how to fix that? any missing extension out there? You can try logging via RDP to see what's going on. Any help with fixing that is greatly appreciated.

[2017-02-18 19:24] FeodorFitsner commented on #1179
@DDoSolitary added.

[2017-02-18 19:25] AArnott commented on #1179
@FeodorFitsner: I see that `C:\Program Files (x86)\Microsoft Visual Studio\2017\Community\MSBuild\Microsoft\NuGet\15.0\Microsoft.NuGet.props` exists. And in fact when I build on the VM myself it works. This leads me to believe that somehow the appveyor process that spawns MSBuild defines one of the macros differently than they are expanded when I try it. So perhaps `$(VisualStudioVersion) != 15.0`

[2017-02-18 19:30] 13thirteen commented on #1179
Could you please add my AppVeyor account `thirteen`?
Thanks!

[2017-02-18 19:31] AArnott commented on #1179
It *seems* VisualStudioVersion is the problematic one. If I set that to `15.0` it seems to work.

[2017-02-18 19:34] AArnott commented on #1179
@FeodorFitsner I'm trying [my workaround](https://github.com/AArnott/Nerdbank.GitVersioning/commit/2ed5fd9239d6c4d0c1f5386d2ec874a87bd059f2) in [this build](https://ci.appveyor.com/project/AArnott/nerdbank-gitversioning/build/1.0.374).

[2017-02-18 19:48] AArnott commented on #1179
It wasn't as simple as that. But I wonder if the issue is that I'm running under a VS 2017 Developer Command Prompt and appveyor isn't. In which case, I may need to just figure out how to resolve that myself.

[2017-02-18 19:51] FeodorFitsner commented on #1179
@AArnott right, it's not being run under VS 2017 command prompt, so I guess some more environment variables are missing. You may want trying to execute VS 2017 command prompt batch script during the build.

[2017-02-18 20:42] AArnott commented on #1179
@FeodorFitsner I'll need to find the script file first. How is it that msbuild.exe is on the PATH?
Is (vsinstalldir)\Common7\Tools also on the path already?

[2017-02-18 20:43] FeodorFitsner commented on #1179
@AArnott MSBuild 15.0 was explicitly added to `PATH` by us after installing VS 2017. Not sure about `(vsinstalldir)\Common7\Tools`.

[2017-02-18 20:45] AArnott commented on #1179
I was able to repro the problem locally with a command window with msbuild.exe on the PATH but not the rest of the env vars. So yes, I'll figure this out. Thanks.

[2017-02-18 21:03] AArnott commented on #1179
@FeodorFitsner  Actually it looks like it should be as simple as setting the VisualStudioVersion environment variable, but [I did that in my appveyor.yml file](https://github.com/AArnott/Nerdbank.GitVersioning/commit/2ed5fd9239d6c4d0c1f5386d2ec874a87bd059f2). Yet the problem repros, and when I RDP to the appveyor VM and launch a command window, I don't see the env var there either. When I use Proc

[2017-02-18 21:10] seladb commented on #1302
Thanks, what about MinGW-w64? Could you please upgrade it as well?

[2017-02-18 21:11] FeodorFitsner commented on #1302
Yes, there is an issue for that: https://github.com/appveyor/ci/issues/1329

[2017-02-18 21:11] FeodorFitsner commented on #1302
Hey, but it's not yet deployed.  We'll close the issue when it's deployed.

[2017-02-18 21:15] AArnott commented on #1179
I "fixed" it by setting the environment variable in my appveyor web UI settings page. On that page, the same env var was set to 14.0. But my appveyor.yml should make all the online UI settings ignored, shouldn't it? If both my yml file and the web UI have different values for env vars, shouldn't appveyor.yml win? It seems the opposite is true.

[2017-02-18 21:31] AArnott opened #1332 "appveyor.yml defined environment variables are overridden by web UI settings"
You can see this confirmed on [this build](https://ci.appveyor.com/project/AArnott/nerdbank-gitversioning/build/1.0.377) where my script:

[code]

outputs:

[code]

Even though [my appveyor.yml file that went into this build was set to 15.0](https://github.com/AArnott/Nerdbank.GitVersioning/blob/4736bc589f26ca180490f1690c0f23320f2417db/appveyor.yml#L13).

This happens when the [web settings](https

[2017-02-18 21:34] FeodorFitsner commented on #1332
Well, that's actually a known "feature" - environment variables (and notifications) defined on UI overwrite the ones defined in `appveyor.yml`: https://www.appveyor.com/docs/build-configuration/#appveyoryml-and-ui-coexistence

[2017-02-18 21:35] FeodorFitsner commented on #1179
@AArnott good finding, thanks! Environment variables defined on UI are getting merged with ones defined in `appveyor.yml`: https://www.appveyor.com/docs/build-configuration/#appveyoryml-and-ui-coexistence

[2017-02-18 21:38] AArnott commented on #1332
I see. Thanks.

[2017-02-18 21:38] #1332 closed

[2017-02-18 21:50] mcintyre321 commented on #1179
Hi, could you please add my appveyor account to the beta? thanks!

[2017-02-18 22:15] FeodorFitsner commented on #137
AppVeyor update has been deployed that allows changing account time zone on account details page: https://ci.appveyor.com/account

Selected time zone affects dates in notifications and NuGet feeds.

[2017-02-18 22:15] #137 closed

[2017-02-18 22:15] #1321 closed

[2017-02-18 22:15] FeodorFitsner commented on #1271
An update has been deployed.

[2017-02-18 22:15] #1271 closed

[2017-02-18 22:35] seladb commented on #1302
Cool, thanks a lot!

[2017-02-19 02:04] FeodorFitsner commented on #1179
@mcintyre321 added.

[2017-02-19 03:11] MichaelJolley commented on #1176
@IlyaFinkelshteyn, I'd love access to it as well.  My account name is AdvancedSystemsUnlimited.

Thanks!

[2017-02-19 04:56] IlyaFinkelshteyn commented on #1176
@MichaelJolley added

[2017-02-19 05:08] IlyaFinkelshteyn commented on #1179
@13thirteen added too.

[2017-02-19 07:11] sschuberth commented on #1330
You can easily install Go 1.8 (or any other released version) using [Chocolatey](https://chocolatey.org/) like [done here](https://github.com/git-lfs/git-lfs/blob/master/appveyor.yml#L11). Don't forget to do `rd C:\Go /s /q` first to make system Go not being found in `PATH` anymore (editing `PATH` would be more complicated), and to do `refereshenv` afterwards.

[2017-02-19 07:18] sschuberth opened #1333 "Provide a tool to edit system / user environment PATH variable"
In order to override system-wide programming language versions like Go 1.7.1 in `C:\do\bin` it would be nice to have a command line tool (e.g. as part of the `appveyor` tool, or a separate tool like `refreshenv`) that allows to remove (and add) individual paths from / to the PATH environment variable. The tool should directly edit the registry and be able to select between the system and user scop

[2017-02-19 09:48] dustinmoris commented on #1179
Can you please add `dustinmoris` as well. Thank you!

[2017-02-19 10:51] slang25 commented on #1179
Could you also please add `justeattech`, thanks 😃

[2017-02-19 12:27] mcintyre321 commented on #1179
I've got a problem where it can't build a Core project I created using 2017. From the log (see snippet) it's using MSBuild 14, although I've set the `VisualStudioVersion` env var to `15`. Any ideas? thanks!

[code]

from [here](https://ci.appveyor.com/project/mcintyre321/mvc-jquery-datatables/build/1.3.59)

[2017-02-19 12:28] SeppPenner opened #1334 "New feature: Show status of already built repositories on new repo screen"
Feature request:

In my opinion, it would be a great feature to either exclude the already built repositories from the "New Project" screen or to add a badge that shows tha latest build status to indicate which repository was already built and which not.

Example:

![suggestion 1](https://cloud.githubusercontent.com/assets/9639361/23102310/37cbb7f0-f6a7-11e6-9e15-3d6d97d7907d.PNG)
or:
![suggestion

[2017-02-19 15:14] michaelherndon commented on #1179
@mcintyre321
Have you tried using the dotnet CLI tool?

[2017-02-19 16:57] AndreyAkinshin commented on #1176
Hey @IlyaFinkelshteyn, May I have access to the VS2017 image too? Account name: `PerfDotNet` (see https://github.com/dotnet/BenchmarkDotNet/pull/357).

[2017-02-19 18:28] mcintyre321 commented on #1179
@michaelherndon Tried it with `dotnet build` but it seems that the non-core projects in the sln then fail...

[2017-02-19 18:55] FeodorFitsner commented on #1176
@AndreyAkinshin added.

[2017-02-19 22:09] tintoy commented on #1179
Hi @FeodorFitsner, I appreciate that I'm a little late to the party but is there any chance you could add the `Visual Studio 2017 RC` image to my account (@tintoy), too?

e.g. https://ci.appveyor.com/project/tintoy/httplease/build/1.0.204

[2017-02-19 22:15] FeodorFitsner commented on #1179
@tintoy added.

[2017-02-19 22:17] FeodorFitsner commented on #1179
@dustinmoris, @slang25 added.

[2017-02-19 22:20] krzysztof-jusiak commented on #1179
Could you please add @krzysztof-jusiak too? Thanks!

[2017-02-19 22:23] PureKrome commented on #137
Woot! thanks @FeodorFitsner !

[2017-02-20 00:46] FeodorFitsner commented on #1334
Thank you for the suggestion!

[2017-02-20 00:47] FeodorFitsner commented on #1179
@krzysztof-jusiak added.

[2017-02-20 04:14] AndreyAkinshin commented on #1176
@FeodorFitsner, thanks!

[2017-02-20 07:25] dahlbyk commented on #1115
Is it possible to switch AppVeyor from building the "virtual merge" commit (`refs/pull/N/merge`) to using the actual branch tip (`refs/pull/N/head`)?

[2017-02-20 08:06] cpx86 commented on #1179
Can you please add @protoactor-ci?

[2017-02-20 09:35] markwragg commented on #1271
Confirmed workaround is no longer necessary. Thanks!

[2017-02-20 12:38] camelofcode opened #1335 "Feature Request: Pre-install Azure Storage Emulator on build machines"
We've just moved to AppVeyor from VSTS and all is great - except we have had to temporarily disable our integration tests as they are expecting Azure Storage Emulator to be running on the build machine.

We could install this via Powershell at the start of each build, but this would probably slow our builds down quite a lot, so we'd prefer if it came preinstalled like the services and databases av

[2017-02-20 12:55] MiniverCheevy commented on #1179
I would also like some 2017 goodness, minivercheevy

[2017-02-20 17:37] IlyaFinkelshteyn commented on #1179
@cpx86 @MiniverCheevy added

[2017-02-20 18:06] FeodorFitsner commented on #1335
The latest Azure Storage Emulator 4.6 is already installed on all build workers:
https://github.com/appveyor/ci/issues/1248
https://www.appveyor.com/docs/installed-software/#sdks

[2017-02-20 18:06] #1335 closed

[2017-02-20 18:40] camelofcode commented on #1248
Any ideas why we might be getting the following error when running integration tests that attempt to use it? Do we need to do something to start it?

Microsoft.WindowsAzure.Storage.StorageException : Unable to connect to the remote server
  ----> System.Net.WebException : Unable to connect to the remote server
  ----> System.Net.Sockets.SocketException : No connection could be made because the tar

[2017-02-20 18:57] FeodorFitsner commented on #1248
Azure Storage Emulator is not started automatically. You should start it as part of your tests (or before tests with `Start-Process` cmdlet) as described here: http://help.appveyor.com/discussions/kb/10-starting-azure-storage-emulator-for-tests

The only thing that changed since that KB is a path to emulator executable: `C:\Program Files (x86)\Microsoft SDKs\Azure\Storage Emulator\AzureStorageEmul

[2017-02-20 22:57] IlyaFinkelshteyn commented on #1115
Sorry I maybe misunderstand the question, but as it was said in the beginning of this thread, by default 2 builds happen -- both "virtual merge" and branch build. Is branch build not what you need?

[2017-02-21 08:35] camelofcode commented on #1248
Many Thanks for pointing me in the right direction Feodor. We have our tests running (and passing, yay!) on AppVeyor builds now.

[2017-02-21 10:26] Wohlstand opened #1336 "Please, Install Qt 5.8"
Qt 5.8 has been released in January 28 and has added into list of Online Installer as release. It has better stability and I want to use it in my project (which tries to always use latest version on all platforms).

http://blog.qt.io/blog/2017/01/23/qt-5-8-released/

[2017-02-21 12:14] DDoSolitary commented on #1150
Could you please add `DDoSolitary`? Thanks!

[2017-02-21 13:43] dotnetprogrammr commented on #1179
Could I please have access to the VS2017 image (using this GitHub account); thanks.

[2017-02-21 16:06] HuibertJan commented on #1179
Can I also please have access to the VS2017 image. My account is HuibertJan, and it's linked to github.
Many many thanks.

[2017-02-21 17:22] kzu commented on #1179
FWIW, I think an "OS" named "Visual Studio..." should definitely run commands from a developer command prompt. If one with just MSBuild in the path is really really needed, it should be another "OS", maybe "MSBuild [12|14|15]"...

This way, the weird build error because of missing key props/envvars (i.e. `$(VisualStudioVersion)` and `%VS150COMNTOOLS%`) wouldn't happen at all. And it wouldn't requi

[2017-02-21 17:50] FeodorFitsner commented on #1336
Closing as duplicate of https://github.com/appveyor/ci/issues/1279

[2017-02-21 17:50] #1336 closed

[2017-02-21 18:01] Wohlstand commented on #1336
Okay, sorry wasn't found that in search...
Thanks for noticing that already exists!

[2017-02-21 18:09] FeodorFitsner commented on #1336
In fact, Qt 5.8 has been just deployed to all images. We are publishing update post shortly.

[2017-02-21 18:15] IlyaFinkelshteyn commented on #1179
@dotnetprogrammr @HuibertJan added!

[2017-02-21 18:16] FeodorFitsner commented on #137
Nope, the setting affects notifications and NuGet feeds only. Time zone on build machine could be easily changed during the build with a single line in `appveyor.yml`.

[2017-02-21 18:28] FeodorFitsner commented on #1333
I believe you don't need to change the registry, but you can change the current variable with a simple command like:

    set PATH=C:\<new-path-to-go>;%PATH%

[2017-02-21 18:31] IlyaFinkelshteyn commented on #1150
@DDoSolitary added

[2017-02-21 18:47] dahlbyk commented on #1115
They're similar, but not the same, especially in the context of settings like "Pull Requests do not increment build number". The two specific differences I see:

1. branch build will build branches without pull requests, which is not a problem for my project but may be for others. (And there's the "don't build PR branches" setting.)
2. I believe branch builds would miss PR branches from forks.

I

[2017-02-21 18:56] neonboxx commented on #1179
Hi, please could you enable 2017 image on the sequensis account?

Thanks

[2017-02-21 19:01] sschuberth commented on #1333
Sure, but `set` is not persistent across different shell invocations. I.e. if you `set` something in `build_script:` it's not available in `test_script:`. Using `setx` would be persistent, but it [truncated to 1024 characters](http://superuser.com/questions/387619/overcoming-the-1024-character-limit-with-setx).

Anyway, it just came to my mind that I could simply use the `environment:` section in

[2017-02-21 19:17] arthurrump commented on #1179
Can you please enable the VS2017 image on my account (arthurrump, linked to this GitHub account) too? Thanks!

[2017-02-21 19:24] IlyaFinkelshteyn commented on #1179
@neonboxx @arthurrump added

[2017-02-21 19:27] haavardheggheim commented on #1179
Can you add HvardH plz ? thx

[2017-02-21 19:39] waynebrantley commented on #137
Thanks for clarification.  Great feature, this will help a bunch!!

[2017-02-21 19:42] pwelter34 commented on #1179
can you add `LoreSoft`, thanks

[2017-02-21 19:59] sschuberth commented on #1333
Turns out using something like

    environment:
      PATH: c:\tools\go\bin;$(PATH)

works just fine, so I'm closing this. Thanks!

[2017-02-21 19:59] #1333 closed

[2017-02-21 20:34] IlyaFinkelshteyn commented on #1179
@haavardheggheim @pwelter34 added

[2017-02-21 21:04] 6bee commented on #1179
Please add @6bee
Thanks.

[2017-02-21 21:18] IlyaFinkelshteyn commented on #1179
@6bee Added

[2017-02-21 22:28] Wohlstand commented on #1336
In the [documentation](https://www.appveyor.com/docs/installed-software/#qt) is was be shown latest Qt 5.7 (at morning). However, now I see it, so thanks a lot!

[2017-02-22 02:45] IlyaFinkelshteyn opened #1337 "Agent environment deployment should fail if no single agent picks up the job"
Also add ability to set number of agents expected to pick up the job and time to wait for agents.

In case you need "original" behavior when agent deployment is green if no agents responded add `agents_expected` to agent provider settings with value set to `0` (expect no agents):

    agents_expected: 0

[2017-02-22 04:00] IlyaFinkelshteyn opened #1338 "CORS support"

[2017-02-22 04:16] jakirkham opened #1339 "Miniconda 2.7 x64 not working"
We are encountering a large number of incidents in the past ~10hrs of Miniconda 2.7 x64 being unable to activate. Details can be seen in issue ( https://github.com/conda-forge/conda-smithy/issues/462 ).

[2017-02-22 05:13] FeodorFitsner commented on #1339
Sorry about that. We were rolling up images update and found an issue with Miniconda installations. Some of them were missing (for some reason) either `conda.exe` or `python.exe` files. We roll backed original images for now. Will push another update tomorrow evening with Miniconda installations fixed: https://www.appveyor.com/updates/2017/02/21/

[2017-02-22 05:13] #1339 closed

[2017-02-22 05:17] jakirkham commented on #1339
No worries. Thanks for handling this so quickly. Already seeing things returning to normal.

[2017-02-22 07:02] estar73 commented on #1314
It works as expected now, thank you.

[2017-02-22 07:14] XhmikosR commented on #1296
@FeodorFitsner: there's newer versions out. 6.10.0 and 7.6.0.

[2017-02-22 07:14] XhmikosR commented on #1327
Duplicate of https://github.com/appveyor/ci/issues/1286 :P

[2017-02-22 07:15] XhmikosR commented on #1275
1.14.5 is out.

[2017-02-22 07:28] XhmikosR commented on #1296
@FeodorFitsner: there's newer versions out. 4.8.0, 6.10.0 and 7.6.0.

[2017-02-22 07:55] 6bee commented on #1179
Thanks a lot!

The `dotnet cli 1.0.0 rc4` works great if the following statement is present in `appveyor.yml`:
[code]

[2017-02-22 08:45] srazi commented on #1279
Now Qt-5.8 has been added to installed software list and also you said:

But:
![appveyor_qt58](https://cloud.githubusercontent.com/assets/1328454/23203381/8b37382c-f8f7-11e6-8071-e128b1d73d1a.PNG)

[2017-02-22 09:58] HuibertJan commented on #1179
Is it possible to make the vs2017 image available for coolblue-development? (Github organization). Many, many, many thanks in advance.

[2017-02-22 10:03] dgageot commented on #1150
Could you please add `Pinata`? Thanks a lot!

[2017-02-22 11:37] jburzynski commented on #1179
@FeodorFitsner, @IlyaFinkelshteyn could you please add VS2017 to JacekBurzynski?
https://ci.appveyor.com/project/JacekBurzynski/typegen

Many thanks!

[2017-02-22 12:20] martinrotter commented on #1279
I am experiencing probably same problems as person above this comment.

[2017-02-22 12:35] dismine commented on #1279
Confirm. The same thing for me.

[2017-02-22 17:28] FeodorFitsner commented on #1286
Closed in favor of https://github.com/appveyor/ci/issues/1327

[2017-02-22 17:28] #1286 closed

[2017-02-22 17:29] FeodorFitsner opened #1340 "Node.js 7.6.0, 6.10.0, 4.8.0"

[2017-02-22 18:28] FeodorFitsner commented on #1279
guys, that image with Qt 5.8 was rolled back because of issues with Miniconda. We are deploying an updated one. Sorry for the inconvenience.

[2017-02-22 18:49] FeodorFitsner opened #1341 "TypeScript 2.2.1.0 for Visual Studio 2015"
https://blogs.msdn.microsoft.com/typescript/2017/02/22/announcing-typescript-2-2/

[2017-02-22 18:55] sschuberth opened #1342 "Adding to PATH environment variable does not seem to work"
We're using this [appveyor.yml](https://github.com/git-lfs/git-lfs/blob/32e16073b13b1675e1e0ef980a7cfdcc32591120/appveyor.yml) file which has:

    environment:
      PATH: c:\tools\go\bin;$(PATH)

So I'd expect `c:\tools\go\bin` to be added to `PATH` and to be searched first, before any system Go directory.

Still, the [build log](https://ci.appveyor.com/project/git-lfs/git-lfs/build/1.0.1445) sh

[2017-02-22 19:00] IlyaFinkelshteyn commented on #1314
Sorry, we were needed to roll back build worker image with updated build agent because of [another issue](https://github.com/appveyor/ci/issues/1279#issuecomment-281757805). It will be fixed soon.

[2017-02-22 19:42] IlyaFinkelshteyn commented on #1179
@HuibertJan @jburzynski Added!

[2017-02-22 19:44] FeodorFitsner commented on #1179
@6bee have you tried using nuget.exe `v4.0.0-rc4` from [NuGet downloads page](https://dist.nuget.org/index.html)?

[2017-02-22 20:16] FeodorFitsner commented on #1150
@dgageot added.

[2017-02-22 20:52] IlyaFinkelshteyn opened #1343 "max_jobs - Being able to specify particular branches"
[Discussion](http://help.appveyor.com/discussions/suggestions/1204-max_jobs-being-able-to-specify-particular-branches)

[2017-02-22 21:29] IlyaFinkelshteyn commented on #1342
Hi Sebastian,

I believe that problem is that [appveyor.yml](https://github.com/git-lfs/git-lfs/blob/verify-configurable-retry/appveyor.yml) in `verify-configurable-retry` branch does not have this setting (while `master` has).

You can store YAML centrally using [this approach](https://www.appveyor.com/docs/build-configuration/#alternative-yaml-file-location) if you want to avoid this inconsisten

[2017-02-22 21:36] sschuberth commented on #1342
Hi Ilya,

why would that be a problem? The AppVeyor build I've linked is the build for the branch, not the build for the "virtual" merge between master and the branch. So, when looking at the branch only, where would be an inconsistency?

[2017-02-22 23:06] 6bee commented on #1179
@FeodorFitsner no, haven't tried nuget.exe `v4.0.0-rc4` but would have preferred dotnet cli anyhow.
Apparently  `dotnet restore` detects wrong version of msbuild and fails to retrieve nuget dependencies (as in [this build](https://ci.appveyor.com/project/6bee/aqua-core/build/1.0.125)).
Having to download nuget seems a bit shaky as url might work for only limited time or version could no longer mat

[2017-02-22 23:15] IlyaFinkelshteyn commented on #1342
Hi Sebastian,

When AppVeyor starts the build, it downloads `appveyor.yml` (or custom named YAML file) from branch where commit was made. [Commit](https://github.com/git-lfs/git-lfs/commit/32e16073b13b1675e1e0ef980a7cfdcc32591120) is already merged to `master` but when it was checked in, `appveyor.yml` in `verify-configurable-retry` branch did not contain `PATH: c:\tools\go\bin;$(PATH)` under `env

[2017-02-23 02:12] Thealexbarney commented on #1179
Could you add the VS2017 image to `Thealexbarney`? Thanks!

[2017-02-23 02:40] IlyaFinkelshteyn commented on #1179
@Thealexbarney added

[2017-02-23 05:48] friism commented on #1150
@FeodorFitsner @IlyaFinkelshteyn can you add `friism` please?

[2017-02-23 07:31] debrouxl commented on #1076
Like the other commenters, I'm interested in vcpkg integration. I know of several projects depending on a number of libraries already packaged in e.g. vcpkg's ports, which are either already using AppVeyor and could use vcpkg integration to ease their work, or could seriously consider using AppVeyor once it has vcpkg integration :)

[2017-02-23 07:56] sschuberth commented on #1342
I know what you're after, but I don't think this applies here. Let's try to simplify the issue by not looking at branch names, but only unique SHA1s:

1. [This build fails](https://ci.appveyor.com/project/git-lfs/git-lfs/build/1.0.1445) because system Go 1.7.1 instead of our custom Go 1.8 installed to `c:\tools\go\bin` is being used, and I was investigating why that is the case. The build was done

[2017-02-23 09:12] Yshayy commented on #1150
Hi, can you add TomerDvir as well?
Thanks

[2017-02-23 11:45] Wohlstand commented on #1336
Anyway, just now I got a fail to build on Qt 5.8:
https://ci.appveyor.com/project/Wohlstand/pge-project/build/0.4.0.3.754
Seems, it's a legacy image, and why it still be on the server?

However, first time I set Qt 5.8, worked fine. The build itself wasn't broken (because files I modified at me are platform-independent source code files and build files for Linux and OS X which are no way to break

[2017-02-23 12:35] vszakats commented on #1329
On a slightly related request: Would it be possibly to update the MSYS2 packages (C:\msys64\) in the VM image?

It currently takes about ~9 minutes per build to download and install MSYS2 mingw-w64 (32 and 64-bit) updates to get to version 6.3.0.

[2017-02-23 18:40] neoeinstein commented on #1176
@IlyaFinkelshteyn Requesting access for "neoeinstein" and the "xyncro" organization.

[2017-02-23 18:57] IlyaFinkelshteyn commented on #1150
@friism @Yshayy Added!

[2017-02-23 18:59] FeodorFitsner opened #1344 "MSYS2 6.3.0"
Original request: https://github.com/appveyor/ci/issues/1329#issuecomment-281980606

[2017-02-23 18:59] FeodorFitsner commented on #1329
Added a new issue for that: https://github.com/appveyor/ci/issues/1344

[2017-02-23 19:00] FeodorFitsner commented on #1336
The image with Qt 5.8 is back as default one. Let us know how it worked.

[2017-02-23 19:07] Wohlstand commented on #1336
Okay, works!
[Since this build](https://ci.appveyor.com/project/Wohlstand/pge-project/build/0.4.0.3.760) it seems works! (Anyway, the reason of failed build because I accidentally copied wrong string and now Linux fails too, therefore going to fix that)
Thanks for fixing image!

[2017-02-23 19:08] vszakats commented on #1329
Thank you!

[2017-02-23 19:09] IlyaFinkelshteyn commented on #1176
@neoeinstein Added!

[2017-02-23 19:09] #979 closed

[2017-02-23 19:09] #1124 closed

[2017-02-23 19:09] #1279 closed

[2017-02-23 19:09] #1280 closed

[2017-02-23 19:09] #1282 closed

[2017-02-23 19:09] #1296 closed

[2017-02-23 19:09] #1302 closed

[2017-02-23 19:09] #1310 closed

[2017-02-23 19:09] #1314 closed

[2017-02-23 19:09] #1315 closed

[2017-02-23 19:09] #1320 closed

[2017-02-23 19:09] #1322 closed

[2017-02-23 19:09] #1324 closed

[2017-02-23 19:09] #1325 closed

[2017-02-23 19:09] #1326 closed

[2017-02-23 19:09] #1327 closed

[2017-02-23 19:09] #1328 closed

[2017-02-23 19:09] #1329 closed

[2017-02-23 19:09] #1330 closed

[2017-02-23 19:09] #1331 closed

[2017-02-23 21:57] kirkshoop commented on #1179
I would like to use the VS2017 image. `kirkshoop` is my account name - Thank you!

[2017-02-23 22:01] IlyaFinkelshteyn commented on #1179
@kirkshoop Added!

[2017-02-23 22:47] ChrisMaddock commented on #1280
Thanks @FeodorFitsner!

[2017-02-23 23:01] IlyaFinkelshteyn commented on #1342
Hi Sebastian,

Thanks a lot for this lesson, seriously, I have to know this.

Regarding original issue, I have feeling that 'cinst' does not check session environment variables and that's why it does not see what you added. If you run `- ps: $env:path -split ";"` or display `path` some other way you prefer, you could see that `C:\tools\go\bin` is there.

Side note: new build worker image with GO 1

[2017-02-24 00:14] chronoxor commented on #1329
I think it is good to have x86_64 as well

[2017-02-24 09:01] nicolaiarocci commented on #1179
I would also like to use the VS2017 image.

[2017-02-24 10:05] sschuberth commented on #1330
To clarify, this issue was not closed because of my suggested work-around, but because Go 1.8 is now actually [installed by default](https://www.appveyor.com/docs/installed-software/#go).

[2017-02-24 10:14] sschuberth commented on #1342
No worries. BTW, debugging this would have been easier if AppVeyor would actually display the contents of the used `appveyor.yml` in a tab on the build page, similar to how Travis CI and CircleCI do this.

By "session environment variables" you mean user variables? I'll try to check for that.

However, there is *another* indication that `C:\tools\go\bin` is*not* in `PATH`: [Line 136](https://ci.ap

[2017-02-24 12:22] enyim commented on #1176
Can you please enable this for the account "enyim"?

[2017-02-24 15:14] andrewgunn commented on #306
Any update on this?

[2017-02-24 15:38] bdspaul commented on #1179
@FeodorFitsner @IlyaFinkelshteyn us too please - "BDS" account. Thanks!

[2017-02-24 17:29] greigs commented on #638
The documentation seems to suggest this has been implemented. Is this correct?https://www.appveyor.com/docs/nuget/#automatic-publishing-of-nuget-projects

[2017-02-24 18:00] FeodorFitsner commented on #1176
@enyim added.

[2017-02-24 18:01] FeodorFitsner commented on #1179
@nicolaiarocci added.

[2017-02-24 18:08] FeodorFitsner commented on #638
Nope, AppVeyor doesn't provide symbols hosting (understood by Visual Studio). Symbol packages have `.pdb` files inside and some teams prefer to have them on feed instead of "release" packages.

[2017-02-24 18:16] FeodorFitsner commented on #306
NuGet feed requires Basic authentication. Basic auth information can be passed in the URL like:

    https://<username>:<password>@ci.appveyor.com/nuget/<feed>

[2017-02-24 20:10] FeodorFitsner commented on #1280
This is a fix that should be applied to avoid running `adb.exe` during the build:

[code]

More about Xamarin bug in this discussion: https://forums.xamarin.com/discussion/89230/latest-xamarin-starts-adb-exe-when-earlier-version-did-not-causing-ci-issue?

We are deploying image update.

[2017-02-24 23:39] HyukjinKwon commented on #517
Hi @FeodorFitsner and @IlyaFinkelshteyn, just for @IlyaFinkelshteyn's suggestion, it works great per my intention. Thank you.

I happened to come back for another (gentle and kind) request. Just to provide the context in case, I was testing Apache Spark's Scala/Java related unit tests which takes about 2/3 hours in my case.
In case of Apache Spark itself with ApacheSoftwareFoundation account, it r

[2017-02-25 00:54] FeodorFitsner commented on #517
Build timeout for `ApacheSoftwareFoundation` account has been increased to 90 minutes.

[2017-02-25 01:09] HyukjinKwon commented on #517
Thank you so much for your help.

[2017-02-25 17:44] ashmaroli commented on #1290
https://github.com/git-for-windows/git/releases/tag/v2.12.0.windows.1 :smile:

[2017-02-25 19:27] FeodorFitsner opened #1345 "Git 2.12.0"

[2017-02-25 19:28] FeodorFitsner commented on #1290
Created a new issue for it: https://github.com/appveyor/ci/issues/1345

[2017-02-25 19:28] #1290 closed

[2017-02-25 21:05] friism commented on #1150
@IlyaFinkelshteyn @FeodorFitsner do you think there's going to be any way to cache Docker layers between builds? The simplest way would be to cache `$Env:ProgramData\docker`, but that vastly exceeds the 100MB that's the documented build cache limit.

Having to rebuild from scratch sucks

[2017-02-25 21:14] nicowilliams opened #1346 "RDP not working"
https://ci.appveyor.com/project/nicowilliams/jq

I'm trying to debug `./configure`'s failure to find flex.

The IP address shown in the log does not respond to pings.  I cannot connect to the given port on that IP address.  RDP fails, naturally.

[2017-02-25 21:22] FeodorFitsner commented on #1346
Yes, because once the build is finished its virtual machine is off and deleted. Use "blocking" RDP: https://www.appveyor.com/docs/how-to/rdp-to-build-worker/

[2017-02-25 21:22] FeodorFitsner commented on #1150
Cache is 1 GB for free accounts. 100 MB was an old limits. Give it a try and let me know how it worked.

[2017-02-25 21:27] friism commented on #1150
@FeodorFitsner ah, ok - there's a mention of 100MB [here](https://www.appveyor.com/docs/build-cache/#how-it-works), but I see there's an updated table below.

1GB is not enough either for Windows containers (eg. the base layers alone 10s of GB). I don't think larger cache limits are a reasonable request, and I'm pondering a more reasonable alternative.

[2017-02-25 22:28] XhmikosR commented on #1290
You could just rename the issue, but anyway.

[2017-02-25 23:50] joaope commented on #1179
Can I get VS2017 image on my account please? Tks

[2017-02-26 00:03] nicowilliams commented on #1346
I couldn't connect even during the build.  The IP was not reachable.  Anyways, I can connect now.  Whatever the problem was, it was transient.  Maybe a routing problem in the middle.  Thanks.

[2017-02-26 00:03] #1346 closed

[2017-02-26 00:05] nicowilliams commented on #1346
Although, mind you, I did have this:

[code]

and still, it disconnects when the build fails.

[2017-02-26 02:09] #1275 closed

[2017-02-26 02:09] #1340 closed

[2017-02-26 02:09] #1341 closed

[2017-02-26 02:09] #1344 closed

[2017-02-26 02:13] FeodorFitsner commented on #1179
@joaope added.

[2017-02-26 03:02] #1338 closed

[2017-02-26 03:07] #1139 closed

[2017-02-26 10:36] srazi opened #1347 "Download issue with URLs containing &"
Both `appveyor DownloadFile` and `curl -fsS` can not download file `KillProcDll&FindProcDll.zip` from:
http://nsis.sourceforge.net/mediawiki/images/5/53/KillProcDll%26FindProcDll.zip

**Note:** I was able to download file on my computer using  `curl -fsS` . As a workaround I uploaded file after removing `&` from its name.

output for `appveyor DownloadFile "http://nsis.sourceforge.net/mediawiki/im

[2017-02-26 10:44] zemasoft opened #1348 "Repo rename"
Could you please rename my repo URL?

Old name: https://ci.appveyor.com/project/zemasoft/header-only-draughts
Desired: https://ci.appveyor.com/project/zemasoft/uctl

Thanks for your great service!

[2017-02-26 10:47] srazi opened #1349 "Strangely uppercased environment variable"
My project appveyor.yml contains:
[code]

It correctly will be set to `x86` but in second job strangely it will be set to `X64` (uppercase X)

[2017-02-26 12:24] Yshayy commented on #1150
Hi, is there an image version with support for both V2017RC and docker?

[2017-02-26 18:27] iiwaasnet commented on #1179
Please add for **iiwaasnet**

[2017-02-26 20:40] FeodorFitsner opened #1350 "Ruby 2.4.1-1"
Installer: https://github.com/larskanis/rubyinstaller2
Discussion: https://twitter.com/blowmage/status/835940096163471360
Silent installation instructions: https://github.com/larskanis/rubyinstaller2/wiki/FAQ

[2017-02-26 20:41] FeodorFitsner commented on #1179
@iiwaasnet added.

[2017-02-26 20:43] FeodorFitsner commented on #1348
It's been renamed.

[2017-02-26 20:43] #1348 closed

[2017-02-26 20:45] FeodorFitsner commented on #1349
There might be something else setting this variable (changing during the build).

Try output it during `init` phase of the build:

[code]

[2017-02-26 20:48] FeodorFitsner commented on #1150
Combined Windows 2016 + VS 2017 image will be available shortly after VS 2017 release.

[2017-02-26 21:25] chronoxor opened #1351 "MinGW-w64 6.3.0 for x86_64 arch"
Download installer: https://downloads.sourceforge.net/project/mingw-w64/Toolchains%20targetting%20Win32/Personal%20Builds/mingw-builds/installer/mingw-w64-install.exe

Installed into: `C:\mingw-w64\x86_64-6.3.0-posix-seh-rt_v5-rev1`

[2017-02-26 23:13] srazi commented on #1349
Yeah you are right.
`vcvarsall.bat x64` will call `vcvars64.bat` that has a line like: `@set Platform=X64`

[2017-02-26 23:13] #1349 closed

[2017-02-26 23:47] lucasvickers commented on #386
Same need here.  On [Cinder](https://github.com/cinder/Cinder) we have a 2013 project that supports vs 2013 and vs 2015, and a 2015_winr project that is only available on vs 2015.

I am working to allow failures on the invalid combination, but it clutters output.  It ideally should be excluded from the build matrix to prevent cluttering of the display and also to save machine resource.

[2017-02-27 00:55] jakirkham commented on #1002
Maybe this [guide]( https://developer.github.com/guides/basics-of-authentication/ ) is helpful.

[2017-02-27 08:58] dzimchuk commented on #1179
@FeodorFitsner Could you please add the 2017 image to my account as well? (GitHub account is dzimchuk)

[2017-02-27 09:53] Yshayy commented on #1150
Is there any workaround to build VS2017 aspnet core with docker deployment on Appveyor?

[2017-02-27 14:20] friism commented on #1150
@Yshayy You can just use Docker: https://github.com/friism/MusicStore/blob/master/Dockerfile.windows#L1

That Dockerfile builds a ASP.NET Core app. This docker-compose file runs it with SQL Server: https://github.com/friism/MusicStore/blob/master/docker-compose.windows.yml

And AppVeyor runs it: https://github.com/friism/MusicStore/blob/master/appveyor.yml#L8

You don't need it to do the above, bu

[2017-02-27 19:04] arekkas commented on #128
This is desperately needed, for example when using `electron-builder`!

[2017-02-27 21:32] IlyaFinkelshteyn commented on #128
Sorry if I misunderstand the subject but it is always possible to verify if build is tagged in script.

CMD example:
[code]

PowerShell example:
[code]

Thanks!
Ilya.

[2017-02-27 21:38] PureKrome commented on #128
@IlyaFinkelshteyn is the `deploy_script `

1. the full _replacement_ script/steps for custom deploying? This means the `deploy` settings are ignored.
2. a script that is ran _after_ the deploy has complete. This means the `deploy` settings are still used.

[2017-02-27 21:58] IlyaFinkelshteyn commented on #128
@PureKrome
 - `deploy_script` is full replacement for `deploy` settings
 - `after_deploy` can be used together with deploy settings to run *after* deploy is complete.

You can use `IF DEFINED APPVEYOR_REPO_TAG_NAME` condition in both of them.

I still feel that I don't understand the problem fully and there is some scenario which cannot be solved with those scripts and IFs...

[2017-02-27 22:13] FeodorFitsner commented on #1179
@dzimchuk added.

[2017-02-27 22:59] PureKrome commented on #128
Ok. lets create a fake scenario.

lets imagine .. i donno .. that after a build, we want to open the cage door to a carrier-pigeon which will then do something.

so we need to hit a url with a POST for example... `POST https://www.ci-pigeons.io/purekrome/project-69`

so can you write some yml for our deploy then.. like this..

[code]
(Deploy can be webdeploy, nuget deploy .. it's irrelevant... jus

[2017-02-27 23:04] PureKrome commented on #128
<deleted post>

I was totally talking about the wrong things...

[2017-02-27 23:15] PureKrome commented on #128
@IlyaFinkelshteyn i've totally re-read my original question and i think I've got it now.

Currently, there's a nice way to use the `Deploy` settings to setup up automatic deployment.
`- provider: WebDeploy`
`- provider: Ftp`
`- provider: etc...`

So what I was suggesting to @FeodorFitsner in the original question was to create _another_ type of provider: `- provider: Script` and this can be the lo

[2017-02-28 00:18] IlyaFinkelshteyn commented on #1347
Hello,
Please try
[code]
It should work OK.

Ilya.

[2017-02-28 01:36] IlyaFinkelshteyn commented on #1346
It should not, can you please send link to specific change in `appveyor.yml` and related build?

[2017-02-28 01:51] Thealexbarney opened #1352 "Rename Project"
Apparently there's still no user-facing method to do this yet.
I renamed my GitHub repo from `Thealexbarney/LibDspAdpcm` to `Thealexbarney/VGAudio`, but there's no option to change the AppVeyor URL to `https://ci.appveyor.com/project/Thealexbarney/vgaudio`.

Thanks in advance for any assistance.

[2017-02-28 01:56] IlyaFinkelshteyn commented on #128
Need to clarify that this is still not the same as deployment provider. It is just single custom script which runs at deployment stage during a build. For example it cannot benefit from filtering syntax (like `on: branch: master`) and you need to do `IF`s in script itself.

It would be much better if you could create your own "custom script provider" and have it like this:
[code]

Reason we still

[2017-02-28 02:02] IlyaFinkelshteyn commented on #1352
Yes, we have to expose it. Updated.

[2017-02-28 02:14] PureKrome commented on #128
yep - that's what i was suggesting:

---

Also @IlyaFinkelshteyn , can you answer the question about `deploy` vs `deploy_script`, plz? (refer ☝️ to previous reply).

[2017-02-28 03:32] IlyaFinkelshteyn commented on #128
@PureKrome You understanding of `deploy_script` is correct (Yes on that question).

Also you can experiment with UI -- go to `settings -> deployment -> script`, choose CMD or PowerShell, add some script code, save and press `Export YAML`. You will see sample syntax. However auto-generated (by `Export YAML`) multi-line PowerShell does not look very compact and if you don't like it, you can use [thi

[2017-02-28 06:08] srazi commented on #1347
@IlyaFinkelshteyn Thank you, it works. tbh, I'm not good in PS. :D

[2017-02-28 06:08] #1347 closed

[2017-02-28 11:40] hferentschik commented on #1150
I would be interested in testing the Windows 2016 image as well. My account is 'hferentschik'.
My use case would be to run nested virtualization. Any idea whether this would work. We are working on a Go project which creates and manages a VM usings Docker's libmachine. We can already build and unit test on AppVeyor, but to be able to run our integration tests we would need nested virtualization.

[2017-02-28 11:47] StefanScherer commented on #1150
@hferentschik Nested virtualization would be great, but I don't think it will work for 64bit machines. But you can read https://stefanscherer.github.io/how-to-create-a-32bit-boot2docker-for-x86-cpus/, about a year ago I ran a 32bit docker machine in AppVeyor. Maybe that helps you a little bit.

[2017-02-28 11:52] chipitsine opened #1353 "something got broken between 23feb and 28 feb"
good one: https://ci.appveyor.com/project/chipitsine/openvpn-gui/build/cygwin-14
bad one: https://ci.appveyor.com/project/mattock/openvpn-gui/build/cygwin-3

both builds are produced from identical code (I compared using "diff -u -r")
also, it is strange why does cygwin tries to check whether compiler produces executable files.
configure is run with --build != --host, so, due to configure code it

[2017-02-28 13:43] wayne-o commented on #1179
could you please add my appveyor account? wayne-o

thanks

[2017-02-28 16:35] gbraad commented on #1150
@FeodorFitsner, I work with @hferentschik on the same project. It would be great to have access to try some stuff. account name is 'gbraad'.

[2017-02-28 17:14] IlyaFinkelshteyn commented on #1150
@hferentschik @gbraad Added!

[2017-02-28 17:33] IlyaFinkelshteyn commented on #1179
@wayne-o Added!

[2017-02-28 23:39] #1352 closed

[2017-02-28 23:40] IlyaFinkelshteyn opened #1354 "XUnit2 and nunit XML test result parse test duration wrongly"
It should wring (bigger) time for some test results.

[2017-03-01 00:40] jakkaj commented on #1176
Hi guys. Can I please get early access for "jakkaj" to the VS2017 RC image :)

Cheers!

Jordan.

[2017-03-01 00:43] IlyaFinkelshteyn commented on #1176
@jakkaj Sure, done!

[2017-03-01 01:51] IlyaFinkelshteyn commented on #1353
First I suspected that this is because our build worker image updated, but I tried the same commit with previous image and it fails the same way. I think this is external dependency, specifically `mingw64-i686-gcc-core`.
[Good one version is 5.4.0-3](https://ci.appveyor.com/project/chipitsine/openvpn-gui/build/cygwin-14/job/8041u1bu3q1pkx7e#L30)
[Bad one version is 5.4.0-4](https://ci.appveyor.com

[2017-03-01 03:21] chipitsine commented on #1353
thank you !
I'll investigate myself

[2017-03-01 03:21] #1353 closed

[2017-03-01 04:05] IlyaFinkelshteyn commented on #1354
Still not deployed to prod

[2017-03-01 12:21] whir1 commented on #1179
could you please add my appveyor account? (GitHub account is whir1)

[2017-03-01 17:28] IlyaFinkelshteyn commented on #1179
@whir1 Added!

[2017-03-01 19:30] IlyaFinkelshteyn opened #1355 "Ability to trace who pressed “New build” or by “Re-build commit/PR” (or called those APIs)"

[2017-03-01 21:10] fniephaus opened #1356 "unzip for Cygwin installed but not working?"
Hi there,

this [`.appveyor.yml`](https://github.com/fniephaus/appveyor-experiments/blob/3caed577f35f9377e60bbd46de0297f4bb764ada/.appveyor.yml) causes [a build error](https://ci.appveyor.com/project/fniephaus/appveyor-experiments/build/1.0.1/job/dwkv6t3vk4pt0oel), because it cannot find `unzip`.
However, it looks like the build downloaded `unzip` before:

Any idea why this is happening?

Many tha

[2017-03-01 21:39] fniephaus commented on #1356
Apparently, `which unzip` returns `/usr/bin/unzip`, but still `unzip` does not seem to work:

https://ci.appveyor.com/project/fniephaus/appveyor-experiments/build/1.0.3

[2017-03-01 23:34] Rondom commented on #1356
If you are installing new packages, you need to update Cygwin as well.

     -g --upgrade-also                 also upgrade installed packages

[2017-03-01 23:36] Rondom commented on #1356
I don't think Cygwin supports installing newer packages over older installations without upgrading. I mean, the packages do not have versioned dependencies...

[2017-03-01 23:45] fniephaus commented on #1356
Thanks, this seems to resolve the problem!

[2017-03-01 23:45] #1356 closed

[2017-03-01 23:56] Rondom commented on #724
Hope it is okay to ask here: Are there any plans to implement this?

[2017-03-02 00:17] dougwilson opened #1357 "Node.js 7.7.3"
A slew of new http methods are added in the release, bringing the new features in 8.0 into a release I can test on AppVeyor soon I hope :)

[2017-03-02 00:22] Rondom opened #1358 "Update Cygwin and MSYS2"
It would be nice to update Cygwin (32/64) and MSYS2 regularly.
Both do not support installing packages alongside an outdated installation. Thus one always has to do an upgrade when installing packages.

This takes several minutes on every build. For instance, updating and installing two or three packages with Cygwin currently takes 5 mins (with cached packages) of which the majority of the time is

[2017-03-02 13:07] sschuberth commented on #801
While I'm happy to have these instructions, there's a big pitfall still as they say "On the same page authorize AppVeyor to access GitHub". If you do that while still being logged into GitHub with your usual account that is part of the GitHub org you want AppVeyor to build for, the AppVeyor org account will see *all* repos you have access to, not only the ones part of the specific GitHub org.

It

[2017-03-02 13:48] asbjornu commented on #801
@sschuberth:

Yes, that's how I've "solved" this as well. It's unfortunate that this is necessary, but that's the only solution I've found for the problem.

[2017-03-02 15:04] sschuberth opened #1359 "No builds triggered for PRs to spdx/tools-python"
I'm expecting https://github.com/spdx/tools-python/pull/20 to trigger builds at https://ci.appveyor.com/project/spdx/tools-python/history, but nothing shows up, the GitHub web interface shows "Waiting for status to be reported".

Background: I used to trigger AppVeyor builds using my personal AppVeyor account (I signed in via my personal GitHub account), but then I wanted to replace my builds with

[2017-03-02 15:23] sschuberth commented on #1359
The webhook was missing, I had to manually add it. What process adds the webhook automatically usually?

[2017-03-02 17:44] IlyaFinkelshteyn commented on #1359
Hi Sebastian,

It is https://github.com/appveyor/ci/issues/1183 issue. Sorry for confusion.

Ilya.

[2017-03-02 17:46] sschuberth commented on #1359
Thanks.

[2017-03-02 17:46] #1359 closed

[2017-03-02 22:23] Nordes commented on #1179
Could you please also my appveyor acount (same as github : nordes)

[2017-03-02 22:36] dazinator commented on #1179
Please can you add the VS2017 image to my account also? (Github: Dazinator)

[2017-03-02 23:40] IlyaFinkelshteyn commented on #1179
@Nordes @dazinator Added!

[2017-03-03 06:22] FeodorFitsner commented on #1357
Node.js 7.7.1 is now available.

[2017-03-03 15:32] StummeJ opened #1360 "AspNetCore 1.1 Test Started to fail"
We've just started receiving this runtime error when trying to run aspnet core 1.1 tests targeting net46 on the visual studio 2015 images:

[code]

We've rebuilt a previous green job and it has started to fail in this same manor.

[2017-03-03 17:06] FeodorFitsner commented on #1360
There were no recent changes to build worker images: https://www.appveyor.com/updates/
Could it be an external dependency that changed? Exception says method implementation changed.

[2017-03-03 17:07] StummeJ commented on #1360
This would be odd as a previous build also started to fail.  Converting the project over to .net core and packaging the runtime with the project provided a green build though.

[2017-03-03 17:10] FeodorFitsner opened #1361 "Fix app index template"
Discussion: https://twitter.com/pctgrass/status/837680934426116096

[2017-03-03 17:44] FeodorFitsner commented on #1360
I guess `Microsoft.AspNetCore.Http` is pulling as a nuget package during the build. Maybe something changed on that feed.

Can you do a simple repro app in a public repository?

[2017-03-04 08:44] jcdickinson commented on #1179
Please add me, thanks!

[2017-03-05 11:55] Romanx commented on #1179
Could I also get VS2017 added to my account. Thanks

[2017-03-05 15:08] gaearon commented on #15
I can't find the Rebuild button.

Commit: https://github.com/facebookincubator/create-react-app/pull/1402/commits/d981198f1077878268ee207feb7134ab49e57ca4

Build: https://ci.appveyor.com/project/Facebook/create-react-app/build/1.0.102

<img width="1021" alt="screen shot 2017-03-05 at 3 07 46 pm" src="https://cloud.githubusercontent.com/assets/810438/23588444/853582a0-01b5-11e7-8593-df4719038ef2.pn

[2017-03-05 20:42] ai opened #1362 "APPVEYOR_JOB_NUMBER environment variable"
Could you add `APPVEYOR_JOB_NUMBER` to [environment variables](https://www.appveyor.com/docs/environment-variables/)?

We use AppVeyor to test PostCSS on Windows — thanks for great service. In PostCSS tests we have spelling check. We try to be responsible and keep CI from unnecessary load. So, why to run spelling check (it sends network request, so it is not so fast) on every node.js version?

To

[2017-03-05 22:09] xoviat commented on #1362
It's `APPVEYOR_JOB_ID`.

[2017-03-05 22:11] xoviat opened #1363 "Tests tab has started to fail"
For some reason, builds are now failing because the "tests" API is [returning a 500](https://ci.appveyor.com/project/matysek/pyinstaller/build/2014/job/dk3arn8e5l0mqv7n#L1209).

[2017-03-05 22:13] ai commented on #1362
@xoviat `APPVEYOR_JOB_ID` could be `6q08m3jmav4genwj`. I have no idea how detect that it is first job in current task.

[2017-03-05 22:20] xoviat commented on #1362
What about `APPVEYOR_JOB_NAME`?

[2017-03-05 22:22] ai commented on #1362
@xoviat job name could be `Environment: nodejs_version=7`. As you can se there is no job sequence number here.

Right now I use `APPVEYOR_JOB_NAME` to check `/nodejs_version=7/`, but this way is not future proof and `APPVEYOR_JOB_NUMBER` will be much better.

[2017-03-05 23:31] FeodorFitsner commented on #15
You either don't have enough permissions to manage that project or should re-login to "Facebook" account.

[2017-03-05 23:33] gaearon commented on #15
Thanks for explaining. I was confused because I thought I saw settings at some point, but it turned out that I saw them in my fork's CI.

[2017-03-05 23:34] FeodorFitsner commented on #1179
@jcdickinson, @Romanx added.

[2017-03-06 02:41] ezyang opened #1364 "Appveyor is truncating logs when stderr is unbuffered"
AppVeyor is truncating logs when the program producing the output does so char-by-char (i.e., unbuffered.) Here is an example on a synthetic program:  https://ci.appveyor.com/project/ezyang/ghceye/build/1.0.23

The expected output is 130 lines of 100 'a's together. Here is the source code of the program (it's very short; ignore the commented out bits): https://github.com/ezyang/ghceye/blob/360321f

[2017-03-06 07:58] stephensolis commented on #1179
Could you add me as well? (username `stephensolis`)

[2017-03-06 15:00] bsideup commented on #1150
Hi!

I'm co-maintainer of http://github.com/testcontainers/testcontainers-java and we would like to start testing it on Windows.

Could you please add my account (I use fork to develop) and testcontainers org to the beta program?

Thanks!

[2017-03-06 15:42] Aragas commented on #1179
Hi. Please add me too. Thanks!

[2017-03-06 18:42] IlyaFinkelshteyn commented on #1179
@stephensolis  Added!

[2017-03-06 18:47] IlyaFinkelshteyn commented on #1150
@bsideup Sure, added.

[2017-03-06 18:53] bsideup commented on #1150
@IlyaFinkelshteyn thank you!

[2017-03-06 19:34] IlyaFinkelshteyn commented on #1363
If you could attach 'junit-results.xml' file to investigate that would speed up investigation (upload it [as artifact](https://www.appveyor.com/docs/packaging-artifacts/#pushing-artifacts-from-scripts) at 'on_finish' stage for that). If not, I will later fork your repository and get that file myself.

[2017-03-06 19:58] IlyaFinkelshteyn commented on #1179
@aragas I noted your request in GitHub email notification, though do not see it here. Maybe you delete it. Added anyway :)

[2017-03-06 20:35] smudge202 commented on #1150
Could I also be added please, @IlyaFinkelshteyn ? <3

[2017-03-06 20:38] xoviat commented on #1363
I've attached another repository because the one originally referenced won't be done for hours.

https://ci.appveyor.com/project/xoviat/pyinstaller/build/1.0.9/job/14i71eaqa4itto0i/artifacts

[2017-03-06 20:40] IlyaFinkelshteyn commented on #1150
@smudge202 Sure, added!

[2017-03-06 20:56] sebastienros commented on #1179
Can you please add alexbocharov/orchard2 ?

[2017-03-06 21:22] janisozaur commented on #1179
Given MSVC2017 release date is tomorrow, can you AppVeyor members share any ETA/plans on GA of the images? Has the RC improved things on your side? I wish you day 1 availability, but honestly take whatever time you need. The service you guys provide is really good.

[2017-03-06 21:26] FeodorFitsner commented on #1179
The image with VS 2017 RTM will be available later this week. We plan to based it on Windows Server 2016 OS with Docker installed for even more goodness.

[2017-03-06 21:29] janisozaur commented on #1179
Sounds awesome! Thanks.

[2017-03-06 22:38] IlyaFinkelshteyn commented on #1179
@sebastienros alexbocharov added!

[2017-03-07 00:12] IlyaFinkelshteyn commented on #1363
XML file is good, though it is still throwing. Will investigate more and update.

[2017-03-07 03:48] smudge202 commented on #1150
Is anyone else having problems with volume mounting? I can't for love nor money get APPVEYOR_BUILD_FOLDER mounted despite following workarounds suggested here:

* https://github.com/docker/docker/issues/12590#issuecomment-96767796
* http://superuser.com/questions/1051520/docker-windows-container-how-to-mount-a-host-folder-as-data-volume-on-windows

Example command:

[code]

Results in error:

[cod

[2017-03-07 05:01] FeodorFitsner commented on #1150
@smudge202 I believe correct mount specification for Docker with Windows Containers might be the following:

    $originalMountSpecification = "$(Get-Location)/:c:/app"

[2017-03-07 06:03] smudge202 commented on #1150
The above was a linux image; I've switched to a windows image since (`microsoft/dotnet:sdk-nanoserver`). This also has issues with mapping because the symlinkd doesn't work correctly for volume mounting unless you specify the full path. The latest iteration of the above command is:

`docker run --rm -v "$(Get-Location):$(Get-Location)" --workdir "$(Get-Location)" microsoft/dotnet:sdk-nanoserver "d

[2017-03-07 09:22] jlopresti commented on #1176
Hi all,

Can i also get access to the preview ? My account is my current Github account

Thanks guyz !

J.

[2017-03-07 11:53] nikeee commented on #1179
Can I also have access to the RC? User is `nikeee`.

[2017-03-07 12:18] StefanScherer commented on #1150
@smudge202 At the moment it's a little bit difficult to see if its a linux or windows image. I also had to look at it with `docker run stefanscherer/winspector microsoft/aspnetcore-build` first and it showed me that it's not a windows image.

I tried your command in an empty folder on the host and it worked for me. Probably it depends in which folder you are on the host as you can't map to a non-e

[2017-03-07 16:38] smudge202 commented on #1150
Yup, so long as I specify a drive in the target bind it should be right. I tend to just hop into docker hub and walk down the dockerfile FROM's until it shows nano/win. If it's not one of those, I assume it to be a linux distro. Like you say though, not obvious.

I did get everything working in the end (in that appveyor produces nanoserver based images for my aspnetcore stuff). I don't like that t

[2017-03-07 18:09] wieslawsoltes commented on #1179
Could I also get VS2017 added to my account. Thanks

[2017-03-07 18:32] IlyaFinkelshteyn commented on #1179
@nikeee @wieslawsoltes added

[2017-03-07 19:11] hsrobbv commented on #1179
Please add VS2017 to **huyn_bv**

Thanks!

[2017-03-07 19:28] IlyaFinkelshteyn commented on #1176
@jlopresti Sure, added!

[2017-03-07 19:48] IlyaFinkelshteyn commented on #1179
@hsrobbv added!

[2017-03-07 21:03] osoykan commented on #1179
Could you please add me:  `osoykan`

[2017-03-07 21:32] IlyaFinkelshteyn commented on #1179
@osoykan added!

[2017-03-07 21:41] k94ll13nn3 commented on #1179
Could you please add the 2017 image to my account (linked to my github account) ?

[2017-03-07 21:52] ctolkien commented on #1176
Any ETA on when the 2017 image will make it into general release?

[2017-03-07 22:00] IlyaFinkelshteyn commented on #1176
This week we are releasing new image with VS 2017 RTM and Win2016 with docker combined. By default it will be available to everyone who already have access to current VS 2017 RC or Win2016 and to everyone who asked. After first iteration of patches we will make it GA.

[2017-03-07 22:10] IlyaFinkelshteyn commented on #1179
@k94ll13nn3 done!

[2017-03-07 22:11] ctolkien commented on #1176
I'd better get on the preview train as well then! This GH account is linked to my AppVeyor account for org Soda Digital

[2017-03-07 22:13] IlyaFinkelshteyn commented on #1176
@ctolkien OK, done.

[2017-03-07 23:49] geobmx540 commented on #1179
@IlyaFinkelshteyn can I get this for my account as well (also linked to this GitHub account)

[2017-03-08 00:30] Arcidev commented on #1179
Could you also add me for VS2017? My account is linked to this github account. Thanks.

[2017-03-08 01:02] IlyaFinkelshteyn commented on #1179
@Arcidev Added!

[2017-03-08 01:05] IlyaFinkelshteyn commented on #1179
@geobmx540 Added too!

[2017-03-08 04:03] jakirkham opened #1365 "Python 3.6 Miniconda"
Could the latest Miniconda3 be installed in 32-bit and 64-bit varieties as `C:\\Miniconda36` and `C:\\Miniconda36-x64` respectively please?

[2017-03-08 04:07] allanrsmith commented on #393
Any more traction on this?

[2017-03-08 04:23] IlyaFinkelshteyn opened #1366 "Increase max request length for 'api/testresults' path"
Issues:
http://help.appveyor.com/discussions/problems/6205-cannot-upload-test-results
https://github.com/appveyor/ci/issues/1363#issuecomment-284524719

[2017-03-08 04:24] IlyaFinkelshteyn commented on #1363
Sorry for delay. Please watch [this](https://github.com/appveyor/ci/issues/1366) issue. Should be done soon.

[2017-03-08 04:54] FeodorFitsner commented on #1365
There are already 32- and 64-bit Miniconda installations in `C:\Miniconda36` and `C:\Miniconda36-x64` respectively: https://www.appveyor.com/docs/installed-software/#python

[2017-03-08 04:54] #1365 closed

[2017-03-08 06:55] leastprivilege commented on #1179
me too please (@leastprivilege)

[2017-03-08 08:50] xoofx commented on #1179
me too please! (@xoofx)

[2017-03-08 09:47] IvanAlekseev commented on #1179
Me too please: `PoqDev`

[2017-03-08 10:17] Kralizek opened #1367 "Support for .NET Core SDK 1.0.0"
Now that finally the .NET Core SDK is out and GA, people will start converting their project.json projects to the new csproj format.

I am experiencing the problem here https://ci.appveyor.com/project/Kralizek/loggingextensions

Am I right if I see these issues solved when a Visual Studio 2017 image is out?

[2017-03-08 11:01] damienbod opened #1368 "xunit with netcoreapp1.1 not working"
I'm trying to test using xunit and netcoreapp1.1

Works fine locally, but not on the build server. Any ideas how I could fix this, thanks Damien

log:
[code]

appveyor.yml
[code]

build
https://ci.appveyor.com/project/damienbod/aspnetmvc6protobufformatters/build/1.0.9

Also tried just $ dotnet test, same result.

[2017-03-08 11:06] damienbod commented on #1368
Also, how can I use the latest dotnet version released yesterday?

[2017-03-08 12:19] Orphis commented on #1179
I'd love to give it a try too @Orphis

[2017-03-08 12:35] kwaazaar commented on #1179
I want to try as well! :-) (@kwaazaar)

[2017-03-08 12:46] aslakhellesoy commented on #1179
If you add @aslakhellesoy I can start building the new Gherkin parser for .NET (used in SpecFlow). Thanks!

[2017-03-08 13:29] ptoonen commented on #1176
Can we get the VS2017 image too? Using account 'simondel'

[2017-03-08 14:03] phnx47 commented on #1179
me too please! (@phnx47)

[2017-03-08 14:16] ptoonen commented on #1367
@Kralizek there's a (closed) issue about it here: https://github.com/appveyor/ci/issues/1176

[2017-03-08 14:17] keslerm commented on #1176
If possible could I also get in on the preview? this github account linked to org 'Park Assist' ?

[2017-03-08 14:26] rsuter commented on #1176
@IlyaFinkelshteyn hi, can you enable VS2017RC/RTM access for the users "rsuter" and "picturepark"? Thank you

[2017-03-08 15:13] haefele commented on #1179
Would be nice if you could add me aswell. :smile:

[2017-03-08 15:43] Kralizek commented on #1179
same here: Kralizek

[2017-03-08 15:44] Kralizek commented on #1367
oh thanks a lot! :)

[2017-03-08 16:16] jakirkham commented on #1365
Awesome. Thanks.

[2017-03-08 17:40] IlyaFinkelshteyn commented on #1179
@leastprivilege @xoofx @IvanAlekseev @Orphis @kwaazaar @aslakhellesoy @phnx47 @haefele @Kralizek  Sorry guys for some delay. Added. Please ping me is I miss somebody.

[2017-03-08 17:48] eamodio commented on #1176
@IlyaFinkelshteyn please add me as well (my github is linked to my appveyor account)

[2017-03-08 17:49] FeodorFitsner opened #1369 "Download logs from Projects page"
Add a button to download logs of the last build directly from the projects list page.

[2017-03-08 17:59] FeodorFitsner commented on #393
well, in [that discussion](http://help.appveyor.com/discussions/questions/1631-windows-uwp-test-support) it was concluded that UWP tests can be only run on Windows 10. All our build worker images are still based on Windows Server. Not sure if something change with VS2017/Win2016 though?

[2017-03-08 18:22] jlnostr commented on #1179
Because Visual Studio 2017 is now in final state, when can normal users see it as worker image? Can this be expected soon or not?

[2017-03-08 18:31] refack commented on #1179
Would love to test it too (quick before it goes RTM ;) )

[2017-03-08 18:31] FeodorFitsner commented on #1179
@jlnostr Working on that. Should be available later this week.

[2017-03-08 18:36] IlyaFinkelshteyn commented on #1179
@refack Added

[2017-03-08 18:37] jlnostr commented on #1179
@FeodorFitsner Nice! Then I'll just wait until the final release :)

[2017-03-08 19:01] IlyaFinkelshteyn commented on #1176
@ptoonen @keslerm @rsuter Added

[2017-03-08 19:02] IlyaFinkelshteyn commented on #1176
@eamodio It is account `ion-interactive`, right? Added

[2017-03-08 19:40] hikalkan commented on #1179
@hikalkan please :)

[2017-03-08 19:48] IlyaFinkelshteyn commented on #1179
@hikalkan Added

[2017-03-08 19:49] hikalkan commented on #1179
thanks a lot :)

[2017-03-08 19:53] IlyaFinkelshteyn opened #1370 "Ability to exclude artifacts in YAML"
**From customer:**
I had been looking for a simple easy way to exclude artifacts in a build (decoratively from the YML file).

So far I tried:

artefacts:
    - path: ‘**\*.nupkg’

But the problem is that it will include all the artifacts in the ‘package’ folder as well… I will love something as simple as declare that in the yml.

[2017-03-08 20:03] IlyaFinkelshteyn opened #1371 "Unresolved environment variables should be empty string for deployment"
Currently they are being resolved to `$(variable_name)`. This is correct behavior during a build (because it resembles how CMD behaves and output is visible), but during deployment `$(variable_name)` is passed to deployment code as variable value, which result in unexpected behavior.

[2017-03-08 21:32] IlyaFinkelshteyn opened #1372 "Scheduled build should not respect any filters"
Builds started with API or UI are "forced", and do not respect any of [commit filters](https://www.appveyor.com/docs/how-to/filtering-commits/), which is expected behavior.

However scheduled builds do respect commit filters, which sometimes is source of confusion. Probably we need to make scheduled builds to behave the same way as API/UI-started ones.

This is still an open question, we need to u

[2017-03-08 22:08] refack opened #1373 "Allow skipping build via Build Worker API"
Maybe remove the `-Name` from being mandatory on `Update-AppveyorTest`
[code]
Or add
[code]

[2017-03-08 22:35] roozbehid-ic commented on #605
Is this implemented?

[2017-03-09 00:01] IlyaFinkelshteyn opened #1374 ""New Deployment" dialog box with configurable environment variables"
Similar to https://github.com/appveyor/ci/issues/1101 but for deployment

[2017-03-09 09:50] scottbrady91 commented on #1176
Yes, please! (RockMan)

[2017-03-09 09:50] leastprivilege commented on #1176
@IlyaFinkelshteyn me too please

[2017-03-09 10:17] neris commented on #1179
Add me too please: @neris

[2017-03-09 11:51] gautema commented on #1179
I'd love to be added as well, @gautema

[2017-03-09 13:24] hpryce commented on #1150
Hi,

Is it possible to enable the image for https://github.com/palantir/docker-compose-rule so we can use it to test compatibility with Windows?

Thanks!

[2017-03-09 13:49] huysentruitw commented on #1179
@IlyaFinkelshteyn can you add 2017 RC for my account: wouter.huysentruit@cognistreamer.com
Would love to test it today.

[2017-03-09 15:04] JustasMasiulis commented on #1179
I would love to have it added to my account too

[2017-03-09 15:16] seburgi commented on #1179
Please add me as well,  appveyor account "Softwarepark"

[2017-03-09 17:16] IlyaFinkelshteyn commented on #1179
@neris @gautema @huysentruitw @JustasMasiulis @seburgi  Added!

[2017-03-09 17:21] RehanSaeed commented on #1179
Is there now a base image with the full VS 2017 RTM version? How do we use that?

[2017-03-09 17:23] FeodorFitsner opened #1375 "Deleting build should delete its NuGet packages from feeds"

[2017-03-09 17:27] IlyaFinkelshteyn commented on #1179
@RehanSaeed We are finalizing it, please give us day or two.

[2017-03-09 17:35] FeodorFitsner opened #1376 "Yarn 0.21.3"

[2017-03-09 17:46] IlyaFinkelshteyn commented on #1150
@hpryce If I understood correctly, AppVeyor account name is `iamdanfox`. Added.

[2017-03-09 17:51] IlyaFinkelshteyn commented on #1176
@scottbrady91 added

[2017-03-09 17:53] IlyaFinkelshteyn commented on #1176
@leastprivilege You were added in [this](https://github.com/appveyor/ci/issues/1179 ) thread. It does not work for you?

[2017-03-09 18:21] petertiedemann commented on #1179
@IlyaFinkelshteyn Any image you have available (RC or RTM test image), i would love to try it out (Account "Configit")

[2017-03-09 18:26] IlyaFinkelshteyn commented on #1179
@petertiedemann RC added fir now. RTM (which will be also Win2016) should be available in a couple of days.

[2017-03-09 20:26] leastprivilege commented on #1176
I think it did - but I only see "Visual Studio 2017 RC" - is that intentional.

I also have issues with this image around package restores.

[2017-03-09 20:33] dburriss commented on #1179
@IlyaFinkelshteyn I would love to try the 2017 RC image. I have a project failing just waiting for an upgrade :)
Account dburriss

[2017-03-09 21:02] serialseb commented on #1375
+100. I sometimes get my build number wrong, that pushes a nuget on the project wrong. I can delete the build, and it doesn't mess the UI anymore, but i'm left with the overhanging nuget package in the project feed. Only alternative I know of is to delete and recreate the project, but then i lose all build history.

[2017-03-09 21:33] JSkimming commented on #1179
@IlyaFinkelshteyn Can you add me to the RC, I have an open source and a paid account.

OS - JSkimming
Paid - mporium

[2017-03-09 21:33] rbeauchamp opened #1377 ".NET Core 1.1.1 with SDK 1.0.1"
Can you please install .NET Core 1.1.1 on the build workers? Or can I install it myself during the build?

Getting this error:

[code]

[2017-03-09 21:37] IlyaFinkelshteyn commented on #1176
@leastprivilege `Visual Studio 2017 RTM` is getting ready now. It will be available in day or two.

What about your problem with package restore, could you please start separate GH issue or [support forum](http://help.appveyor.com) thread?

[2017-03-09 21:42] FeodorFitsner commented on #1377
Also, in case you use default `Visual Studio 2015` image you can install .NET Core 1.1.1 during the build:

[code]

[2017-03-09 21:49] rbeauchamp commented on #1377
Okay, thanks! I'll give that a try.

[2017-03-09 21:59] IlyaFinkelshteyn commented on #1179
@dburriss @JSkimming Added!

[2017-03-09 22:15] ozhelenkov commented on #1377
@FeodorFitsner Feodor, thanks for a workaround. But it will be great to have 1.1.1 preinstalled. We have lots of projects and we will wait in case you have planned to have this updated in a close time.
Otherwise, ofc, we will use workaround.

Could you please advise are there any ETA for this update on your side?

Many thanks in advance!

[2017-03-09 22:16] FeodorFitsner commented on #1377
We are going to roll out VS 2017 image later today which has this SDK installed. That should work for you, right?

[2017-03-09 22:17] rbeauchamp commented on #1377
The install during the build worked. Thanks @FeodorFitsner .

For others who might want to do this, my YAML file was updated to contain:
[code]

[2017-03-09 22:18] ozhelenkov commented on #1377
@FeodorFitsner I believe yes. Thanks!

[2017-03-09 22:49] am11 opened #1378 "Evaluate variables value in matrix/env vars"
In appveyor.yml:

[code]

does not evaluate the variable `$env:APPVEYOR_BUILD_FOLDER` or `$APPVEYOR_BUILD_FOLDER`. Instead, we need to update it manually:

[code]

In contrast, `.travis.yml` allows this:

[code]

Would be nice to have this ability.

[2017-03-10 00:36] FeodorFitsner commented on #1377
The new `Visual Studio 2017` build worker image is now available. Currently, it's being run on Google Compute Engine (GCE) environment only, so builds will be starting in 3-4 minutes (time required to provision and boot up build VM). The image will be available on Hyper-V environment later this week.

[2017-03-10 00:38] FeodorFitsner commented on #1179
The new `Visual Studio 2017` build worker image is now available. It has Visual Studio Community 2017 RTM installed on Windows Server 2016 with Docker and base Docker images.

Currently, the image is being run on Google Compute Engine (GCE) environment only, so builds will be starting in 3-4 minutes (time required to provision and boot up build VM). The image will be available on Hyper-V environme

[2017-03-10 00:47] IlyaFinkelshteyn commented on #1150
The new Visual Studio 2017 build worker image is now available. It has Visual Studio Community 2017 RTM installed on Windows Server 2016 with Docker and base Docker images.

Currently, the image is being run on Google Compute Engine (GCE) environment only, so builds will be starting in 3-4 minutes (time required to provision and boot up build VM). The image will be available on Hyper-V environment

[2017-03-10 01:08] JSkimming commented on #1179
@FeodorFitsner I went straight to RTM, and my first attempt didn't go well See [here](https://ci.appveyor.com/project/JSkimming/castle-core-asyncinterceptor/build/1.2.1-wcmssucb)

It's failing on `NuGet restore` when the error:

[code]

I suspect this is because it's using the NuGet 3.5, whereas it needs to use 4.0. See https://dist.nuget.org/

[2017-03-10 01:20] FeodorFitsner commented on #1179
@JSkimming Good catch! Can you try adding this to your build and try again:

[code]

Let me know how that works and we'll update the images.

[2017-03-10 01:53] IlyaFinkelshteyn commented on #1378
`appveyor.yml` syntax is not exactly the same as `.travis.yml`. It does not have `global` tag and environment variable notation is different. Any of the following will work:

Msbuild style:
[code]

CMD style:
[code]

Bash style:
[code]

[2017-03-10 01:53] #1378 closed

[2017-03-10 01:57] flanza commented on #325
really looking forward to it!

[2017-03-10 03:05] onovotny commented on #1179
@FeodorFitsner Seems like you're missing the UWP SDK on the image...can you please verify the Xamarin and UWP workloads are fully installed?
https://ci.appveyor.com/project/onovotny/zeroconf/build/2.9.0-alpha.63.build.176

That fails on the RTM image but passed on the RC image.

[2017-03-10 03:10] FeodorFitsner commented on #1179
Well, actually, everything you listed should be installed. You may want to log via RDP and see what's  missing.

[2017-03-10 03:10] onovotny commented on #1179
@FeodorFitsner updated -- it's missing VS 2015 and all of the Win8/WinPhone/SL5 tools

[2017-03-10 03:13] FeodorFitsner commented on #1179
Yes, it's "pure" Win 2016 + Docker + VS 2017 image - no more previous VS versions installed. Use `Visual Studio 2015` image for VS 2015/2013 stuff. Having *all* VS versions on a single image is a huge maintenance hassle.

[2017-03-10 03:14] onovotny commented on #1179
@FeodorFitsner Really can't do that....that's a showstopper. We need to use VS 2017 with the new SDK-style builds but also target platforms that are "older." We *must* have an image with VS 2015 and 2017 on it or I simply cannot build.

[2017-03-10 03:14] onovotny commented on #1179
At least keep N & N-1 on the same image -- so 2017 and 2015, dropping 2013 perhaps?

[2017-03-10 03:16] FeodorFitsner commented on #1179
You can do a build matrix then for both VS 2015 and VS 2017 images?

[2017-03-10 03:17] FeodorFitsner commented on #1179
What SDKs VS 2015 has that VS 2017 doesn't?

[2017-03-10 03:18] onovotny commented on #1179
I'm using the package I blogged about and distributed here:
https://github.com/onovotny/msbuildSdkExtras

VS 2015 includes support for Win8/8.1, Windows Phone 8/8.1, Windows Phone App 8.1 and Silverlight 5.

VS 2017 is Windows 10+, no downlevel support.

[2017-03-10 03:19] FeodorFitsner commented on #1179
You can do a build matrix then, no?

[2017-03-10 03:19] onovotny commented on #1179
no, this is all within a single project with multi-targeting.

[2017-03-10 03:20] onovotny commented on #1179
Here's an example: https://github.com/onovotny/Zeroconf/blob/dev/Zeroconf/Zeroconf.csproj

It builds all frameworks and then generates a NuGet package with them in the correct folder.

[2017-03-10 03:29] FeodorFitsner commented on #1179
Maybe we can just install missing SDKs? Or they can't live without VS 2015?

[2017-03-10 03:40] onovotny commented on #1179
They need the targets that come with 2015….

At least a General N + N-1 version of VS is in line with what Microsoft supports…

From: Feodor Fitsner
Sent: Thursday, March 9, 2017 10:29 PM
To: appveyor/ci
Cc: Oren Novotny; Comment
Subject: Re: [appveyor/ci] Visual Studio 2017 RC (#1179)

Maybe we can just install missing SDKs? Or they can't live without VS 2015?
—
You are receiving this because you

[2017-03-10 03:43] FeodorFitsner commented on #1179
What would be needed from VS 2015 installation particularly? Definitely, we don't need Xamarin and other things present in VS 2017, right?

[2017-03-10 03:50] FeodorFitsner commented on #1179
This multi-targeting project https://github.com/onovotny/Zeroconf/blob/dev/Zeroconf/Zeroconf.csproj - you are going to build it with VS 2017 and it will pick up Windows Phone SDK 8.1 installed with VS 2015? Could you please elaborate on how it works?

[2017-03-10 03:52] onovotny commented on #1179
For this purpose, no Xamarin…. Those targets come from VS. I can’t speak for C/C++, but for .NET, I'd say the languages, c#, vb, fsharp. Then, the main .net tooling for asp.net, the Silverlight 5 SDK and any available tooling for Windows, Windows Phone (all platforms).

None of the 2015 things need to be on the path, 2017 is enough for that.

From: Feodor Fitsner
Sent: Thursday, March 9, 2017 10:4

[2017-03-10 03:56] onovotny commented on #1179
Sure - the short version is here: https://github.com/onovotny/MSBuildSdkExtras. I have a NuGet package that adds the meta-data (properties, pointers to targets files, etc) that the build pipeline uses.

The longer explanation is here: https://oren.codes/2017/01/04/multi-targeting-the-world-a-single-project-to-rule-them-all/

The summary is that there's a `LanguageTargets` where you can specify a c

[2017-03-10 04:10] FeodorFitsner commented on #1179
@onovotny - can you tell me your AppVeyor account name please? I'll add a custom image with VS 2017 + VS 2015 to it, so we can test your scenario.

[2017-03-10 04:16] onovotny commented on #1179
It's onovotny. Very appreciative of your efforts here! 😀

Sent from my Windows 10 phone

From: Feodor Fitsner
Sent: Thursday, March 9, 2017 11:10 PM
To: appveyor/ci
Cc: Oren Novotny; Mention
Subject: Re: [appveyor/ci] Visual Studio 2017 RC (#1179)

@onovotny - can you tell me your AppVeyor account name please? I'll add a custom image with VS 2017 + VS 2015 to it, so we can test your scenario.
—
Yo

[2017-03-10 05:22] Cisien opened #1379 "VS 2017 RTM build failure"
I'm attempting to build a dotnet core 1.1.1 application and getting a failure that appears to be related to not running the nuget restore msbuild tasks.

Project: https://github.com/Cisien/OniBot/
Build: https://ci.appveyor.com/project/Cisien/onibot

Output:
C:\Program Files (x86)\Microsoft Visual Studio\2017\Community\MSBuild\Sdks\Microsoft.NET.Sdk\build\Microsoft.PackageDependencyResolution.targ

[2017-03-10 05:24] FeodorFitsner commented on #1379
Add this to your `appveyor.yml`:

[code]

[2017-03-10 05:39] Cisien commented on #1379
Thanks, that got me past the nuget erors. I'm now having an issue building the docker project (.dcproj)

[2017-03-10 05:40] Cisien commented on #1379
Thanks, that got me past the nuget erors. I'm now having an issue building the docker project (.dcproj)
C:\Program Files (x86)\Microsoft Visual Studio\2017\Community\MSBuild\Microsoft\VisualStudio\v15.0\Docker\Microsoft.VisualStudio.Docker.Compose.targets(153,5): error MSB4018: Microsoft.DotNet.Docker.CommandLineClientException: Unable to run 'docker-compose'. Verify that Docker for Windows is ins

[2017-03-10 05:48] FeodorFitsner commented on #1379
@Cisien yes, it does have Docker installed, but I'm not sure `docker-compose` is installed. What's the correct download location for `docker-compose`?

[2017-03-10 05:52] Cisien commented on #1379
it appears to come with the Docker for Windows installer

[2017-03-10 05:52] Cisien commented on #1379
it appears to come with the Docker for Windows installer
https://docs.docker.com/docker-for-windows/install/

[2017-03-10 05:53] FeodorFitsner commented on #1379
@Cisien OK, try adding the following to your `appveyor.yml`:

[code]

[2017-03-10 05:55] FeodorFitsner commented on #1179
@onovotny added temporary `Visual Studio 2017 and 2015` image under `onovotny` account which has both VS 2017 and VS 2015 (in minimal config) installed. Let me know how it worked.

[2017-03-10 06:02] Cisien commented on #1379
The build is passing! Thanks for the prompt assistance!

Things I still have left to figure out -- posting here in case the answer is known by someone.
- How do I switch Docker into "Windows" mode (I'm building a Windows container)
- How do I push to docker.io (I'm fairly sure this will involve me issuing a docker login command, and a docker push command).

[2017-03-10 06:10] StefanScherer commented on #1150
@IlyaFinkelshteyn Awesome!
So all the private beta testers just have to change `image: Windows Server 2016` into `image: Visual Studio 2017`. That's easy.

[2017-03-10 06:11] FeodorFitsner commented on #1150
yep!

[2017-03-10 06:19] FeodorFitsner commented on #1379
This article could help: https://stefanscherer.github.io/setup-windows-docker-ci-appveyor/

[2017-03-10 06:25] Cisien commented on #1379
That post will help out a lot, however, it is lacking the one piece of information I haven't been able to find. I need to switch Docker over to Windows Container mode. Everything I've found so far requires me to interact with the icon in the system tray https://puu.sh/uCgVB/44e0503c90.png

[2017-03-10 06:29] FeodorFitsner commented on #1379
It's already running in Windows Container mode. `Visual Studio 2017` image is based on Windows Server 2016 OS and Docker installed on it works with Windows Containers.

You're probably talking about "Docker for Windows" which is a separate product. Docker for Windows configures a new Hyper-V VM with Linux and Docker installed on it.

[2017-03-10 06:31] seburgi commented on #1179
I am running the new Visual Studio 2017 image and after the build I want to access a remote Mongo database on mlab.com. With the 2015 image this worked without a problem but with the new image I get the following error:

`NEventStore.Persistence.StorageUnavailableException: Unable to connect to server xxx.mongolab.com:xxx: A connection attempt failed because the connected party did not properly re

[2017-03-10 06:33] Cisien commented on #1379
I see. I was getting confused by a tag I saw in the build output. It turns out the tag was sourced by the stock docker-compose template
[code]

[2017-03-10 06:33] #1379 closed

[2017-03-10 06:34] FeodorFitsner commented on #1179
Could it be a firewall on your side? Make sure these IPs are allowed: https://www.appveyor.com/docs/build-configuration/#ip-addresses

[2017-03-10 06:42] seburgi commented on #1179
I don't think so, this db is running on the free plan of mlab, which means it does not support firewall rules. I am also able to connect to the db from my local machine, which does not have a static IP. I will login to the server with RDP and try to find out more.

[2017-03-10 07:09] seburgi commented on #1179
I tried a different db on mlab and this one is working. So it seems it's an mlab problem after all. Could you help me with some context info for the mlab support request. Can you confirm that the new Server 2016 image is running on GCE? Which region is it running in? Thanks for all your hard work by the way! :-)

[2017-03-10 07:13] am11 commented on #1378
Thanks a lot @IlyaFinkelshteyn! I missed the parens after `$` sign: `$()`, it works yay! 😎

[2017-03-10 08:00] JSkimming commented on #1179
@FeodorFitsner The assembly resolution issues with NuGet are now solved with the addition of

[code]

But now `NuGet restore` is taking ages, with lots of timeouts making requests the build NuGet service https://ci.appveyor.com/nuget/jskimming-9rbnsjufcouq

See this build
https://ci.appveyor.com/project/JSkimming/castle-core-asyncinterceptor/build/1.2.1-riuhpmfe

The build eventually fails.

[2017-03-10 08:04] FeodorFitsner commented on #1179
Remove this line from your `appveyor.yml`: https://github.com/JSkimming/Castle.Core.AsyncInterceptor/blob/3d77f86a4ac385af3e3e66a309ca040648b4b295/appveyor.yml#L34

[2017-03-10 08:20] jrobeson opened #1380 "support postgres 9.6"
I see postgres 9.6 isn't yet added to the build workers according to the service list.

[2017-03-10 08:55] discosultan opened #1381 ".NET Standard class library fails to build (VS 2017 image)"
I have a solution with mixed .NET Standard (1.3) and .NET Framework (4.6.1) class libraries. I have created a new AppVeyor project directly from [GitHub project](https://github.com/discosultan/VulkanCore) and simply changed the environment worker build image from VS 2015 to VS 2017. I wonder if I'm missing something here ...

The build failure starts with:

[code]

Running `msbuild` on the solutio

[2017-03-10 09:52] csmager commented on #1179
Is there a list of what's installed? I've just tried moving one of my WPF projects and (vs. the VS 2015 image) I seem to be missing WiX (there's a [3.11 RC and VSIX extension](http://wixtoolset.org/releases/) required for VS 2017) and the Blend SDK (I get errors that seem to imply System.Windows.Interactivity.dll is missing)

[2017-03-10 09:53] roji commented on #1179
Confirm that WiX 3.11RC is required for VS2017

[2017-03-10 10:29] leastprivilege opened #1382 "Problems running XUnit on VS 2017 RC Image"
I get the following error

[code]

We are using Cake and XUnit 2.2

https://ci.appveyor.com/project/leastprivilege/identityserver4/build/1.0.806#L352

[2017-03-10 11:33] roji opened #1383 "PostgreSQL not available?"
Trying to use PostgreSQL (include `postgresql` in services) in the VS2017 image seems to fail:

[code]

Note sure if this is related to the new image or to something else. #615 seems to describe some sort of workaround but the state of things isn't very clear.

[2017-03-10 12:11] flanza commented on #325
Is there some pespective of getting this feature released? It would be really usefull for all the comunity.

[2017-03-10 13:00] onovotny commented on #1179
@FeodorFitsner That image worked like a charm! https://ci.appveyor.com/project/onovotny/zeroconf/build/2.9.0-alpha.64.build.177

[2017-03-10 15:26] csmager commented on #1375
@serialseb You can [delete a package from the command line](http://help.appveyor.com/discussions/questions/603-delete-nuget-package-from-account-feed).

[2017-03-10 18:00] FeodorFitsner commented on #1179
@seburgi it's GCE Central US region.

[2017-03-10 18:04] FeodorFitsner opened #1384 "Make "New project" UI more friendly"
Discussion: https://twitter.com/casperOne/status/840206133059018752

[2017-03-10 18:07] FeodorFitsner opened #1385 "PostrgeSQL 9.6"

[2017-03-10 18:15] IlyaFinkelshteyn commented on #1381
Try to run `nuget restore` as **before build** or **install** script

[2017-03-10 18:38] ThirteenAG opened #1386 "[VS2017] Cannot open include file: d3dx9shader.h"
Project: [d3d8to9](https://github.com/crosire/d3d8to9)

[Build worker image: Visual Studio 2015:](https://ci.appveyor.com/project/ThirteenAG/d3d8to9/build/1.0.1)

[code]

[Build worker image: Visual Studio 2017:](https://ci.appveyor.com/project/ThirteenAG/d3d8to9/build/1.0.2)

[code]

[2017-03-10 20:22] FeodorFitsner commented on #1380
Will deploy it during the next images update. I'm closing this issue in favor of https://github.com/appveyor/ci/issues/1385

[2017-03-10 20:22] #1380 closed

[2017-03-10 20:48] FeodorFitsner commented on #1386
What SDK is `d3dx9shader.h` part of?

[2017-03-10 20:51] ThirteenAG commented on #1386
Pretty sure this one has it: https://www.microsoft.com/en-us/download/details.aspx?id=6812
Version: 9.29.1962
File Name: DXSDK_Jun10.exe

[2017-03-10 20:58] FeodorFitsner commented on #1386
What's the main reason you are trying to build your solution on `Visual Studio 2017` image? We'd like to keep as minimum software on VS 2017 as possible. The existing VS 2015 image won't go anywhere soon and you can still build on it.

[2017-03-10 21:04] ThirteenAG commented on #1386
Well, I didn't expect anything to be different on 2017 image, so I thought it's something worth mentioning.
Would still be pretty cool to include this legacy sdk to it just in case, unless it's interfering with other things

[2017-03-10 22:18] discosultan commented on #1381
@IlyaFinkelshteyn That makes sense, thanks!

I'm now stuck at a next error:

[code]

[2017-03-11 00:38] FeodorFitsner commented on #1179
`Visual Studio 2017` image has been updated:

* Visual Studio Community 2015 with Update 3 installed
* WiX 3.11 RC
* PostgreSQL 9.5
* MySQL 5.7
* MongoDB 3.5
* docker-composer

[2017-03-11 00:41] onovotny commented on #1179
@FeodorFitsner Thank you so much!!!! Are you going to be at BUILD in May? I owe you a 🍺

[2017-03-11 00:42] FeodorFitsner commented on #1383
PostgreSQL 9.5 has been installed on `Visual Studio 2017` image.

[2017-03-11 00:42] #1383 closed

[2017-03-11 00:45] fabiocav commented on #1179
@FeodorFitsner thank you for the hard work on this! Moving things over to take advantage of what you've done right now.

[2017-03-11 00:48] FeodorFitsner commented on #1179
@onovotny I'd love to, but we are so busy right now with so many things :)

[2017-03-11 01:07] FeodorFitsner commented on #1381
How do you currently build the solution from command line? I've logged into a build worker via RDP and was able to build the solution from VS 2017 IDE. But I couldn't built it from a command line.

[2017-03-11 03:41] IlyaFinkelshteyn opened #1387 "Expose MaxErrorRetry in S3 provider setting"
Altering [MaxErrorRetry](http://docs.aws.amazon.com/sdkfornet1/latest/apidocs/html/P_Amazon_S3_AmazonS3Config_MaxErrorRetry.htm) should help with [this](http://help.appveyor.com/discussions/problems/6239-spurious-failures-uploading-to-s3) issue.
Amazon [doc](http://docs.aws.amazon.com/sdk-for-net/v2/developer-guide/retries-timeouts.html).

[2017-03-11 03:52] FeodorFitsner commented on #1179
We've updated the page with pre-installed software: https://www.appveyor.com/docs/build-environment/#pre-installed-software

[2017-03-11 08:35] csmager commented on #1179
@FeodorFitsner thanks! I'm still hitting issues with WiX:

Did you also install the VSIX extension into VS 2017?

[2017-03-11 09:16] discosultan commented on #1381
@FeodorFitsner Thanks for your time! Indeed, `msbuild` only worked for me because I did not do a clean install - I had intermediary files already populated through an IDE build.

I still haven't figured out the reason of failure, though. I managed to build the solution from cmd line by building with `devenv` **twice** (first build fails with a similar error as `msbuild`). I'll keep investigating .

[2017-03-11 13:02] eliaskosunen commented on #1284
What is the current state of this issue?

[2017-03-11 15:26] kzu commented on #1179
You can just switch to using the WiX nuget package...

On Sat, Mar 11, 2017, 5:35 AM Charles Mager <notifications@github.com>
wrote:

--

--
/kzu from mobile

[2017-03-11 15:38] serialseb commented on #1375
@cmager thanks for the pointer. As you can see from above, I was referring to the package feed, not the account one, and the comand line doesn't help for that one. Deleting a build should delete the associated package in the project feed, and maybe from the account feed too.

[2017-03-11 15:54] Chocobo1 opened #1388 "[Request] NSIS preinstall on vs2017 image"
Thank you in advance!

[2017-03-11 16:31] csmager commented on #1179
@kzu I didn't know that existed. I see you're the owner. Will give it a look.

[2017-03-11 17:46] csmager commented on #1375
@serialseb ah, oops! I hadn't even appreciated there were two feeds, I'd only used my account feed (and had deleted a build from that). If it's not possible to delete off the project feed, then I agree with your comments.

[2017-03-11 23:18] kzu commented on #1179
I'm just redistributing in a convenient way the binaries, that's all. I did for this same reason, avoiding requirements on CI bots

[2017-03-12 02:49] FeodorFitsner commented on #1179
All right, WiX extension for VS 2017 was missing. It should be fine now.

[2017-03-12 02:49] FeodorFitsner commented on #1388
Installed.

[2017-03-12 02:49] #1388 closed

[2017-03-12 04:26] ifarbod opened #1389 "Getting TRK0005 msbuild error after migrating to VS2017"
I'm getting a bunch of errors after migrating from beta-testing VS2017 RC image to the upstream VS2017 one, it was fine before.

[code]

https://ci.appveyor.com/project/ctnorth/ctnorth/build/71

Same configuration on VS 2017 RC:
https://ci.appveyor.com/project/ctnorth/ctnorth/build/68

I just changed the `image` key's value in the `appveyor.yml` file, That's all.
From `image: Visual Studio 2017 RC

[2017-03-12 04:47] FeodorFitsner commented on #1389
What VC version does the project rely on? VS 2017 RTM image doesn't have VS 2008, 2010 and 2013 installed.

[2017-03-12 04:57] ifarbod commented on #1389
@FeodorFitsner It relied on VS 2017 RC, previously, I migrated it to VS 2017 RTM recently, compiles and works fine on my end.

[2017-03-12 05:21] ifarbod commented on #1389
Working fine again, Had to change the toolset. Thanks.

[2017-03-12 05:21] #1389 closed

[2017-03-12 07:17] litichevskiydv commented on #1179
@FeodorFitsner, I have just tried new Visual Studio 2017 image (https://ci.appveyor.com/project/litichevskiydv/tipsandtricks/build/1.0.21) and in TESTS tab I see "The build job has not produced any test results", but in CONSOLE I see "Total tests: 88. Passed: 88...". Previously everything worked fine (https://ci.appveyor.com/project/litichevskiydv/tipsandtricks/build/1.0.6). Please, help.

[2017-03-12 12:02] discosultan commented on #1381
I haven't found a solution yet, but I'll close the issue as it has nothing to do with AppVeyor. I'll update the post if I find anything useful.

[2017-03-12 12:02] #1381 closed

[2017-03-12 14:43] mirh commented on #1386
DirectX SDK is an evergreen package tbh.
Or at least insofar as <8 Windows are still a thing.

[2017-03-12 15:38] #1367 closed

[2017-03-12 15:38] Kralizek commented on #1367
I closed the issue since the `Visual Studio 2017` image is already available

[2017-03-12 15:54] jagerman commented on #386
The workaround, quite frankly, sucks.  It still starts up a VM just to run `exit 1`, but more importantly it leads to a build status with a bunch of "errors" on it (which are really skipped jobs, not errors), with no good way to distinguish actual errors from skipped jobs other than viewing the job for each and every one.

It's not even like this is a major feature request: it could be implemented

[2017-03-12 16:03] roji opened #1390 "Provide padded build number for nuget"
Nuget sorts prerelease tags lexicographically, so `MyPackage-ci-2` is considered more recent than `MyPackage-ci-12`. Because of this, it seems to be standard practice to zero-pad: `MyPackage-ci-00002`.

Appveyor provides `$(build)` and `APPVEYOR_BUILD_NUMBER`, it would be very useful to also have a padded version of these, for passing to `dotnet pack --version-suffix`.

[2017-03-12 16:25] roji opened #1391 "Building a VSIX project is long because of first-time VS setup"
When running msbuild in a simple VSIX project, the build gets stuck for quite a long time on the following message:

[code]

I'm not sure exactly what's going on, but there's obviously some one-time step that VS performs. It seems that if this could be done in the image, lots of time could be saved for anyone building VS extensions.

[2017-03-12 17:21] bhagvan commented on #1179
@FeodorFitsner can you please add a custom image with VS 2017 + VS 2015 to my account please

[2017-03-12 17:52] csmager commented on #1179
@bhagvan both are installed in the Visual Studio 2017 image - see [this comment](#issuecomment-285822974) and [the list of pre-installed software](https://www.appveyor.com/docs/build-environment/#pre-installed-software) for more detail of what's on each VM.

[2017-03-12 17:54] roji commented on #1179
@FeodorFitsner confirm successful MSI build with Wix 3.11 RC, thanks for the superb reactivity!

[2017-03-12 21:22] bhagvan commented on #1179
@csmager  thanks for the quick response ... i will look into my build scripts

[2017-03-12 22:49] FeodorFitsner commented on #1390
You can simply add to your `appveyor.yml`:

[code]

Then use `padded_build_number` environment variable in `dotnet pack` command.

[2017-03-12 22:49] #1390 closed

[2017-03-12 22:51] FeodorFitsner commented on #1391
Can you put a simple project building VSIX into public repository. We can use it as "warm up" app then.

[2017-03-13 05:20] roji commented on #1390
@FeodorFitsner thanks for the Powershell trick (it's much better than the cmd workaround I had in place).

Since anyone publishing nugets as part of their continuous integration needs to do this, it seems to make sense to have it in appveyor rather than repeating this same snippet - but I understand wanting to keep things simple on your side.

[2017-03-13 05:36] roji commented on #1390
FYI your snippet failed: `Cannot find an overload for "ToString" and the argument count: "1"`.

However, the following works: `ps: $env:padded_build_number = $env:appveyor_build_number.PadLeft(5, '0')`

[2017-03-13 07:51] leastprivilege commented on #1382
this is resolved with the RTM image.

[2017-03-13 07:51] #1382 closed

[2017-03-13 10:43] thehoneymad commented on #1176
Can I kindly have access to the Visual Studio 2017 compatible images. Failing to build https://ci.appveyor.com/project/thehoneymad/nerdcats-jsonschemadefaults

[2017-03-13 13:25] jbogard commented on #1179
@FeodorFitsner does the VS 2017 image have any version of SQL Server installed? Even LocalDB would work.

[2017-03-13 13:28] JSkimming commented on #1179
@jbogard I believe it does, we use the Azure storage emulator, when it starts I noticed it logs the following:

[code]

[2017-03-13 16:37] FeodorFitsner commented on #1390
Good catch! This is because `appveyor_build_number` is a string.

This works too:

[code]

[2017-03-13 17:23] FeodorFitsner commented on #1176
@thehoneymad just use `Visual Studio 2017` image.

[2017-03-13 19:57] FeodorFitsner opened #1393 "LLVM 4.0"

[2017-03-13 20:04] FeodorFitsner commented on #1284
I guess it should done for LLVM 4.0 now, right?

[2017-03-13 20:15] FeodorFitsner commented on #1284
All right, I gave it a shot and it failed on running CMake step.

I will appreciate if you could hop into AppVeyor build worker VM [via RDP](https://www.appveyor.com/docs/how-to/rdp-to-build-worker/) and do all the required steps to build LLVM. I'd then follow the steps that actually work. Thank you.

[2017-03-13 20:30] #1361 closed

[2017-03-13 20:40] IlyaFinkelshteyn commented on #1354
Fix is deployed now

[2017-03-13 20:40] #1354 closed

[2017-03-13 21:21] eliaskosunen commented on #1284
@FeodorFitsner It seems like the configuration fails on VS 15 (2017) due to a missing assembler. I assume this is an issue with LLVM. Nevertheless, I got it to build properly by using VS 14. The default CMake options seem to be fine.

[2017-03-13 21:27] FeodorFitsner commented on #1284
I tried building it with VS 2015 and it failed. Could you please give me exact commands that work and I can follow?

[2017-03-13 21:32] eliaskosunen commented on #1284
That's really strange. I simply downloaded the source in the folder `C:\Users\appveyor\Downloads`, extracted it, created a subdirectory named `build` in it and ran `cmake -G "Visual Studio 14 2015" ..". It generated the project files properly. I ran the build for about 10 minutes and it gave me no errors.

Do you happen to have spaces in the build/download path? That could make the configuration s

[2017-03-13 22:45] IlyaFinkelshteyn opened #1394 "APPVEYOR_CACHE_SKIP_RESTORE and APPVEYOR_CACHE_SKIP_SAVE environment variables"
Those variables will be "tweak" variables, which means that is they are not set they do not affect build process. If set to `true`, respective cache step skipped.

[2017-03-13 23:43] #753 closed

[2017-03-13 23:43] FeodorFitsner opened #1395 "Mercurial 4.1.1"

[2017-03-14 00:44] FeodorFitsner commented on #1284
Yep, the command worked. Building in VS now. Thank you!

[2017-03-14 02:59] FeodorFitsner commented on #1284
Well, it took 1h+ to build llvm.sln in VS 2015 IDE but at the end I've got this error:

[code]

Nothing has generated in `CMAKE_INSTALL_PREFIX` directory. I used the following CMake command to specify directory:

    C:\Users\appveyor\Downloads\llvm-4.0.0.src\build>cmake -G "Visual Studio 14 2015" -DCMAKE_INSTALL_PREFIX=c:\C:\Users\appveyor\Downloads\llvm-4.0.0.build ..
[code]

[2017-03-14 06:40] eliaskosunen commented on #1284
It looks like the installation step failed. I'll make sure to try finding out what's wrong when I get home from school.

[2017-03-14 14:02] jaredcnance opened #1396 "Couldn't find 'project.json' using VS 2017"
I'm using the new Visual Studio 2017 image, but when running the following scripts:

[code]

I get the following output. Notice the output of `dotnet --version` is 1.0.0-preview2-1-003177

[code]

[2017-03-14 14:10] jaredcnance commented on #1396
Turns out I incorrectly assumed I could set the OS using the web tool, when in fact I just needed to add the following line to the `appveyor.yml` file
[code]

[2017-03-14 14:10] #1396 closed

[2017-03-14 14:25] eliaskosunen commented on #1284
That's not a valid path. The error you got usually means that CMake can't write in a directory. Fix the installation path and run VS as administrator just for good measure.

[2017-03-14 17:47] FeodorFitsner commented on #1284
Good catch! Trying correct command now:

    C:\Users\appveyor\Downloads\llvm-4.0.0.src\build>cmake -G "Visual Studio 14 2015" -DCMAKE_INSTALL_PREFIX=C:\Users\appveyor\Downloads\llvm-4.0.0.build ..

[2017-03-14 18:46] FeodorFitsner commented on #1179
All - thank you very much for your efforts in testing `Visual Studio 2017 RC` image. I'd like to inform you that we are going to discontinue `Visual Studio 2017 RC` image starting next week (March 20).

Please switch to `Visual Studio 2017` image if not already.

[2017-03-14 21:14] IlyaFinkelshteyn opened #1397 "Add parameter PR to the last successful build artifact permalink"
https://www.appveyor.com/docs/packaging-artifacts/#permalink-to-the-last-successful-build-artifact

[2017-03-15 04:16] FeodorFitsner commented on #1284
I've been able to build everything and put into this archive: https://storage.googleapis.com/appveyor-download-cache/llvm/llvm-4.0.0.build.7z

Can you please check its contents to see everything is OK before we deploy it to build workers?

[2017-03-15 08:43] seburgi commented on #1179
Currently I am not able to RDP into machines running on the new 2017 image. I tried 2015 machines and there it works. Can somebody confirm this behavior?

[2017-03-15 09:53] onqtam commented on #1179
Previously I could do builds with VS 2008/2010/2012/2013/2015 all at the same time.

Now I want to incorporate 2017 as well. To do that I need to set the image to ```Visual Studio 2017``` but then the builds for 2008/2010/2012... all fail because the newest image doesn't have all those previous VS versions.

I tried adding ```image``` to the build matrix like this:

[code]

but it doesn't seem to

[2017-03-15 10:06] micbou commented on #1179
@onqtam You need to set the `APPVEYOR_BUILD_WORKER_IMAGE` environment variable:
[code]

[2017-03-15 10:08] onqtam commented on #1179
@micbou omg Thanks! just tested it and it worked!

[2017-03-15 14:29] eliaskosunen commented on #1284
Looks alright to me.

Since this build also includes the LLVM 4.0 binaries, I guess it would solve #1393 as well.

[2017-03-15 16:17] FeodorFitsner commented on #1284
OK, thanks. I'm not sure if this is an important component, but LLVM installer from http://releases.llvm.org/download.html page has some integration with Visual Studio through .props and .targets files.

[2017-03-15 17:35] mloskot commented on #1076
Any updates on this request?

[2017-03-15 17:38] FeodorFitsner commented on #1076
Haven't looked into this yet, sorry.

Could you guys please provide complete installation instruction that we can use (and you'll be OK with) to deploy VSPKG to build workers.

[2017-03-15 18:31] IlyaFinkelshteyn commented on #1373
[Another similar request](http://stackoverflow.com/questions/42810213/how-to-quit-script-prematurely-on-purpose-on-appveyor)

[2017-03-15 19:04] mloskot commented on #1076
I'm `vcpkg` newbie myself, but general installation is straight forward:

[code]

For AppVeyor use case, I guess, there are issues to be solved:
* Prerequisities: VS2015 Update 3 or VS2017 and CMake 3.8.0 or higher
* Working copy would have to be offloaded somewhere and scheduled updated configured, that is to pull updates of ports, new packages.
* `vcpkg` would have to be put in `PATH` or known l

[2017-03-15 20:19] IlyaFinkelshteyn opened #1398 "Introduce environment variable to display current build worker image"

[2017-03-15 20:28] eliaskosunen commented on #1284
Since I don't use Visual Studio myself I don't know, but I'd assume the installer might be useful for some people.

[2017-03-16 01:49] FeodorFitsner opened #1399 "Git LFS 2.0.1"

[2017-03-16 01:58] FeodorFitsner opened #1400 "Subversion 1.8.17"

[2017-03-16 02:44] IlyaFinkelshteyn opened #1401 "Inconsistent results for xunit .net core runner"
http://help.appveyor.com/discussions/problems/6117-some-unit-tests-are-skippednot-finished
https://github.com/onovotny/xUnitTestProject1-Test
https://ci.appveyor.com/project/onovotny/xunittestproject1-test/build/tests
https://ci.appveyor.com/project/ViktorHofer/prism/build/1.0.22

[2017-03-16 04:11] FeodorFitsner commented on #1350
https://github.com/larskanis/rubyinstaller2/issues/24

[2017-03-16 04:21] FeodorFitsner opened #1402 "Inconclusive NUnit 3 tests generate errors in a build log"
Discussion: http://help.appveyor.com/discussions/suggestions/128-inconclusive-tests-currently-show-up-as-errors
Test results: https://ci.appveyor.com/project/RomanBaeriswyl/flaui/build/484

[2017-03-16 05:02] FeodorFitsner opened #1403 "Erlang OTP runtime 19.3 x64"

[2017-03-16 08:05] larskanis commented on #1350
While I really appreciate a pre-installed RubyInstaller-2.4 on appveyor, please note, that the rubyinstaller2 is still beta. I hope to have a release quality when ruby-2.4.1 comes out, but I wouldn't recommend to install it now. There are still some significant changes in the pipeline. Please wait for an official release.

[2017-03-16 13:53] eliaskosunen commented on #1284
[From here](http://releases.llvm.org/4.0.0/docs/ReleaseNotes.html#non-comprehensive-list-of-changes-in-this-release). The label `VS 2013` should probably be removed.

[2017-03-16 17:14] FeodorFitsner commented on #1350
That makes sense, thanks for commenting on that.

[2017-03-16 18:11] FeodorFitsner commented on #1284
That label is for kinda "internal" use - means "deployed to VS 2013 image".

[2017-03-17 00:20] IlyaFinkelshteyn opened #1404 "1st class support for `dotnet` tooling"
AppVeyor support classic .NET projects out of the box. However new .NET Core and ASP.NET Core projects require some scripting to build, package, test and publish on AppVeyor.

For now settings like 'Package Web Applications for Web Deploy', 'Package NuGet projects' or tests auto-detection are misleading for .NET/ASP.NET Core projects

Main issues (to be continued)

- detect nuget projects and run

[2017-03-17 05:39] IlyaFinkelshteyn opened #1405 "`echo %var_name%` failed if %var_name% contains an ampersand"
[Discussion](http://help.appveyor.com/discussions/problems/6272-echo-appveyor_repo_commit_message_extended-failure-with)

[2017-03-17 18:11] IlyaFinkelshteyn opened #1406 "1st class support for agent deployment scenario for server farm behind NLB"
[Discussion](http://help.appveyor.com/discussions/questions/3450-automatic-deployment-to-a-load-balanced-environment)

[2017-03-17 18:33] FeodorFitsner opened #1407 "Microsoft Azure Service Fabric SDK 2.4.164"
If there are issues during the installation of Service Fabric Runtime download URLs to separate installers can be found in release notes:
https://blogs.msdn.microsoft.com/azureservicefabric/2016/12/15/release-of-sdk-2-4-145-and-runtime-5-4-145-for-windows/
https://servicefabricsdkstorage.blob.core.windows.net/public-release-notes/Microsoft%20Azure%20Service%20Fabric%20Release%20Notes%20-%20SDK%202

[2017-03-17 18:50] IlyaFinkelshteyn opened #1408 "Add ability to manually specify repo when adding new project"
There are cases when repo list is not good enough -- new repos can be missed from list, it is a repo from outside of user's organizations. Textbox where user can enter `owner/repo` would be helpful. It is also good for very ling repos list.

[2017-03-17 21:31] refack opened #1409 "RDP not working with `image: Visual Studio 2017`"
I'm not able to RDP to workers running `image`: `Visual Studio 2017`.
Since it's a new image I'm suspicious...

[2017-03-17 21:51] refack opened #1410 "Visual studio 14.0 lacking VCTools on `image: Visual Studio 2017`"

[2017-03-17 21:54] IlyaFinkelshteyn commented on #1409
We have some inconsistent behavior with newly added servers which maps to higher port range. Can you please send us non-working port number and if build is still available do not cancel it for us to investigate?

If you already cancelled the build, please retry, it will most probably work next time.

[2017-03-17 21:56] refack commented on #1409
https://ci.appveyor.com/project/refack/windows-autoconf/build/1.0.116/job/w4wt6utw4dby797b

[2017-03-18 00:36] FeodorFitsner commented on #1410
There is VS 2015 with C++ support/tooling installed on `Visual Studio 2017` image.
Could you please elaborate on your issue? A simple repro project in a public repository would be a plus.

[2017-03-18 01:53] FeodorFitsner opened #1411 "Visual Studio 2017 update 15.0.26228.9"

[2017-03-18 02:35] refack commented on #1410
https://ci.appveyor.com/project/refack/windows-autoconf/build/1.0.115/job/kkjaevwluw0jh70e
This code looks for `vcvarsall.bat` in the install dir of `Visual Studio 14.0`.
After it kept failing I run it with the line
[code]
this is [the result](https://gist.github.com/refack/adaa97c92b07e81c5b44fb56a24dbb74). no `vcvarsall.bat`, and no `cl.exe`

[2017-03-18 03:04] FeodorFitsner commented on #1410
VS 2015 was installed after VS 2017 and only to support some backward-compatibility scenarios. Maybe the fact it was installed after VS 2017 is the reason VC tools are missing.

Anyway, `Visual Studio 2017` is not a cumulative update to `Visual Studio 2015` image and the whole purpose of it was VS 2017 + Docker to support newer projects.

If you need to build/test VS 2015 stuff please use `Visual

[2017-03-18 03:41] FeodorFitsner opened #1412 "Chrome 57.0"

[2017-03-18 03:43] FeodorFitsner opened #1413 "Firefox 52.0.1"

[2017-03-18 03:47] FeodorFitsner opened #1414 "Chrome Driver 2.28"

[2017-03-18 03:48] FeodorFitsner opened #1415 "IE Driver 3.3.0"

[2017-03-18 03:49] FeodorFitsner opened #1416 "Firefox Driver 0.15"

[2017-03-18 03:55] mzvast commented on #211
This works for me. It makes me crazy, so simple, but few example cover this.
//appveyor.yaml
[code]

[2017-03-18 12:39] mcintyre321 commented on #1179
Does anyone know a good way to set the `<PackageVersion>` in csproj to the AppVeyor build no? All my packages are building as `foo.1.0.0.nupkg`

[2017-03-18 12:53] refack commented on #1410
NP 🤷
Just update the docs (reduce frustration)

[2017-03-18 12:54] jbogard commented on #1179
Check out Serilog and its build and project file.

On Sat, Mar 18, 2017 at 7:39 AM Harry McIntyre <notifications@github.com>
wrote:

[2017-03-18 13:10] JSkimming commented on #1179
@mcintyre321 I got it working on a project [I manage](https://github.com/JSkimming/Castle.Core.AsyncInterceptor/blob/v1.2.1/appveyor.yml#L68-L69 "Build yml"). Essentially:

[code]

Here's the [documentation](https://docs.microsoft.com/en-us/nuget/schema/msbuild-targets#pack-target "NuGet pack and restore as MSBuild targets").

[2017-03-18 13:28] mcintyre321 commented on #1179
Thanks @jbogard and @JSkimming

I brute forced it with this `beforeBuild` script in the end

[code]

[2017-03-18 19:32] FeodorFitsner commented on #1404
Discussion about dealing with package version: https://github.com/appveyor/ci/issues/1179#issuecomment-287543426

[2017-03-18 21:28] onovotny commented on #1411
Possibly related to this, but it seems like some of the android API's are missing from the image? In the Android SDK manager, have all of the API's been enabled?

API 24, at the very least, seems missing, others may be too:
https://github.com/AzureAD/microsoft-authentication-library-for-dotnet/pull/243#issuecomment-287574076

[2017-03-18 21:35] FeodorFitsner commented on #1411
Is it installed with VS 2017 installer?

[2017-03-18 21:37] onovotny commented on #1411
The VS 2017 installer does not install all android SDK's :(. From within VS, you can launch the Android SDK manager (a Google tool) and select the SDK's to install.

[2017-03-18 22:45] hcodes commented on #1362
+1

[2017-03-18 23:11] FeodorFitsner commented on #1411
Will take a look.

[2017-03-19 17:21] FeodorFitsner opened #1417 "APPVEYOR_BUILD_WORKER_IMAGE environment variable"
Contains build worker image name, for example `Visual Studio 2015`.

[2017-03-19 20:10] domenkozar opened #1418 "Rename repo"
Could you please rename https://ci.appveyor.com/project/jagajaga/pos-haskell-prototype to `cardano-sl` as the github repo currently is named? Thanks!

[2017-03-19 20:18] FeodorFitsner commented on #1377
# Fixing "Microsoft.DotNet.Props was not found" error
.NET Core SDK 1.0.1 is now installed on `Visual Studio 2015` image. Various versions of .NET Core Runtime and SDK can work side-by-side and we plan to have the latest runtimes/SDKs always installed to `Visual Studio 2015` image, so CLI-oriented projects can benefit from it.

If you develop .NET Core app in Visual Studio 2015 which has "preview"

[2017-03-20 04:43] FeodorFitsner commented on #1411
We are going to deploy both API 24 and 25 to Visual Studio 2017 image, but for now you can install API 24 during the build with the following script:

[code]

[2017-03-20 05:56] IlyaFinkelshteyn commented on #1418
Done!

[2017-03-20 07:29] IlyaFinkelshteyn opened #1419 "Simplify providing more granular permissions per project"
[Forum discussion](http://help.appveyor.com/discussions/questions/3467-how-to-fault-find-issues-with-permissions-and-also-general-permission-usage)
For accounts with big number of projects and contributors, it is often needed to provide some group of people access to only one project. Doing this manually at project level is error prone and time consuming.

Some possible options how to make this be

[2017-03-20 07:29] IlyaFinkelshteyn opened #1420 "Add ‘Projects / View Settings permission for role."
[Forum discussion](http://help.appveyor.com/discussions/questions/3467-how-to-fault-find-issues-with-permissions-and-also-general-permission-usage)

[2017-03-20 16:19] FeodorFitsner opened #1421 "Windows Feature "Remote Differential Compression API Support""
Discussion: http://help.appveyor.com/discussions/suggestions/1214-software-request-windows-feature-remote-differential-compression-api-support

[2017-03-20 17:52] Thealexbarney commented on #1409
I can't connect via RDP even after retrying a few times. I currently have a dummy build running [here](https://ci.appveyor.com/project/Thealexbarney/xenobladesave).

[2017-03-20 17:55] Thealexbarney opened #1422 ".NET Core SDK 1.0.1"
The most current version of the SDK is version 1.0.1. It's the version offered for download on the [official download page](https://www.microsoft.com/net/core#windowscmd).

[2017-03-20 18:13] FeodorFitsner commented on #1422
Do you need 1.0.1 SDK on Visual Studio 2015 or Visual Studio 2017 image?

[2017-03-20 18:26] Thealexbarney commented on #1422
Me personally? The 2017 image.

It could be useful on the 2015 image as well since the .NET Core SDK doesn't depend on Visual Studio.

I don't know if it will conflict with the preview2 tools in VS 2015, but if the 1.0.0 release is already working when installed on the 2015 image, then the 1.0.1 release shouldn't have any issues.

[2017-03-20 18:46] FeodorFitsner commented on #1409
@Thealexbarney I've been able to RDP into [that build](https://ci.appveyor.com/project/Thealexbarney/xenobladesave/build/1.0.8) - as a proof I deleted text file on desktop to make it continue.

[2017-03-20 18:56] FeodorFitsner opened #1423 "Custom waiting timeout for Agent Deployment environment"
Discussion: http://help.appveyor.com/discussions/problems/6305-deployments-saying-0-agents-started-deployment-minimum-1-when-everything-else-appears-to-work

[2017-03-20 20:20] FeodorFitsner commented on #1404
Analyze `global.json` in the root of solution. If it doesn't exist then consider solution as the one based on SDK 1.0.0 with .csproj. .xproj-based solutions relying on "preview" SDKs won't be supported by AppVeyor "automatic" mode.

[2017-03-20 21:38] Thealexbarney commented on #1409
I asked others if they could connect to the build worker, and they couldn't either. I also tried using a different RDP client, and that didn't change anything.
Since you were able to connect to my earlier build after about 50 minutes, I tried waiting that long to see if maybe that changed anything, but it didn't.

[2017-03-20 21:40] FeodorFitsner commented on #1409
Please ping me next time you can't connect but don't cancel a build.

[2017-03-20 21:45] Thealexbarney commented on #1409
@FeodorFitsner I've started [another dummy build](https://ci.appveyor.com/project/Thealexbarney/xenobladesave/build/1.0.11) that just runs the enable-rdp script. I'm unable to connect to it.

[2017-03-20 21:52] FeodorFitsner commented on #1409
It worked again for me - I unblocked the build. Maybe that custom `34xxx` ports is the problem? Have you tried connecting from other locations?

[2017-03-20 22:04] FeodorFitsner commented on #1409
Can you please start another build (and check if you can connect) and let me know - *I* will check from a different location.

[2017-03-20 22:06] Thealexbarney commented on #1409
@FeodorFitsner [Here's](https://ci.appveyor.com/project/Thealexbarney/xenobladesave/build/1.0.12) another build.

I just now tried from multiple locations, Internet connections and computers, and none of them have worked.

[2017-03-20 22:07] FeodorFitsner commented on #1409
Checking...

[2017-03-20 22:10] krlmlr opened #1424 "curl not found from bash?"
Failing build: https://ci.appveyor.com/project/hadley/dplyr/build/1.0.658/job/e6m0q6eft5uhc2wu#L19

The relevant PowerShell code: https://github.com/krlmlr/r-appveyor/blob/ab7d1ae00ec293f1f7433cfbea25fb49846bda90/scripts/appveyor-tool.ps1#L92

I should be able to use PowerShell facilities instead, but it certainly would be easier for me if I just could continue using curl. Thanks.

[2017-03-20 22:11] FeodorFitsner commented on #1424
There is an explanation and solution: http://help.appveyor.com/discussions/problems/6312-curl-command-not-found#comment_42195491

[2017-03-20 22:13] krlmlr commented on #1424
Awesome, thanks!

[2017-03-20 22:13] #1424 closed

[2017-03-20 22:14] FeodorFitsner commented on #1409
OK, it looks like this is a firewall issue on our side. We are going to work with our data center to resolve that. Will let here know when it's OK.

[2017-03-20 22:51] ezyang opened #1425 "curl seems to have disappeared"
Compare https://ci.appveyor.com/project/23Skidoo/cabal/build/%233338%20(master) (3 days ago) with https://ci.appveyor.com/project/23Skidoo/cabal/build/%233339%20(master) (just now).

[2017-03-20 23:07] krlmlr commented on #1425
Duplicate of #1424?

[2017-03-20 23:16] ezyang commented on #1425
Yep, that's right!

A changelog note about this would be much appreciated!

[2017-03-20 23:16] #1425 closed

[2017-03-21 00:29] FeodorFitsner opened #1426 "curl.exe is not on PATH"
Previous versions of Git had `curl.exe` in `C:\Program Files\Git\usr\bin` folder which is added in `PATH` on build workers. The main reason it was on PATH was `ssh.exe` utility Git (and Mercurial) required to fetch repo via SSH.

Now, `curl.exe` has gone from `C:\Program Files\Git\usr\bin` and left in `C:\Program Files\Git\mingw64\bin` only. To fix the build add this to your `appveyor.yml`:

[code

[2017-03-21 00:37] jakirkham commented on #1426
Would it be possible to copy it back? Even when I say it, I know it sounds pretty hacky. Just thinking of the best way to fix things quickly given this change.

[2017-03-21 00:39] FeodorFitsner commented on #1426
Yes, we are going to fix that by adding `C:\Program Files\Git\mingw64\bin` to `PATH`.

[2017-03-21 00:40] jakirkham commented on #1426
Out of curiosity is there anything else of note in that directory?

[2017-03-21 00:42] FeodorFitsner commented on #1426
https://ci.appveyor.com/project/FeodorFitsner/simple-console/build/1.0.2670#L392

[2017-03-21 00:44] jakirkham commented on #1426
Thanks. There are a few things that could clash. Though we make sure are stuff is searched first. So I don't think it will be an issue.

[2017-03-21 00:47] FeodorFitsner commented on #1426
Does curl.exe depend on some other libs/dlls or it's standalone exe? Maybe we could just copy it somewhere under `C:\Tools` and add that folder into PATH?

[2017-03-21 00:56] jakirkham commented on #1426
From my notes, it could be linked to zlib.

[2017-03-21 01:15] FeodorFitsner commented on #1422
We've deployed .NET Core SDK 1.0.1 to VS 2017 image. The image is being copied at the moment. Will be available in hour or so.

I'm going to close this ticket when it's done.

[2017-03-21 04:36] FeodorFitsner commented on #1404
Providing nuspec to `dotnet pack` command: https://github.com/appveyor/ci/issues/1404

[2017-03-21 04:52] #1422 closed

[2017-03-21 05:16] FeodorFitsner opened #1427 "Firefox Selenium tests are broken on Visual Studio 2017 image"

[2017-03-21 06:20] FeodorFitsner opened #1428 "Git 2.12.0 does not support long paths (regression)"
Reproduce build: https://ci.appveyor.com/project/FeodorFitsner/git-long-paths/build/1.0.4

Related Git issue: https://github.com/git-for-windows/git/issues/1095

Solution: Install Git 2.12.1

Temp workaround - installing Git 2.12.1 during the build:

[code]

Green build with workaround applied: https://ci.appveyor.com/project/FeodorFitsner/git-long-paths/build/1.0.12

[2017-03-21 15:59] FeodorFitsner commented on #1409
It's been fixed. Sorry for inconveniences.

[2017-03-21 15:59] #1409 closed

[2017-03-21 16:25] FeodorFitsner opened #1429 "Git LFS 2.0.1 regression"
Git LFS issue: https://github.com/git-lfs/git-lfs/issues/2029

Temp workaround - installing Git LFS 1.5.6 during the build:

[code]

[2017-03-21 16:54] Diggsey commented on #1426
This is really unhelpful! Can't you make updates to the system images be manual, so that we can deal with changes at a convenient time?

[2017-03-21 17:12] avh4 commented on #1426
Thanks for the quick updates!  The suggested workaround had me up and running again in a few minutes.

[2017-03-21 17:56] IlyaFinkelshteyn opened #1430 "Better communication on build worker updates"
We need a better way to inform people about the fact that new build worker image is deployed. Thus people can switch to "Previous" images as mitigation faster.

Possible options are:
- notify that build worker was updated in build log (warning) or/and in UI
- maybe we can add some logic which will check if build was green before update and failed after

[2017-03-21 17:57] IlyaFinkelshteyn commented on #1426
@Diggsey sorry for the trouble. We need to make this experience better and filed https://github.com/appveyor/ci/issues/1430

[2017-03-21 18:02] FeodorFitsner opened #1431 "curl 7.53.1"
`curl` will be installed to all AppVeyor build workers into separate folder and added to `PATH`.

* Download location: https://bintray.com/vszakats/generic/curl/7.53.1
* Installation location: `C:\Tools\curl`
* Should be added into beginning of `PATH` variable to have highest priority
* Update installed software page on website
* Check that pre-installed curl is not conflicting with the one instal

[2017-03-21 18:07] FeodorFitsner commented on #1426
We're going to have `curl` installed on build workers and added to `PATH`: https://github.com/appveyor/ci/issues/1431

[2017-03-21 18:11] FeodorFitsner opened #1432 "Cleanup PATH variable"
Remove some unused entries from `PATH` environment variables:

[code]

[2017-03-21 18:14] Diggsey commented on #1430
The "Previous" images system is not a good mechanism, it creates a lot of churn:
- image updated
- build fails
- find cause of failure
- find relevant appveyor issue to make sure
- open PR to update appveyor script to use "Previous" image
- wait for tests to pass
- merge PR
- fix underlying issue
- open PR with fix and update appveyor images
- wait for tests to pass
- merge PR

Now we're back wher

[2017-03-21 18:19] asottile commented on #1428
Hitting this here:
- https://ci.appveyor.com/project/asottile/pre-commit-hooks/build/job/1vwlw26ni3nkpjmn
- https://github.com/pre-commit/pre-commit-hooks/pull/188

[2017-03-21 22:14] FeodorFitsner opened #1433 "Git 2.12.1"
Installing Git 2.12.1 will fix regression with long paths: https://github.com/appveyor/ci/issues/1428

[2017-03-21 22:15] FeodorFitsner commented on #1428
We are going to install Git 2.12.1 fixing the issue with long paths: https://github.com/git-for-windows/git/issues/1095#issuecomment-288209612

[2017-03-22 11:15] PeterMTaylor commented on #1150
Just letting you know I got a successful run with using image from WMF 5 to Visual Studio 2017. Thanks for that.

[2017-03-22 15:14] brianlagunas commented on #1083
Any update on this issue?  My repo has 4 projects, but only one status is shown.  So if only one project build is broken and fails, I still get a green light because the other three project builds passed.  This is not good and is very misleading.

[2017-03-22 16:35] alberthdev opened #1434 "Update build cache after failure"
Currently, the behavior seems to be that if the build fails in some way, the build cache will not be uploaded. Is this intended behavior, and if so, is there any way it could be adjusted?

(I'm using the build cache to detect if the last build succeeded or not - not the best way to do it for sure, but it works!)

[2017-03-22 16:55] IlyaFinkelshteyn commented on #1434
Hi Albert,

Please check [this](https://gist.github.com/IlyaFinkelshteyn/03fb15779904c50ea19b6d348a76e29c) sample on how to get last build status from build with API.

[2017-03-22 19:30] #1366 closed

[2017-03-22 21:32] IlyaFinkelshteyn commented on #1337
It is in production now, and [documentation updated](https://www.appveyor.com/docs/deployment/agent/#global-settings)
However we see [possible race conditions](http://help.appveyor.com/discussions/problems/6305-deployments-saying-0-agents-started-deployment-minimum-1-when-everything-else-appears-to-work) so we also will add `agents_timeout`  in next update (watch https://github.com/appveyor/ci/iss

[2017-03-22 21:32] #1337 closed

[2017-03-22 23:05] IlyaFinkelshteyn commented on #1313
We should fix another problem in the same change. We do not support more than one GitHub team per user per account. So people should be able to seamlessly switch between `Account / GitHub team` options, not just account.

[2017-03-22 23:08] TravisEz13 commented on #1313
@IlyaFinkelshteyn  This is what I intended to say.

[2017-03-22 23:12] IlyaFinkelshteyn commented on #1313
It should be actually `Account / AppVeyor role` (sorry for confusion), in this case person who is member of a few GitHub teams (which in turn granted different roles) can select not only account but role too.

This will help to fix limitation described [here](https://www.appveyor.com/docs/team-setup/#understanding-relationship-between-github-team-and-appveyor-role)

[2017-03-22 23:34] #1084 closed

[2017-03-22 23:34] #1345 closed

[2017-03-22 23:34] #1351 closed

[2017-03-22 23:34] #1357 closed

[2017-03-22 23:34] #1358 closed

[2017-03-22 23:34] #1376 closed

[2017-03-22 23:34] #1377 closed

[2017-03-22 23:34] #1385 closed

[2017-03-22 23:34] #1393 closed

[2017-03-22 23:34] #1395 closed

[2017-03-22 23:34] #1399 closed

[2017-03-22 23:34] #1400 closed

[2017-03-22 23:34] #1401 closed

[2017-03-22 23:34] #1402 closed

[2017-03-22 23:34] #1403 closed

[2017-03-22 23:34] #1407 closed

[2017-03-22 23:34] #1411 closed

[2017-03-22 23:34] #1412 closed

[2017-03-22 23:34] #1413 closed

[2017-03-22 23:34] #1414 closed

[2017-03-22 23:34] #1415 closed

[2017-03-22 23:34] #1416 closed

[2017-03-22 23:36] #1362 closed

[2017-03-22 23:36] #1417 closed

[2017-03-22 23:37] ai commented on #1362
Done? I can add `APPVEYOR_JOB_NUMBER` to Yaspeller CI?

[2017-03-22 23:38] FeodorFitsner commented on #1362
Yes! 😃

[2017-03-22 23:52] IlyaFinkelshteyn opened #1435 "APPVEYOR_PULL_REQUEST_REPO_NAME and APPVEYOR_PULL_REQUEST_REPO_BRANCH variables"
[Discussion](http://help.appveyor.com/discussions/questions/3292-getting-github-branch-name)

Exact variable names:

* `APPVEYOR_PULL_REQUEST_REPO_NAME`
* `APPVEYOR_PULL_REQUEST_REPO_BRANCH`

Also according to [another discussion](http://help.appveyor.com/discussions/problems/6531-environment-variable-to-get-head-of-pull-request-being-built) we might need to add
* `APPVEYOR_PULL_REQUEST_HEAD_COMMI

[2017-03-23 00:15] IlyaFinkelshteyn commented on #1397
Check `pr` URL parameter in [docs](https://www.appveyor.com/docs/packaging-artifacts/#permalink-to-the-last-successful-build-artifact)

[2017-03-23 00:18] #1397 closed

[2017-03-23 00:33] #1236 closed

[2017-03-23 00:34] #1418 closed

[2017-03-23 00:36] FeodorFitsner opened #1436 "Node.js 4.8.1, 6.10.1, 7.7.4"

[2017-03-23 01:12] IlyaFinkelshteyn commented on #1394
[Documented here](https://www.appveyor.com/docs/build-cache/#skipping-cache-operations-for-specific-build)

[2017-03-23 01:12] #1394 closed

[2017-03-23 03:01] IlyaFinkelshteyn commented on #1387
Done and [doc updated](https://www.appveyor.com/docs/deployment/amazon-s3/)

[2017-03-23 03:01] #1387 closed

[2017-03-23 03:03] IlyaFinkelshteyn commented on #1242
Done, [doc](https://www.appveyor.com/docs/deployment/amazon-s3/) updated

[2017-03-23 03:03] #1242 closed

[2017-03-23 10:53] darrenscerri opened #1437 "Intermittent EPERM issues using npm link"
Am trying to resolve an issue with a build failing for https://github.com/facebookincubator/create-react-app for branch `0.9.x`. I've been trying to fix it on my fork https://github.com/darrenscerri/create-react-app.

The build fails nearly every time at the same place, but occasionally passes for the same commit.

<img width="1000" alt="screen shot 2017-03-23 at 11 50 44" src="https://cloud.githu

[2017-03-23 13:40] piem commented on #1431
hi! is there an estimated time-frame for this one?

many thanks, piem

[2017-03-23 13:45] piem commented on #1431
oh, I see the 26-Mar-2017 milestone now. cheers!

[2017-03-23 15:42] stevenmaguire commented on #67
How close are we on this? 😄

[2017-03-23 15:49] FeodorFitsner opened #1438 "Git LFS 2.0.2"
Git LFS 2.0.2 fixing regression: https://github.com/appveyor/ci/issues/1429

[2017-03-23 16:52] FeodorFitsner commented on #1437
Will take a look.

[2017-03-23 16:55] FeodorFitsner opened #1439 "Azure SDK 2.9.6"

[2017-03-23 16:56] FeodorFitsner opened #1440 "Azure SDK 3.0"
Azure SDK 3.0 release notes: https://docs.microsoft.com/en-us/azure/app-service-web/azure-sdk-dotnet-release-notes-3-0

[2017-03-23 17:00] FeodorFitsner opened #1441 "Azure Storage Emulator 5.1"
Update script:

[code]

[2017-03-23 18:04] FeodorFitsner opened #1442 "Azure Service Fabric SDK 2.5.216 with Runtime 5.5.216"

[2017-03-23 20:30] FeodorFitsner opened #1443 "Docker base images updated (March)"
[code]

Update images:

[code]

Testing images:

[code]

[2017-03-23 20:53] mloskot opened #1444 "Document how to setup Visual Studio build environments (x86, x64)"
There are several questions on help.appveyor.com about how to properly configure build environments to directly run Visual Studio toolset programs (`cl.exe`, `link.exe`, `nmake.exe`). This is necessary when building a project with NMAKE and makefiles, CMake with "NMake Makefiles" generator and perhaps some other builders.

It would be good if the commands necessary to run can make it into the docs

[2017-03-23 23:36] FeodorFitsner opened #1445 "Xamarin 4.3.0.789"

[2017-03-23 23:43] IlyaFinkelshteyn commented on #1444
It would be great if you can contribute to our docs, our website is open source!

[2017-03-23 23:52] mloskot commented on #1444
Yes and [I did that several times](https://github.com/appveyor/website/pulls/mloskot), but in this case I have no idea where such info belongs to,  which page, section.

[2017-03-24 00:32] IlyaFinkelshteyn commented on #1444
What do you think about creating C++ related page at https://github.com/appveyor/website/tree/master/src/docs/lang?

[2017-03-24 01:04] FeodorFitsner commented on #1437
Hi Darren,

I did some tests and got more or less consistent successful results on `Visual Studio 2017` image: https://ci.appveyor.com/project/FeodorFitsner/create-react-app/history

I'm not sure about the reason it works "better" on Visual Studio 2017 image - maybe because it's based on Windows Server 2016 and built-in antivirus (Windows Defender) is explicitly disabled there. Maybe it's because

[2017-03-24 04:16] alberthdev commented on #1434
Thanks for the sample! This looks like a much easier solution, and I'll aim for using this method for detecting past build failure!

Regarding regular build cache use (e.g. not detecting build success/failure), is the current build cache behavior going to stay? Just wanted some clarification in case I use the build cache in the future!

[2017-03-24 08:46] darrenscerri commented on #1437
Tests are passing now! Thanks for the help Feodor, much appreciated!

[2017-03-24 08:56] darrenscerri commented on #1437
Unfortunately, the [build from my repo](https://ci.appveyor.com/project/darrenscerri/create-react-app/build/1.0.21) succeeded but the [pull request](https://ci.appveyor.com/project/Facebook/create-react-app/build/1.0.399) didn't. Noticed that the error is the same error in [one of your build](https://ci.appveyor.com/project/FeodorFitsner/create-react-app/build/1.0.24) while you were trying VS2017.

[2017-03-24 09:49] ai commented on #1362
Thanks, [implemented](https://github.com/ai/yaspeller-ci/commit/0150d295ae84b05707f1667510531494eb9b195b) it in `yaspeller-ci` 0.4.

[2017-03-24 09:59] NaxAlpha opened #1446 "CoApp Support"
Hi,

[CoApp](http://coapp.org/) is better alternative to writing NuGet for C/C++. But it is not pre installed on AppVeyor. I tried to install it by myself but it didn't work. Following is code in post build:

    Invoke-WebRequest -OutFile CoApp.Tools.Powershell.msi http://coapp.org/files/CoApp.Tools.Powershell.msi
    Start-Process -FilePath ".\CoApp.Tools.Powershell.msi" -ArgumentList "/passive"

[2017-03-24 12:40] mloskot commented on #1444
@IlyaFinkelshteyn Done

[2017-03-24 12:40] #1444 closed

[2017-03-24 17:41] FeodorFitsner commented on #1437
It might be something module-specific. In the most cases it's racing condition.
Try using retry - we have a special `appveyor-retry` script that can be used like `appveyor-retry npm install`.

[2017-03-24 17:48] FeodorFitsner commented on #1446
Corrected installation script that worked for me:

[code]

[2017-03-24 17:48] #1446 closed

[2017-03-24 18:20] NaxAlpha commented on #1446
Thanks a lot. That really helped!

[2017-03-24 19:51] johnthagen opened #1447 "Error downloading remote file using Start-FileDownload"
Lately it builds seem to be breaking do to `Start-FileDownload` not working when trying to download `rustup`. Outside of Appveyor the downloads seem valid though.

https://ci.appveyor.com/project/johnthagen/rust-belt/build/1.0.431/job/9i565stpt22gm6gu

[code]

[2017-03-24 20:21] IlyaFinkelshteyn commented on #1434
We are thinking on more general change in this direction. We need provide customers with more flexible scenarios not only for cache step. One idea is to implement `goto` functionality, another is custom steps order. We have no good vision yet, but yes we need scenario to be more flexible.

[2017-03-24 21:26] IlyaFinkelshteyn commented on #1447
Seems like they hardened SSL policy. I sent a PR, which is basically about forcing .NET WebRequest to use Tls2:
[code]

[2017-03-24 21:30] FeodorFitsner commented on #1447
Alternatively, install `curl` with Chocolatey:

[code]

Actually, curl is coming back to image later this week: https://github.com/appveyor/ci/issues/1431

[2017-03-24 21:31] #1447 closed

[2017-03-24 22:12] FeodorFitsner commented on #1179
`Visual Studio 2017 RC` image has been removed. Please switch to `Visual Studio 2017` image.

[2017-03-24 22:12] #1179 closed

[2017-03-24 22:13] FeodorFitsner commented on #1150
`Windows Server 2016` image has been removed. Please adjust your builds to use `Visual Studio 2017` image instead which is based on Windows Server 2016 with Docker installed.

[2017-03-24 22:13] #1150 closed

[2017-03-24 22:41] patrikhuber commented on #1209
@FeodorFitsner Could you have a quick look at this please? It would be really simple and help our project a lot. Thanks.

[2017-03-25 11:34] darrenscerri commented on #1437
Ok closing this issue then. Thanks a lot!

[2017-03-25 11:34] #1437 closed

[2017-03-26 05:03] Cheesebaron opened #1448 "VS 2017 Image does not contain Xamarin"
When building a Xamarin.iOS library we get the following error:

[code]

[2017-03-26 05:24] FeodorFitsner commented on #1448
Visual Studio 2017 targets for iOS are located in `C:\Program Files (x86)\Microsoft Visual Studio 2017\Community\MSBuild\Xamarin\iOS` folder. If you create a new iOS library project in VS 2017 it compiles perfectly fine on `Visual Studio 2017` image. Was your project created in VS 2017? Can you share a link to its repo (if it's public) or make a simple repro in a public repository?

[2017-03-26 06:17] Cheesebaron commented on #1448
This is a project which was created long ago. The repo is the linked issue https://github.com/MvvmCross/MvvmCross/issues/1657

It builds fine on my desktop where I have both VS2015 and VS2017 installed. Haven't tried on a clean install though.

[2017-03-26 06:24] Cheesebaron commented on #1448
Looking at the log it can't find the targets for Xamarin.Android either. I was not aware that the path had changed to *C:\Program Files (x86)\Microsoft Visual Studio 2017\\{VSType}\MSBuild\Xamarin\iOS*

[2017-03-26 06:29] Cheesebaron commented on #1448
@FeodorFitsner how does the targets line look like in your VS2017 project?

[code]

[2017-03-26 15:55] Rondom commented on #1435
I hope it is okay to mention another issue here.
If you decide to implement this issue, it would not be much work to implement the "before-push-sha1" as well, because both enhancements are done probably in the same parts of the code.
#1157

[2017-03-26 16:34] FeodorFitsner commented on #1157
By "previous commit" you understand commit ID of the last build?

[2017-03-26 17:09] Rondom commented on #1157
No, the commit-id "before the push" i.e. the tip of the branch before the push. See the links I posted to the GitHub, GitLab and BitBucket documentation on how to get it.
1. I push a new branch with an initial commit `A` to my remote
2. I commit three new commits, `B`, `C `and `D`
3. I push to the remote again. My remote branch would look like this: `A-B-C-D`. The `before` / `old` commit-id would

[2017-03-26 20:26] thomaslevesque commented on #1313
Is this change on the roadmap? It's really annoying to logout and relogin all the time to switch between org projects and personal projects.

[2017-03-26 20:48] thomaslevesque opened #1449 "Same tests for different frameworks are only counted once"
After migrating 2 projects to .NET Standard, I noticed that when running the same tests for different frameworks, the tests are only counted once. For instance, my test project has two target frameworks: `netcoreapp1.0` and `net461`. The tests use xUnit and are run with `dotnet test`. The output looks like [this](https://ci.appveyor.com/project/thomaslevesque/nstring/build/1.0.34):

[code]

There

[2017-03-26 21:24] ColinPitrat commented on #827
One option is to create the tag with a date far in the future.
For example, if your tag is named latest:
`
GIT_COMMITTER_DATE="Thu Dec 31 23:59:59 GMT 2099" git tag -a latest -m latest
git push -f origin latest
`

Apparently, you cannot use a date after year 2100 hence the choice of Dec 31, 2099.
I just started using it so I may have missed some drawbacks but it seems to work well.

[2017-03-26 21:25] asottile commented on #1428
It seems that even with 2.12.1 there's this additional (related) issue: https://github.com/git-for-windows/git/issues/1106

[2017-03-26 23:43] FeodorFitsner commented on #1428
If `git diff` affects your build you can switch back to 2.11.0 during the build: https://github.com/appveyor/ci/issues/1428#issue-215639767

[2017-03-27 03:20] FeodorFitsner commented on #1157
So, basically it's `before` SHA from push webhook payload https://developer.github.com/v3/activity/events/types/#pushevent, right?

[2017-03-27 08:40] Rondom commented on #1157
Exactly, `before` for [GitHub](https://developer.github.com/v3/activity/events/types/#pushevent ) and [GitLab](https://gitlab.com/gitlab-org/gitlab-ce/blob/master/doc/web_hooks/web_hooks.md#push-events), `old.target.hash` for [BitBucket](https://confluence.atlassian.com/bitbucket/event-payloads-740262817.html#EventPayloads-Push) and `refUpdates.oldObjectId` for [Visual Studio Online](https://www.v

[2017-03-27 10:17] trygvelo commented on #1081
Any news on this?

[2017-03-27 18:55] IlyaFinkelshteyn commented on #1313
I cannot say specific ETA, but given the pain it brings to our customers we definitely increased it priority and  it should be done in visible future. Sorry once again for vague terminology ;)

[2017-03-27 19:21] thomaslevesque commented on #1313
@IlyaFinkelshteyn thanks for your reply. Good to know that it's on your radar!

[2017-03-27 21:55] IlyaFinkelshteyn opened #1450 "Show if some other builds are running for queued builds"
Often build is waiting in queue because all concurrent jobs are occupied by other builds in the same account. However it is not easy for customer to see it, as this can happen under different projects. We need to display it clearly.

[2017-03-28 00:00] FeodorFitsner opened #1451 "Git 2.12.2"

[2017-03-28 00:28] IlyaFinkelshteyn commented on #1449
Hi Thomas,

Thank you for catching this issue! Workaround is to use [build matrix](https://www.appveyor.com/docs/build-configuration/#build-matrix) to have separate builds job against each target framework.

But let us please keep this issue open as we need to make it work transparently for cases like yours.

Ilya.

[2017-03-28 00:54] IlyaFinkelshteyn commented on #1448
Please try to run your build in call VS command prompt environment by adding this into your build configuration:
[code]

[2017-03-28 02:13] IlyaFinkelshteyn opened #1452 "Install MSYS on Visual Studio 2017 image"

[2017-03-28 07:49] thomaslevesque commented on #1449
Thanks, I'll give it a try

[2017-03-28 08:51] thomaslevesque commented on #1449
OK, I tried it: no luck. The first job shows 100 tests, the second shows none.
https://ci.appveyor.com/project/thomaslevesque/nstring/build/1.0.35

[2017-03-28 09:15] Cheesebaron commented on #1448
[code]

[2017-03-28 16:20] IlyaFinkelshteyn commented on #1448
Please send us full YAML file to check

[2017-03-28 17:02] #1426 closed

[2017-03-28 17:02] #1428 closed

[2017-03-28 17:02] #1431 closed

[2017-03-28 17:02] #1432 closed

[2017-03-28 17:02] #1433 closed

[2017-03-28 17:02] #1436 closed

[2017-03-28 17:02] #1440 closed

[2017-03-28 17:02] #1441 closed

[2017-03-28 17:02] #1442 closed

[2017-03-28 17:02] #1443 closed

[2017-03-28 17:02] #1445 closed

[2017-03-28 17:03] Cheesebaron commented on #1448
https://github.com/MvvmCross/MvvmCross/blob/develop/appveyor.yml

[2017-03-28 17:23] asottile commented on #1428
This seems not yet fixed: https://ci.appveyor.com/project/asottile/pre-commit/build/job/2w93igc7u1lsrdxd

[2017-03-28 17:30] FeodorFitsner commented on #1428
@asottile How is that error related to git long paths issue? Could you please collaborate?

[2017-03-28 17:56] FeodorFitsner commented on #1449
Will take a look.

[2017-03-28 18:18] thomaslevesque commented on #1449
I thought only the tests for the first job were recorded, but I tried to change the order, and now only the tests for the _second_ job are recorded... `netcoreapp1.0` tests are taken into account, but not `net461` tests.

https://ci.appveyor.com/project/thomaslevesque/nstring/build/42

[2017-03-28 18:43] FeodorFitsner opened #1453 "Inconsistent test results"
Discussion: http://help.appveyor.com/discussions/problems/6117-some-unit-tests-are-skippednot-finished
Affected project: https://ci.appveyor.com/project/Takumii/markify/history

[2017-03-28 19:18] asottile commented on #1428
See https://github.com/git-for-windows/git/issues/1106 (Linked above in https://github.com/appveyor/ci/issues/1428#issuecomment-289317615)

[2017-03-28 20:04] FeodorFitsner commented on #1428
Ah, it's `git diff` issue. I've closed this one because it was related to long paths.

Have you tried installing Git 2.12.2 during the build? Was `git diff` issue fixed in 2.12.2?

[2017-03-28 20:37] asottile commented on #1428
The `git diff` issue is also related to long paths (why I commented here :D)

I'm trying this patch,

[code]

https://ci.appveyor.com/project/asottile/pre-commit/build/job/o5vfy5pli2ncu0pg

Trying 2.21.1:

[code]

Still fails: https://ci.appveyor.com/project/asottile/pre-commit/build/job/b5mixcxa1rqb75c5

[2017-03-28 21:25] asottile commented on #1428
Yes still failing with 2.12.2: https://ci.appveyor.com/project/asottile/pre-commit/build/job/nbdhks1ip79fiykq

(Via your comment on this ticket: https://github.com/git-for-windows/git/issues/1106#issuecomment-289902947)

[2017-03-28 21:32] FeodorFitsner commented on #1428
OK, try enabling long paths then by:

[code]

[2017-03-28 21:40] asottile commented on #1428
Still failing:

https://ci.appveyor.com/project/asottile/pre-commit/build/job/igw9a55t6vtcc1wu

[2017-03-28 21:55] IlyaFinkelshteyn commented on #1448
My bad, I sent wrong sample, it should be single-quoted:
[code]
Note that you can test and fix YAML using https://ci.appveyor.com/tools/validate-yaml

[2017-03-29 01:02] IlyaFinkelshteyn commented on #1381
Maybe this is related to https://github.com/NuGet/Home/issues/4778?

[2017-03-29 08:23] Cheesebaron commented on #1448
https://ci.appveyor.com/project/MvvmCross/mvvmcross/build/1.0.166 still fails.
https://github.com/MvvmCross/MvvmCross/pull/1657/commits/ceacbd0af8dc6ab1cc3aff333d0867d696f4fb42

Are we just going to play around until it works or what?

[2017-03-29 09:29] olegtarasov commented on #342
I've used a workaround for my project: every time a build starts, I download and install slimmed down version of CUDA toolkit and then build the project. The steps are outlined here: https://www.olegtarasov.me/build-cuda-projects-with-appveyor

[2017-03-29 13:22] asottile commented on #1428
An additional failure mode: https://ci.appveyor.com/project/asottile/aspy/build/1.0.17/job/diath3ouqva9ouej

[2017-03-29 13:47] ahilliker commented on #295
This feature would save a lot of .yml complexity.  I would also love to see this happen.  Thanks!

[2017-03-29 16:08] FeodorFitsner commented on #1448
Correct command has two sets or quotes around it:

[code]

Outer single quotes make yaml happy and inner double quotes are for CMD 😄

[2017-03-29 16:14] FeodorFitsner opened #1454 "Silverlight SDK 4"

[2017-03-29 18:24] FeodorFitsner commented on #1428
OK, I've got a faster workaround script to get back to 2.11.1 during the build:

[code]

aspy.yaml build works with it: https://ci.appveyor.com/project/FeodorFitsner/aspy-yaml

Watch that issue in Git repo to get notified when it's fixed.

[2017-03-29 19:11] Cheesebaron commented on #1448
That helped on that particular command. However, NuGet.exe won't do its job:

https://ci.appveyor.com/project/MvvmCross/mvvmcross/build/1.0.168

[2017-03-29 21:17] IlyaFinkelshteyn opened #1455 "AWS SDK for .NET with AWS Tools for Windows 3.3.69"
Original discussion: http://help.appveyor.com/discussions/suggestions/1230-aws-tools-for-windows-version-and-reference-xunit20-in-powershell

[2017-03-29 22:09] olevett opened #1456 "VS2017 Image missing "Reference Assemblies" for Xamarin targets"
On the VS2015 images, under `C:\Program Files (x86)\Reference Assemblies\Microsoft\Framework` there are some targets for Xamarin (MonoAndroid, MonoTouch, Xamarin.iOS etc) but these are missing on the VS2017 images. On my local machine (Windows 10, VS2017 relatively recent install) I've got the relevant targets, but I'm not entirely certain where they come from.

VS2017 image
![image](https://cloud

[2017-03-29 22:13] olevett commented on #1456
I think, but I'm not certain, these come with the "Xamarin" standalone installer (https://dl.xamarin.com/installer/XamarinInstaller.exe) which appears to be present on 2015 but not 2017.

[2017-03-29 22:21] onovotny commented on #1456
You don't need the XamarinInstaller on 2017--they're packaged differently there. With VS 2017, they need to make sure the Xamarin workload is installed, but it should be?

[2017-03-29 22:26] IlyaFinkelshteyn commented on #1456
Please check `C:\Program Files (x86)\Microsoft Visual Studio\2017\Community\MSBuild\Xamarin` folder. Also please note that if your solution works locally with VS 2017 RC, you may hit some issues on AppVeyor, where we have RTM version now.

[2017-03-29 23:34] FeodorFitsner commented on #1453
I did some investigation. At first, I thought it's the same issue when AppVeyor build agent was unable to post all test results to https://ci.appveyor.com service. However, I enabled RDP and found out that there were no errors sending test results to AppVeyor UI.

Then I added counters for added/updated tests into build agent to see how many tests are submitted by xUnit to [AppVeyor Build Worker A

[2017-03-30 00:48] FeodorFitsner commented on #1449
Actually, only `net461` tests are not being reported to AppVeyor: https://ci.appveyor.com/project/FeodorFitsner/nstring/build/8#L173

@onovotny Do you know why `dotnet test` results reporting doesn't work for xUnit test assemblies targeting `net461`?

[2017-03-30 01:38] IlyaFinkelshteyn commented on #1448
Tomasz,

Let us indeed stop "play around until it works" for a moment and clarify what we want to achieve.
Solution was build OK on `Visual Studio 2017 RC` because that image was basically `Visual Studio 2015` with `Visual Studio 2017 RC` installed on top of it. Your local computer is probably has the same history, and that's why it worked on `Visual Studio 2017 RC` image and works on your compute

[2017-03-30 07:43] martijn00 commented on #1448
I've got a clean Windows 10 machine with only VS2017 installed. I've got these workloads installed:
* Universal windows development
*  .NET Desktop development
* ASP.NET and web development
* Mobile development with.NET (Xamarin)
* Visual studio extension development
* .NET Core cross platform development

I can build my solution without problems, but when building on AppVeyor, it has the same pro

[2017-03-30 09:10] Julien-Pires commented on #1453
It seems that OpenCover isn't innocent. I've tried a build with no code coverage and every tests have passed successfully. Here is the build result :
 https://ci.appveyor.com/project/Takumii/markify/build/1.0.407/job/3f389xslt46v62yw
And here the branch with OpenCover disabled :
https://github.com/Julien-Pires/Markify/tree/no-code-coverage

You can see that 539 tests has passed contrary to around

[2017-03-30 12:15] martijn00 commented on #1456
This seems to be the same issue as: https://github.com/appveyor/ci/issues/1448

[2017-03-30 12:19] onovotny commented on #1448
You should not need to install Xamarin bits for VS 2015. Those are only there for some older Win8 reference assms. Installing the Xamarin workload from the VS 2017 installer should be sufficient.

[2017-03-30 12:21] onovotny commented on #1448
Lets take a step back there, because I don't think VS 2015 has anything to do with this.

[2017-03-30 12:22] martijn00 commented on #1448
@onovotny So you are saying the Xamarin workload is installed on Appveyor? What's the difference with our project and any other random Xamarin project that does build?

[2017-03-30 12:23] martijn00 commented on #1448
I think this is an issue with the VS2017 machine. We have no connections to VS2015 or older Windows parts like wp8 in our code base.

[2017-03-30 12:23] onovotny commented on #1448
@martijn00 I'm not saying there isn't an issue with the current image, I'm just saying that there shouldn't be anything to do with VS 2015's install or not.

[2017-03-30 12:27] martijn00 commented on #1448
Right. Also because i can build this perfectly fine on my machine which just has VS2017RTM, never had VS2015 on it.

[2017-03-30 12:32] olevett commented on #1456
So I've found what's mostly the same `C:\Program Files (x86)\Microsoft Visual Studio\2017\Community\Common7\IDE\ReferenceAssemblies\Microsoft\Framework\MonoAndroid` which should resolve it for me - I don't think this is quite the same as #1448 in that we can successfully build an iOS project on the 2017 images.

[2017-03-30 12:34] onovotny commented on #1456
This makes sense as VS 2017 is SxS.

[2017-03-30 12:43] Cheesebaron commented on #1448
I just made a fresh VM with Windows 10 Pro + VS2017, nothing else. It builds just fine.

Had to do some changes to the Cake bootstrapper for it to restore NuGets which I also did in the repo now. Now the build fails on updating the AppVeyor build number...

https://ci.appveyor.com/project/MvvmCross/mvvmcross/build/4.5.0-PullRequest.1657+2000.build.173

[2017-03-30 13:15] Cheesebaron commented on #1448
This might be useful: http://cakebuild.net/blog/2017/03/vswhere-and-visual-studio-2017-support

It still puzzles me, why the exact same script works fine on a clean Win 10 + VS2017 machine and not the AppVeyor environment...

[2017-03-30 15:54] FeodorFitsner commented on #1453
OK, thanks for the update! I think it makes sense to close this issue then as it's more related to OpenCover.

[2017-03-30 17:39] FeodorFitsner commented on #1448
@martijn00, @Cheesebaron OK, I've provisioned a new VM with "Visual Studio Community 2017 and Windows Server 2016" from Azure catalog and tried building `develop` branch of [XamarinMediaManager](https://github.com/martijn00/XamarinMediaManager/tree/develop) project. It fails with similar errors as on AppVeyor. Here is the screenshot:

![image](https://cloud.githubusercontent.com/assets/5041459/245

[2017-03-30 18:59] FeodorFitsner opened #1457 "Node.js 7.8.0"